<head>
	<% title "The Who, What, When, Where, Why, and How's of CSS" %>
	<% description 'A close examination of everything about CSS.  From what it is used for to how it works to the best places to learn it.  Also, a tutorial on the bare minimum of CSS you need to know to create a basic web page.' %>
	<% keywords 'codingko, web development, computer programming, development, programming, tutorials, web development tutorials, html, css, javascript, ruby, ruby on rails, python' %>
</head>

<div class="css-body">
    <header>
        <h1 id="css-head">The Who, What, When, Where, Why, and How's of CSS</h1><br>
        <h4 id="css-by">By: Kenneth Olsen</h4>
    </header>

    <p id="css-intro">Hello! Welcome two part 2 of the "Who, What, When, Where, When, Why, and How's of Programming".  Last time, we took a deep dive into HTML and learned, in depth, all about it.  From who created it, to how it works, to the best places to learn it.  This week, we are going to take a look at the second pillar of the internet, CSS.  Now that introductions are out of the way, LET'S GET GOING!</p><br>

    <h2>What is CSS?</h2>

        <p>
            CSS stands for Cascading StyleSheets.  It is used for describing the presentation of a document written in HTML.  If you remember from part 1 in the Who, What, Where, When, Why, and How's of Programming, which was about HTML, I used the metaphor for the big 3 pillars of the internet (HTML, CSS, JavaScript) being like a house.  The HTML was the foundation and structure, or the 2x4's and concrete slab.  JavaScript was the electrical and wiring, making the house dynamic.  Just as JavaScript makes websites dynamic by adding things such as forms, user profiles and anything else that gives it functionality.  Finally, the CSS was the paint, decorations, and furnishings.  It is the presentation of the structure of the house.  Just as CSS is the presentation of the HTML of a website.  CSS is every color, font-size, border, and background-image, as well as pretty much anything else that could be considered a decoration or style.  CSS also positions your HTML elements and makes websites responsive (mobile-friendly).  As you can see, CSS is very important to the internet we know and love today.
        </p>

    <h2>Who created CSS?</h2>

        <p>
            Hakon Wiiam Lie is credited with creating CSS.  Though Wiiam Lie is credited as CSS's creator, he had help from many others, including the Godfather of the internet itself and the creator of HTML, Tim Berners-Lee.
        </p>

    <h2>When was CSS created?</h2>

        <p>
            CSS was first proposed in 1994, and was first released in 1996.  There are 3 levels of CSS that were released in that time(CSS, instead of coming out with new versions, comes out with new levels.  Each new level just adds to what is already there from the previous level.).  The original CSS in 1996, CSS2 in 1997, and the most current level, CSS3, which was drafted in 1999.  We may be stuck with CSS3 for awhile because it seems that the people responsible for CSS, the World Wide Web Consortium, may not be releasing new levels of CSS anymore.  There will be, however, level 4 selectors, some of which are already in use.  Instead of releasing new levels, they will just be continuously releasing a steady stream of new selectors, as they become available.
        </p>

    <h2>What iss CSS used for?</h2>

        <p>
            As we have already mentioned, CSS is used to describe the presentation of a web page (HTML).  CSS also has some other VERY important functions though.  It is used for positioning your HTML elements, which helps with your sites accessability.  CSS also plays a big role in making your web site responsive (mobile-friendly) through the use of media queries.  CSS's uses in these areas may actually be more important than it's ability to decorate your web page with different colors, fonts, borders, and the like.
        </p>

    <h2>Why use CSS?</h2>

        <p>
            As with HTML, you use CSS because you don't really have another option.  There are CSS preprocessors, which we will cover shortly, that can give your CSS added functionality, but even with these preprocessors you are still writing CSS in the end.
        </p>

    <h2>How does CSS work?</h2>

        <p>
            CSS, like HTML, is a set of instructions for your web browser.  These instructions, or rules, can be written either in-line with style tags. <span style="color=red">(Now my text is Red).</span>  It can also be written internal.  Internal CSS is written in between the opening and closing HTML head tags.  Lastly, and the most preferred way to write your CSS, is in an external stylesheet, which is linked to in the head of your document.
        </p>
