<div class="home-body">
<!--<div class="logo"><img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1532826615/arm.png" height="400px" width="600px"></div>-->
<div class="home-nav">
<div class="home-blog">
    <a href="/blog"><h1>K.O.'s Tech Corner</h1>
    <h3>Some Opinions, Motivation, and How-to's from yours truly.</h3></a>
</div>
<div class="home-tuts">
    <a href="/tutorials"><h1>Tutorials and Other Resources</h1>
    <h3>Some of the best computer programming and web development tutorials and courses I have found online or in bookstores.  Updated regularly.</h3></a>
</div>
<div class="home-tools">
    <a href="/tools"><h1>Useful Tools</h1>
    <h3>A regularly updated list of the best tools that I have found for computer programming and web development.</h3></a>
</div>
<div class="home-grind">
<a href="/grind"><h1>My Daily Grind</h1>
<h3>Have a look at my Journey to Becoming a Web Developer, also quite a bit of me venting about one thing or another.  Updated daily with all of my progress.</h3></a>
</div>
<div class="home-contact">
    <a href="/contact-me"><h1>Contact Me</h1>
    <h3>Offer me work, ask me questions, criticize me, praise me.  It's a Contact Page! You know what to do with it!</h3></a>
</div>
<div class="home-about">
    <a href="/about"><h1>About Me</h1>
    <h3>Gather a little insight about the man that is Kenneth Olsen, learrn what makes him tick, learn what he like and dislikes, and above all else learn About Him.</h3></a>
</div>
</div>
<div class="first-place">
<h1>Winner of "The Best Web Developer Ever Award"</h1>
<img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1535156659/bg1stplace.png">
<h3>As voted by Nancy Olsen, My Mom</h3>
</div>
<div class="testimonials"></div>
<h2>Here are some testimonials from those who have seen my work.</h2>
<q>It's about time he got out of my basement and is trying to find a real job.  HEY!! STOP EATING MY SALAMI AND CHEESE!!! By: Gary Olsen (Dad)</q>
<q>Oh. My BooBoo is just amazing at everything.  Of coure he won the Best Web Developer Ever Award!  I couldn't think of a better or more deserving web developer I have ever met that would deserve it more. By: Nancy Olsen (Mom)</q>
<q>Yeah.  He's great at computer development.. <span>Its Web Development..</span> I mean Web Development..  Ok. I said it, can we go now? By: Crystal Waucaush (Girlfriend)</q>

<span>That's right!!  Those are real quotes, from real people</span>

</div>
