<!doctype html>
<head>
	<% title 'HTML Tools for Web Development' %>
	<% description 'A regularly updated list of the best HTML tools available for Web Development.  Every HTML tool comes with a brief description telling you what it is and how it can help you with web development and a link to the tool.' %>
	<% keywords 'codingko, web development, computer programming, development, programming, tutorials, web development tutorials, html, css, javascript, ruby, ruby on rails, python, web development tools, programming tools, tools ,learn, learning, html, HTML, html tools, HTML tools' %>
</head>

<div class="tools-body">
    <header><h1 id="tools-head">HTML Tools</h1></header>

		<div id="tools-page">
    <p id="check-out">After you are done checking out the tools for HTML, don't forget to check out the tools for CSS and JavaScript!!!</p>

    <div id="html-tools-intro">

        <p>
            Compared to other languages and web standards, HTML does not have alot of tools available.  There is "What You See Is What You Get"(WYSIWYG) editors, but not a whole lot after that.  WYSIWYG editors are, to me at least, all sort of the same, so I will not spend much time going over them.  Let's hop into some HTML tools and see what we have.
        </p>
    </div>

		<div id="all-tools-html">
			<ul id="all-tools-menu-html">
				<li><a href="/tools">Tools Home</a></li>
			</ul>
		</div>

        <div id="tools-content">
    <h2 id="wysiwyg">What You See Is What You Get editors</h2>

        <ul>
            <li>

                <h3><a href="https://www.adobe.com/products/dreamweaver.html" target="_blank" rel="noopener">Adobe Dreamweaver</a></h3><img class="floater" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1537910195/Dreamweaver.jpg" alt="Adobe Dreamweaver logo">

                <p>
                    Adobe's Dreamweaver is one of the aformentioned "What You See Is What You Get" editors.  It is also, in my opinion, the best one.  Dreamweaver allows people with no coding skills to build websites visually instead of completly coding one from scratch.  However, Dreamweaver, also allows you to code with programming languages, if you so choose.  It has been around for quite some time and is one of the most well know "WYSIWYG" editors available today.  It is very feature-rich and can be intimidating for a beginner, but Adobe offers many tutorials to get you started.  A big drawback with this program is the fact that it is only available in Adobe's Creative Cloud.  So, you will need to pay a monthly subscription to use it.  If you have the cash, and don't want to learn how to program, then you can't go wrong with Dreamweaver.
                </p>
            </li>


                <p>
                    Dreamweaver is only one of many "WYSIWYG" editors available and since I think it's the best one, it gets the top spot.  Some of the other notable "WYSIWYG" editors include,
                </p>


            <li>
                <h4><a href="http://muse.adobe.com/" target="_blank" rel="noopener">Adobe Muse</a></h4>
            </li>
            <li>
                <h4><a href="http://bluegriffon.org/" target="_blank" rel="noopener">BlueGriffon</a></h4>
            </li>
            <li>
                <h4><a href="https://ckeditor.com/" target="_blank" rel="noopener">CKEditor</a></h4>
            </li>
            <li>
                <h4><a href="https://www.google.com/webdesigner/" target="_blank" rel="noopener">Google Web Designer</a></h4>
            </li>
            <li>
                <h4><a href="https://www.froala.com/wysiwyg-editor" target="_blank" rel="noopener">Froala Editor</a></h4>
            </li>
            <li>
                <h4><a href="https://webflow.com/" target="_blank" rel="noopener">Webflow</a></h4>
            </li>
            <li>
                <h4><a href="https://www.seamonkey-project.org/" target="_blank" rel="noopener">SeaMonkey Composer</a></h4>
            </li>
            <li>
                <h4><a href="http://maqetta.org/" target="_blank" rel="noopener">Maqetta</a></h4>
            </li>
            <li>
                <h4><a href="https://www.silex.me/" target="_blank" rel="noopener">Silex Website Builder</a></h4>
            </li>
        </ul>

        <img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1537910473/HTMLMinifier.jpg" alt="HTML5 logo inside of a vice grip">

        <h2>HTML Minifiers</h2>
        <p id="minifiers-intro">
            Once you have completed your website and are getting ready to put it online, you are going to want to get the very best performance you can get.  Every little thing you can do to maximize the perfomance of your website is important.  This is includes minifying your code.  Minifiers take your code and take out all of the whitespace.  So, every space, every indent, and every line break is removed.  This makes it incredibly difficult to understand, but gives you a nice little performance boost.  There are many of these available online or for download.  Also, only use the minifiers after you have completed your website.
        </p>

        <ul>
            <li>
                <h3><a href="http://minifycode.com/html-minifier/" target="_blank" rel="noopener">Minify Code</a></h3>
                <p>At minifycode.com you simply copy and paste your HTML from your text editor to the website.  It will then go through and take out all the white-space, giving your website a smaller payload in the process.  Minify Code also has minifiers for CSS and JavaScript, so you can minify your whole website right from their website.  They also have a Beautifier available for HTML, CSS, and JavaScript.  The beautifier does the opposite to your code and puts back all the white-space, as well as properly indents it and adds line breaks to make your code look, well, beautiful.</p>
            </li>
            <li>
                <h3><a href="https://kangax.github.io/html-minifier/" target="_blank" rel="noopener">HTML Minifier</a></h3>
                <p>HTML Minifier, by Kangax, is available for use online or can be downloaded from various package managers and ran from the command line.  This minifier has all of the same functionality of "Minify Code", but comes with many more options.  It is the best at what it does (minify code) and in benchmark tests verse other minifiers, compressed everything a bit more.  If you are a beginner, don't be intimidated by it's options and just use it as a plain old minifier, than you will be just fine.</p>
            </li>

        </ul>
			</div>
</div>
</div>
