<head>
  <% title 'JavaScript Tools for Web Development' %>
  <% description 'A regularly updated list of the best JavaScript tools available for Web Development' %>
  <% keywords 'codingko, web development, computer programming, development, programming, tutorials, web development tutorials, html, css, javascript, ruby, ruby on rails, python, web development tools, programming tools, tools ,learn, learning, css, CSS, css tools, CSS tools' %>
</head>

<div class="tools-body">

  <header>
    <h1 id="jshead">JavaScript Tools for Web Development</h1>
  </header>

  <div id="tools-page">

    <p id="check-out">
      After you are done checking out the tools for JavaScript, don't forget to check out the tools for HTML
      and CSS!!!
    </p>

        <div id="all-tools-css">

      <ul id="all-tools-menu-css">

        <li><a href="/tools">Tools Home</a></li>

        <li><a href="/htmltools">HTML Tools</a></li>

        <li><a href="/csstools">CSS Tools</a></li>

      </ul>

    </div>

    <div id="tools-content">
    
    <div id="js-tools">

    <h2>JavaScript Tools</h2>

    <div id="js-tools-intro">

          <p>
            JavaScript is currently the most popular language available for use.  It's for good reason too!  JavaScript can do just about anything.  It's a major player in web development, and is also used in everything from A.I. to The Internet of Things (IOT).  Seeing as though the language itself is so popular and versatile, there is bound to be a lot of tools available for it, and sure enough there is.  There is a JavaScript tool for just about anything you can imagine.  So, let's hop right in and see what they are.
          </p>

        </div>

        <h2>JavaScript Animation Libraries and Tools</h2>

      <ul>
      <li>
        <h3><a href="http://velocityjs.org/" target="_blank" rel="noopener">Velocity.js</a></h3><img class="floater" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1541521578/velocity.jpg" alt="Velocity.js logo">
        <p>Velocity.js is meant to be a replacement for the JQuery function $.animate().  It advertises that JavaScript is falsely accused of being slow and that in reality, it is JQuery that is slow.  Velocity.js makes your animations run much faster, as compared to JQuery and is just as easy to implement.  You simply put $.velocity() in place of JQuery's $.animate() and your animations will be given a nice performance boost.</p>
      </li>
      <li>
        <h3><a href="http://animejs.com/" target="_blank" rel="noopener">anime.js</a></h3><img class="floater" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1541521578/velocity.jpg" alt="anime.js logo">
        <p>
        Anime.js is advertised as "a flexible yet lightweight JavaScript animation library. It works with CSS, Individual Transforms, SVG, DOM attributes and JS Objects."  Anime.js was created to be a very lightweight animation library to add to your project.  It can give you additional features that you may not be able to achieve with CSS alone.  However, if you are trying to make large scale animations, you may be better suited looking elsewhere.
        </p>
      </li>    
    </ul>
    </div>
    </div>

</div>