<body class="paid-path-body">
<div class="sidenav"></div>
<div class="paid-path-head-bg">
	<header class="paid-path-header">
			<h1>Paid Tutorials and Learning Pathways</h1>
			<div class="container wrapper">
<ul class="menu">
	<li><a href="/tutorials" class="active">Tutorials Home</a></li>
	<li><a href="/inttutorials">Interactive Tutorials</a></li>
	<li><a href="/booktutorials">Book Tutorials</a></li>
	<li><a href="/videotutorials">Video Tutorials</a></li>
	<li class="slider"></li>
	</ul>
	<ul class="menu2">
	<li><a href="/mooctutorials" class="active">MOOC Tutorials</a></li>
	<li><a href="/paidtutorialsandpath">Paid Tutorials / Pathways</a></li>
	<li><a href="/referanceandquestions">Reference / Questions</a></li>
	<li><a href="/tools">Useful Tools</a></li>
	<li class="slider2"></li>
  </ul>
  </div>
	</header>
</div>
	<div class="container paid-path-tutorials">

		<h2 id="paid-intro-header">Paid Websites that seem Highly Recomennded, but I have not tried</h2>
<br>
		<p id="paid-intro">For the most part, I have tried to stick to learning everything I can for free, but these paid sites seem to be highly
		recomended by other programmers and developers. So, if you have the cash to do it then go for it. Just make sure you
		do your research first.</p>
<br>
			<ul>
				<li>
					<h2><a href="https://scotch.io/" target="_blank">Scotch.io<br><br><br> <img class="paid-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579247/scotch_io-min.png" alt="a dark picture of a cup with liquid.  Text underneath says code on the rocks"></a></h2>
					
				</li>
<br>
				<li>
					<h2><a href="https://www.pluralsight.com/" target="_blank">PluralSight <br><br><br><img class="paid-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579246/pluralsight.png" alt="pluralsight logo"></a></h2>
					
				</li>
<br>
				<li>
					<h2><a href="https://www.codeavengers.com/" target="_blank">Code Avengers <br><br><br><img class="paid-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579245/codeavengers.png" alt="picture of the name code avengers made to look like the avengers logo, with text underneath that says Be a coding superhero"></a></h2>
					
				</li>
<br>
				<li>
					<h2><a href="https://teamtreehouse.com/" target="_blank">Team Treehouse <br><br><br><img class="paid-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579222/Treehouse-min.png" alt="the Team Treehouse logo"></a></h2>
					
				</li>
<br>
				<li>
					<h2><a href="https://www.lynda.com/" target="_blank">Lynda.com <br><br><br><img class="paid-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579222/lynda.png" alt="The lynda logo which is bright yellow with a woman reading a book"></a></h2>
					
				</li>
<br>
			</ul>
	</div>
	<div class="container path-tutorials">
		<h2 id="path-intro-header">Learning Pathways</h2>
<br>
		<p id="path-intro">These Sites provide some other quality tutorials and links to other ones. They also tell you the order in which you should
		complete the tutorials. Basically the same thing I am doing here only with thier own set of tutorials to follow.</p>
<br>
			<ul>
				<li>
					<h2 class="path-head"><a href="https://www.theodinproject.com" target="_blank">The Odin Project</a></h2>
					<img class="path-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579247/theodinproject-min.png" alt="The Odin Project logo.  Which is just the name The Odin Project and a cartoon looking image of the Norse god Odin">
				</li>
<br>
				<p>The Odin project was actually provided me the very first pathway that I have done.  It has a ton of quality tutorials, but some of them are kind of dated.  Check them out, but make sure you stay tuned to codingko as I am in the process of making a step by step pathway for beginners myself.</p><br> 
				<li>
					<h2 class="path-head"><a href="https://bento.io/" target="_blank">Bento.io</a></h2>
					<img class="path-pics" id="bento" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579221/bento-min.png" alt="A picture of a laptop computer and a cellphone on a desk.  There is a multicolored box in front of it with text next to it reading Bento.io">
				</li>
<br>
				<p>Bento.io is very similar to the Odin Project.  I have not gone all the way through thier pathway, and it has been awhile since I took a look, but I remember it having some quality material to go through.  As I said above though, stay tuned to codingko as I am working on a pathway for beginners as well.<br><br><br><br><br><br><br><br><br></p>
			</ul>
	</div>
</div>


</body>