<div class="sidenav"></div>
<div class="container-fluid referance-body">
<div class="container-fluid referance-head-bg">
	<header class="container-fluid text-center referance-header">
		<h1>Referance Material and Where to Go to Ask Questions</h1>
	</header>
	</div>
	<div class="container referance">

		<h2 id="referance-intro-header">Referance Material</h2>
		<p id="referance-intro">These websites will be able to assist you when you need to know more about certain apects of your code or design.</p>
<br>
			<ul>
				<li>
					<h2><a href="https://www.codenewbie.org/" target="_blank">Code Newbie</a></h2>
					<img class="referance-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579245/codenewbie.png">
<br>
				</li>
<br>
				<p>CodeNewbie is, as the name inplies, friendly to beginners to programming and development. They offer a quality blog and
				podcast, as well as links to many other tutorials and other websites for beginners to coding.<br><br><br></p>
				
				<li>
					<h2><a href="https://hackr.io/" target="_blank">hackr.io</a></h2>
					<img class="referance-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579245/hackr-min.png">
				</li>
<br>
			 	<p>The website hackr.io is one of my favorites. It's simply a website that has a community that ranks tutorials for every
				programming language and framework you could imagine. They then list these ranking out for you according to what language
				you want to learn. It is a very nifty site.<br></p>
				<li>
					<h2><a href="https://www.w3schools.com/" target="_blank">W3 Schools</a></h2>
					<img class="referance-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579248/w3schools-min.png">
				</li>
<br>
				<p>This is the ultimate referance site for programming and development. It is set up in a tutorial format, but I would recomend
				against using it as a tutorial simply because they don't go into that much depth with any one thing. As far as a referance
				site though, they have a short description for every little thing you could ever want to know about development and
				programming. When you finally start on your first few projects on your own, trust me, you will be visiting this site
				a lot.</p>
<br>
				<li>
					<h2><a href="https://developers.google.com/" target="_blank">Google Developers</a></h2>
					<img class="referance-pics-google" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579221/google-min.png">
				</li>
<br>
				<p>Google developers actually offers more than just referance material. One thing they are particularly good at though,
				is API's. So if you need info on API's this is the place to go.<br><br><br><br><br><br></p>
<br>
				<li>
					<h2><a href="https://developer.mozilla.org/" target="_blank">Mozilla Developer Network</a></h2>
					<img class="referance-pics-mozilla" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579221/mdn.png">
				</li>
<br>
				<p>Mozilla's developer network (MDN) is, along with W3 Schools, is one of the best sites for referance. As you go through
				these tutorials you will actually see it referanced quite a bit. Like W3 Schools, they also have the information set
				up as a tutorial, but it is probably better used as a referance for when your stuck on a frustrating problem.<br><br><br><br><br></p>
<br>
			</ul>
	</div>
	<div class="referance">
		<h2 id="questions-intro-header">For asking questions and getting help from other developers</h2>
<br>
		<p id="questions-intro">When you are stuck and the referance material can't even help you. These websites are full of programmers and developers
		that almost always will have the solution to your problem. As a matter of fact, most questions have already been asked
		and answered and you will be able to get your answer from that. Make sure you read the sites rules though. Some of them
		want you to ask questions in a certain way and have your code ready for them to look at. Actually just check out this
		website
		<span class="questions"><a href="http://www.catb.org/~esr/faqs/smart-questions.html">"How to ask a good question"</a></span> and you should be all set with any of these sites.</p>
<br>
			<ul>
				<li>
					<h2><a href="https://stackoverflow.com/" target="_blank">Stack OverFlow</a></h2>
					<img class="referance-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579221/stackoverflow-min.png">
				</li>
<br>
					<p>Stack-Overflow is normally the go to site for getting your coding questions answered. They have some guidelines for posting
					your question though. So just make sure you check out
					<span class="questions"><a href="https://stackoverflow.com/help/how-to-ask">the how to ask a question page before you post it. The people there will not answer your question unless you follow it.</a></span></p>
<br>
				<li>
					<h2><a href="https://www.quora.com" target="_blank">Quora</a></h2>
					<img class="referance-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579246/Quora.png">
				</li>
<br>
					<p>Quora is one of my personal favorites for asking questions. You don't have to ask a programming or development question
					either, it can be about absolutly anything. They do have a large community of developers and programmers though that
					you have the option to ask specific people if you wish too. This is another site that you have to think out your question
					too, but not for the same reasons as Stack-Overflow so much, but because Quora is set up like Twitter and you have to
					keep your question under 140 charachters.</p>
<br>
				<li>
					<h2><a href="https://www.reddit.com/r/programming" target="_blank">Reddit's Programming SubReddit</a></h2>
					<img class="referance-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579221/reddit.png">
				</li>
<br>
					<p>Reddit's subreddit programming is another great resource for getting questions answered. They don't list out rules for
					asking questions like the previous sites, but to get better answers you should still follow the
					<span class="questions"><a href="http://www.catb.org/~esr/faqs/smart-questions.html">"How to ask a good question" guide.</a></span><br><br><br><br><br><br><br><br></p>
<br>
			</ul>
	</div>
</div>