<head>
        <% title "Tech News" %>
        <% description 'UPDATED HOURLY! News feeds from some of the best web development and computer programming sources online. Includes CSS-Tricks, HackerNews and MORE!' %>
        <% keywords 'codingko, web development, computer programming, development, programming, tutorials, web development tutorials, html, css, javascript, ruby, ruby on rails, python, news, tech news, technology, technology news' %>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
</head>

<div id="tech-body">
    <header><h1 id="tech-head"><span id="t">Tech</span> <span id="n">News</span></h1></header>

    <p id="tech-intro">
        A constantly updating stream of web development and computer programming news from some of the best sources online.
    </p>

    <a id="get-news" href="javascript:history.go(0)">Click Here to get All of the Updated Tech News</a>

    <h3 class="tech-nav">This Page: CSS-Tricks and Smashing Magazine</h3>

    <h3 class="tech-nav"><a href="/technews2">Next Page: The New Web, Hacker News, Tech Viral, How To Geek <i class="fas fa-arrow-right"></i></a></h3>

    <header><h2 id="css-tricks-head">CSS-Tricks</h2></header>
    <script language="JavaScript" src="https://feedroll.com/rssviewer/feed2js.php?src=https%3A%2F%2Fcss-tricks.com%2Ffeed%2F&chan=y&au=y&date=y&targ=y&utf=y&css=css&html=a"  charset="UTF-8" type="text/javascript"></script>

    <noscript>
    <a href="https://feedroll.com/rssviewer/feed2js.php?src=https%3A%2F%2Fcss-tricks.com%2Ffeed%2F&chan=y&au=y&date=y&targ=y&utf=y&css=css&html=y">View RSS feed</a>
    </noscript>

    <header><h2 id="smash-head">Smashing Magazine</h2></header>
    <script language="JavaScript" src="https://feedroll.com/rssviewer/feed2js.php?src=https%3A%2F%2Fwww.smashingmagazine.com%2Ffeed%2F&chan=y&au=y&date=y&targ=y&utf=y&css=smash&html=a"  charset="UTF-8" type="text/javascript"></script>

    <noscript>
    <a href="https://feedroll.com/rssviewer/feed2js.php?src=https%3A%2F%2Fwww.smashingmagazine.com%2Ffeed%2F&chan=y&au=y& date=y&targ=y&utf=y&css=smash&html=y">View RSS feed</a>
    </noscript>

</div>
