<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
</head>

<div id="tech-body">
    <header><h1 id="tech-head"><span id="t">Tech</span> <span id="n">News</span></h1></header>

    <p id="tech-intro">
        A constantly updating stream of web development and computer programming news from some of the best sources online.
    </p>

   
    <script language="JavaScript" src="https://feedroll.com/rssviewer/feed2js.php?src=http%3A%2F%2Ffeeds.dzone.com%2Fhome&chan=y&desc=1&date=y&targ=y&utf=y&pc=y"  charset="UTF-8" type="text/javascript"></script>

    <noscript>
    <a href="https://feedroll.com/rssviewer/feed2js.php?src=http%3A%2F%2Ffeeds.dzone.com%2Fhome&chan=y&desc=1&date=y&targ=y&utf=y&pc=y&html=y">View RSS feed</a>
    </noscript>

    <script language="JavaScript" src="https://feedroll.com/rssviewer/feed2js.php?src=https%3A%2F%2Fhnrss.org%2Ffrontpage&chan=y&date=y&targ=y&utf=y&css=hn&html=a"  charset="UTF-8" type="text/javascript"></script>

    <noscript>
    <a href="https://feedroll.com/rssviewer/feed2js.php?src=https%3A%2F%2Fhnrss.org%2Ffrontpage&chan=y&date=y&targ=y&utf=y&css=hn&html=y">View RSS feed</a>
    </noscript>

    <div class="feedgrabbr_widget" id="fgid_f9260663848bbae362656527b"></div>
    <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_f9260663848bbae362656527b");</script>
    <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>

</div>