<head>
        <% title "Tech News" %>
        <% description 'UPDATED HOURLY! News feeds from some of the best web development and computer programming sources online. Includes CSS-Tricks, HackerNews and MORE!' %>
        <% keywords 'codingko, web development, computer programming, development, programming, tutorials, web development tutorials, html, css, javascript, ruby, ruby on rails, python, news, tech news, technology, technology news' %>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
</head>

<div id="tech-body">
    <header><h1 id="tech-head"><span id="t">Tech</span> <span id="n">News</span></h1></header>

    <p id="tech-intro">
        A constantly updating stream of web development and computer programming news from some of the best sources online.
    </p>

    <a id="get-news" href="javascript:history.go(0)">Click Here to get All of the Updated Tech News</a>
    
        <h3 class="tech-nav">This Page: The New Web, Hacker News, Tech Viral, How To Geek</h3>

    <h3 class="tech-nav"><a href="/technews"><i class="fas fa-arrow-left"></i>Previous Page: CSS-Trick and Smashing Magazine</a></h3>

     <header><h2 id="tnw-head">The Next Web</h2></header>
    <script language="JavaScript" src="https://feedroll.com/rssviewer/feed2js.php?src=https%3A%2F%2Ffeeds2.feedburner.com%2Fthenextweb&chan=y&au=y&date=y&targ=y&utf=y&html=a"  charset="UTF-8" type="text/javascript"></script>

    <noscript>
    <a href="https://feedroll.com/rssviewer/feed2js.php?src=https%3A%2F%2Ffeeds2.feedburner.com%2Fthenextweb&chan=y&au=y&date=y&targ=y&utf=y&html=y">View RSS feed</a>
    </noscript>
        <header><h2 id="hn-head">Hacker News</h2></header>
    <script language="JavaScript" src="https://feedroll.com/rssviewer/feed2js.php?src=https%3A%2F%2Fhnrss.org%2Ffrontpage&chan=y&date=y&targ=y&utf=y&css=hn&html=a"  charset="UTF-8" type="text/javascript"></script>

    <noscript>
    <a href="https://feedroll.com/rssviewer/feed2js.php?src=https%3A%2F%2Fhnrss.org%2Ffrontpage&chan=y&date=y&targ=y&utf=y&css=hn&html=y">View RSS feed</a>
    </noscript>

        <div class="feedgrabbr_widget" id="fgid_f9260663848bbae362656527b"></div>
    <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_f9260663848bbae362656527b");</script>
    <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>

    </div>