<div class="sidenav"></div>
<div class="container-fluid tools-body">
<div class="container-fluid tools-head-bg">
	<header class="container-fluid text-center tools-header">
			<h1>Useful Tools</h1>
	</header>
	</div>
    <div class="container tools-page">
	
			<h2 class="free-editor" id="free-edit-intro-header">Free Downloadable Code Editors</h2>
			<br>
			<p id="free-edit-intro">For those of you that want to be able to code even when your offline. These editors provide everything you could need
				through extensions, and best of all THEY ARE ALL FREE!</p>
			<br>
			<ul>
				<li>
					<h2><a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a></h2>
					<img class="tools-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531579248/vscode-min.png">
				</li>
				<br>
				<p>Visual Studio Code is my personal favorite.  It has all the feature you could ever want, and if they don't provide the feature, you can pretty much garuntee there is a extension for it.  It has the features like autocomplete and intellisense and is highly customizable.  Plus, Microsoft updates it pretty regularly with new features.<br><br><br><br></p>
				<li>
					<h2><a href="https://www.sublimetext.com/" target="_blank">Sublime Text</a></h2>
					<img class="tools-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531606572/sublime.jpg">
					</li>
					<br>
					<p>Sublime text is probably the one I see recomended most out of all of them.  I have used it a couple times, and it's definitly worth checking out.  Just one thing to clear up, functionally all these editor are pretty much the same.  Each one may have very minor differences, but not big enough to really make a difference.  So it's all preferance with these.<br><br><br><br></p><br>
					<li>
						<h2><a href="https://atom.io/" target="_blank">Atom Text Editor</a></h2>
						<img class="tools-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618310/atom.png">
					</li>
					<br>
					<p>Thee Atom text editor is another highly recomended one.  It's from the people of GitHub.  Pretty much the same features as all the rest.<br><br><br><br><br><br></p><br>

					<li>
						<h2><a href="https://notepad-plus-plus.org/" target="_blank">NotePad++</a></h2>
						<img class="tools-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618309/notepad.png">
					</li>
					<br>
					<p>NotePad++ is pretty much the same as the others, except with NotePad++ you don't get all the features right out of the box.  You have to add them all manually, but some people like that it doesn't autocomplete for you and things like that.<br><br><br><br><br></p><br>
					<li>
						<h2><a href="brackets.io/" target="_blank">Brackets</a></h2>
						<img class="tools-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618310/brackets.png">
					</li>
					<br>
					<p>Brackets I have never actually used, but I have heard good thing.  Anyways, like I said, they are all functionally the same.<br><br><br><br><br><br></p><br>
					<li>
						<h2><a href="https://netbeans.org/" target="_blank">NetBeans</a></h2>
						<img class="tools-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618309/netbeans.png">
					</li>
					<br>
					<p>Netbeans is actually a bit different than the others in that it is actually a full IDE (Integrated Development Enviroment).  Being an IDE means that it does have a bit more functionality than the others, but at the cost of being much slower and taking up a lot more space.<br><br> </p><br>
			</ul>
		</div>
		<div class="container tools-page">
			<h2 id="online-edit-intro-header">Online Code Editors</h2>
			<br>
			<p id="online-edit-intro">These online code editors will allow you to practice your code or even create full apps online, without having to download
				any languages, IDE's, or editors on your own computer.  I am not going to explain every one of these as they are all pretty much the same.  They are all nice because you can see your work immediatly, usually in a side screen right next to where you are writing your code.  If you don't want to install a code editor on your machine then these are all very nice options. </p>
			<br>
			<ul>
				<li>
					<h2><a href="https://codepen.io/" target="_blank">Code Pen</a></h2>
					<img class="tools-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618309/codepen.png">
				</li>
				<br>
				<br><br><br><br><br><br><br><br>
				<li>
					<h2><a href="https://jsfiddle.net/" target="_blank">JS Fiddle</a></h2>
					<img class="tools-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618309/jsfiddle.png">
				</li>
				<br>
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				<li>
					<h2><a href="http://jsbin.com/?html,output" target="_blank">JS Bin</a></h2>
					<img class="tools-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618309/jsbin.png">
				</li>
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				<br>
				<li>
					<h2><a href="http://plnkr.co/" target="_blank">Plunker</a></h2>
					<img class="tools-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618309/plnkr.png">
				</li>
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				<li>
					<h2><a href="https://codeanywhere.com/" target="_blank">CodeAnywhere</a></h2>
					<img class="tools-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618310/codeanywhere.png">
				</li>
				<br><br><br><br><br><br><br><br><br><br><br><br><br>
				<li>
					<h2><a href="https://c9.io/login" target="_blank">Cloud 9</a></h2>
					<img class="tools-pics" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1531618310/cloud9.png">
				</li>
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			</ul>
		</div>
       </div>
    </div>