

        <div class="W5HHTML-body">
                <header><h1>The Who, What, When, Where, Why, and How's of HTML</h1><br><h4>By: Kenneth Olsen</h4></header>

            <p>Hello!  Welcome to the new series on codingko.com, the “Who, What, When, Where, Why, and How’s of Programming”.  In this series I will explain everything you need to know about different programming languages, frameworks, tools, and many other technologies related to programming.  When you get done reading an article you should have a much better grasp of the technology, as well as the best ways and places to start learning how to use it.  So, without any further ado, I present to you, the first in the series, “The Who, What, Where, When, Why, and How’s of HTML”</p><br>

            <h2>What is HTML?</h2>

                <h3>Short Version:</h3>

                    <p>HTML’s sole purpose is to allow the creation of webpages, that can be viewed by anyone connected to the internet.</p>

                <h3>Long Version:</h3>

                    <p>
                        HTML stands for HyperText Markup Language.  Html describes the structure of web pages using markup language (Markup language is a way to make a document syntactically different from text).  HTML, along with CSS and JavaScript, form the big 3 pillars of the internet.  If you think of the internet as a house.  The HTML would be the structure, or the frame of the house.  Kind of like the 2x4’s you would use to build the frame of your house.  CSS is all about describing the HTML, so it could be viewed as the paint and other decorations of the house.  Finally, JavaScript adds functionality to a website and makes it dynamic.  You could think of JavaScript as the wiring or electricity running through the house, which gives it the ability to be dynamic and do multiple things.  The way HTML defines the structure of a webpage is through the use of HTML elements.  These elements are each represented by their own tag and each tag represents a piece of content.  A couple of examples of HTML tags are &lt;p&gt;…*paragraph content*…&lt;/p&gt;, the &lt;p&gt; tag represents paragraphs.  Another tag every HTML document must have is &lt;body&gt;…*All the viewable content of a webpage*…&lt;/body&gt;, the body tags wrap around all the viewable content of your webpage.  The internet browser uses the HTML tags as a set of instructions on how to put together your document online, as such, they are not viewable to you on the other side of the screen.
                    </p>

            <h2>Who Created HTML?</h2>

                    <p>
                        HTML was created by Tim Berners-Lee, while working for CERN.  Berners-Lee is also considered the “Father” of the world wide web.
                    </p>

            <h2>When was HTML Created?</h2>

                    <p>
                        Tim Berners-Lee created HTML in 1990, and it was first released in 1991.  There have since been 5 other versions of HTML released, with the most current version being HTML5, released in 2014.
                    </p>

            <h2>What is HTML used for?</h2>

                    <p>
                        HTML provides the structure of every web-page on the internet.  It does this using HTML elements,which are represented by HTML tags.
                    </p>

            <h2>Why use HTML?</h2>

                    <p>
                        First and foremost, you should use HTML because you don’t really have another option.  HTML, along with CSS (Cascading StyleSheets) and JavaScript, form the big 3 pillars of the internet.  While you could get away with not knowing JavaScript (and I guess CSS, if you want very boring and plain webpages), HTML is a necessity for making webpages.  So, if you want to be a web developer, or make anything online at all, you must know and use HTML.
                    </p>

            <h2>How does HTML Work?</h2>

                    <p>
                            HTML consists of a series of short typed codes typed into a text file.   HTML codes are always surrounded by the less than symbol “&lt;” and the greater than symbol “&gt;”, and are called elements, or tags.  An example is
                    </p>

                    <img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1534962329/htmlex1.png">

                    <p>
                        Those 2 &lt;p&gt;…&lt;/p&gt; are opening and closing paragraph tags of the actual paragraph you were just reaing.  All the content in between the opening “&lt;p&gt;” and closing “&lt;/p&gt;” tags are assumed, by the browser, to be part of that specific paragraph and the browser will adjust the structure accordingly.  As stated earlier, these tags are a set of instructions for your browser, so only your browser can see them.  Through the HTML tags your browser knows how to display the content to whoever is viewing your content.
                    </p>

            <h2>What are the Most Important Things to Know About HTML?</h2>

                    <ul>
                        <li>
                            <p>
                                <h3>HTML is not a programming language.  It is a markup language.</h3><br>  The best way I can describe the difference, is that a markup language gives instructions on the structure of a document.  A programming language would deal more with the functionality of an application.
                            </p>
                        </li>
                        <li>
                            <p>
                                <h3>Use HTML tags for what they were meant to be used for</h3><br>
                                Dont do things like using an HTML table for the layout of your web-page or a big bold &lt;p&gt;something&lt;/p&gt; in place of an &lt;h1&gt;&lt;/h1&gt; for your title.  It is not only bad symantics, but it is awful for accessibility, which we will cover shortly.
                            </p>
                        </li>
                        <li>
                            <p>
                                <h3>Use CSS for style and positioning</h3><br>
                                Always try to use CSS to style and position your HTML elements.  It is usually much easier.  CSS also gives you much better controld over the HTML elements.
                            </p>
                        </li>
                        <li>
                            <p>
                                <h3>Always use the alt="" tag</h3><br>
                                When using images in your website, always remember to use the alt="" HTML attribute.  This is also for accessibility, which I will be covering shortly.
                            </p>
                        </li>
                        <li>
                            <p>
                                <h3>Make your HTML easy to understand</h3><br>
                                You need to format your HTML correctly so that if anyone, yourself included, ever need to look at it to solve a problem, it wont be very difficult to find.  An example of a simple HTML document with everything tabbed and nested correctly is

                                <img src="https://res.cloudinary.com/dmks1qdth/image/upload/v1534964740/nest-ex.png">
                            </p>
                        </li>
                        <li>
                            <p>
                                <h3>Use the right tags for better SEO</h3><br>
                                Using the right HTML tags greatly improves your websites chances of getting ranked higher in search engine results.  It is called Search Engine Optimization (SEO) and it is a bit advanced, but I will be doing an article on it in the future on codingko.com.
                            </p>
                        </li>
                        <li>
                            <p>
                                <h3>HTML is not Hard</h3><br>
                                The last thing I want to cover in thins section, is that HTML is not a difficult language to learn.  If you want to make anything online, then your starting point is HTML.  Even if you do not want to be a web developer or computer programmer, learning the basics of HTML is still important and can set you apart from others in a job search.  The world we live in is getting more technologically advanced by the day.  Any job that requires typing on a computer, or even just sending an E-mail can involve HTML.  Many companies want thier employees to submit documents through a CMS (Content Management System), which means you may have to write it in Markup, like HTML.  So, do yourself a favor and learn some HTML.
                            </p>
                        </li>
                    </ul>

            <h2>What is the very minimum of HTML I need to know to create a basic web-page?</h2>
        </div>
