<!doctype html>

<head>
    <% title 'About Me' %>
    <% description 'Learn what makes Kenneth Olsen tick, how he got interested in computers and technology, and a list of some of his awards and achievements.' %>
    <% keywords 'codingko, web development, computer programming, development, programming, electronic computer services, html, css, javascript, ruby, ruby on rails, python, about me, Kenneth Olsen, web developer' %>

</head>
<div class="about-body">

    <header>
        <h1 id="about-head">Some Juicy Tid-Bits of Knowledge about Kenneth Olsen for you to Digest with your Eye Holes</h1>
    </header>

    <div id="me" title="Detroit Web Developer, Kenneth Olsen"></div>
    <div id="mouth-wrapper">
        <div id="lotsomouths" title="A bunch of images with mouths where Kenneth Olsen's eyes should be."></div>
        <div id="lotsomouths2" title="A bunch of images with mouths where Kenneth Olsen's eyes should be."></div>
    </div>
    <div id="about-content">

        <h2>A Little About Me</h2>

        <p>
            Hello! My name is Kenneth Olsen, and I love technology. Ever since I was a child growing up just south of
            Detroit, I have been interested in all things electronic. From a very young age I was taking apart and
            putting back together VCR's, cassette decks,walk-mans, and anything else I could get my hands on. As a
            matter of fact, when I was about 6 or 7 my parents started relying on me to get the surround sound hooked
            up, the cable hooked up, and setting the time on the VCR. Back in the early 90s my mother brought home what
            I believe was a Commodore computer. The kind that took CARTRIDGES! That is when I was introduced to things
            like MS-DOS. As I grew older my love for technology only grew. I met a friend ,Jacob Huddleston, who's
            father owned a computer repair business (Shout Out to Electronic Computer Services), and that is when I got
            introduced to the more technical side of computers. Jake and I used to hang out all day just modding games
            like Carmegeddon and Half-Life CounterStrike. When I got a little better with everything, Jake's dad Tim
            Huddleston actually put me on the payroll for a bit. Alas, Jake and I grew apart, and while my love for
            technology did not end, I stopped pursuing educating myself with it.
        </p>

        <p>
            Cut to 15 years later and I am working at a nursing home that specializes in alzheimer's disease and
            Dementia as the maintenance man. It's not computers, but there is still quite a bit of technology involved,
            and being a maintenance man has definitely helped my problem-solving skills and thinking of outside-the-box
            answers to problems. Plus, I love helping people. That is what I want to do in life, is help people that
            don't have the ability to help themselves. Around Christmas of 2017 I saw a project that could give a
            visually impaired person a bit of help navigating their terrain. The project was on the website <a href="http://www.instructables.com/id/Helping-Eyes-Mountable-Visual-Aid/">Instructables</a>,
            and it seemed like a fairly inexpensive and very useful way of helping people. That is when I decided I was
            going to try to get back into computers and teach myself how to code.
        </p>

        <p>
            Now, I know that web development is not the same as coding a piece of technology for helping people, but as
            I was trying to learn everything and hopping around from tutorial to tutorial, I came across <a href="http://www.freecodecamp.org/">FreeCodeCamp</a>.
            I read about it and after you get done completing most of the lessons, they give you the opportunity to do
            work for some non-profit organizations. So, that is how I ended up trying to do web development (I haven't
            forgot about the other stuff, I'm still going to do that too, but first I'm going to learn web dev). As of
            writing this, it has only been about 7 months since I started, but the difference between where I was and
            where I am now is quite drastic. I spend almost all the free time I have out of work practicing coding, and
            creating things. Ideally, I would like to turn this into a career. However, even if I never make a dime off
            of this, I still enjoy doing it, and will not be giving up anytime soon.
        </p>

    </div>

    <div id="awards">

        <h2>Here of some of Kenneth Olsen's Awards and Achievements</h2>

        <ul>

            <li>Jan. 20, 1986 - Kenneth Olsen graced the world with his very first appearance <span>(My Birthday)</span>.</li>

            <li><span>Graduate</span> of Hunter Elementary School.</li>

            <li><span>4th place finisher</span> in the 6th grade Spelling Bee.</li>

            <li>Winner of <span>D.A.R.E Certificate</span> awarded upon completion of the D.A.R.E program.</li>

            <li><span>1st place</span> in Hunter Elementary 5th grade Field Day Tug-Of-War event.</li>

            <li>Southeastern Michigan "Senior Division" Little League <span>Baseball Champion</span>.</li>

            <li>Was listening to <span>Chamillionaire's "Riding Dirty"</span> before it was popular.</li>

            <li id="sax">Played <span>Alto and Tenor Saxophone, Trumpet, Percussion, and Trombone</span> for Shumate Middle School Band. </li>

            <li>Winner of <span>"The Best Web Developer Ever Award"</span> from my mom.</li>

            <li><span>Graduate</span> of Oscar A. Carlson High School.</li>

            <li>Attended Community College for 2 years, for <span>Physical Therapy</span></li>

            <li>Can sing <span>"Welcome to the Jungle"</span> By Guns N Roses, and can even hit the high notes.</li>

            <li>Once met <span>Jeff Daniels</span> at the airport.</li>

            <li>Was a starter at <span>Middle Linebacker and Fullback</span> for Middle School Football Team</li>

            <li>Once ate a <span>Ghost Pepper</span></li>
        </ul>
    </div>

</div>

