<!doctype html>

<head>
	<meta http-equiv="Cache-control" content="public" max-age="31536000">
	<% title 'K.O.s Tech Corner' %>
	<% description 'How to get started in Web Development, Web Development Tutorials, and opinionated articles' %>
	<% keywords 'codingko, web development, computer programming, development, programming, tutorials, web development tutorials, html, css, javascript, ruby, ruby on rails, python' %>

</head>

<div class="blog-body">
	<header>
		<h1 id="blog-head">K.O.'S TECH CORNER</h1>
	</header>
	<div id="bg-pic">
		<div class="matrix-head">
			<h1><strong>Understanding The Matrix</strong></h1>

			<h2><strong>How to not be Intimidated when First Learning to Code, and to Succeed in Your Journey to Becoming a
					Programmer</strong></h2>

			<h4>Written By: Kenneth Olsen</h4>
		</div>

		<div id="matrix-quote">
			<p>
				<i><strong><span>Neo:</span> “Do you always have to look at it encoded?”</strong></i><br>
				<br>
				<i><strong><span>Cypher:</span> "Well you have to. The image translators work for the construct program. But
						there’s
						way too much information to decode the Matrix. You get used to it. I…I don’t even see the code. All I see is
						blonde, brunette, red-head."</strong></i>
			</p>
		</div>
	</div>
	<div id="blog-content">
		<p>
			When I first started learning programming, every time I told someone I was learning to code I always received back
			“You understand that Matrix shit?” or, “Don’t you have to be a genius to understand all that gibberish?” . The
			answers to those questions at the time was “No, I absolutely do not understand this Matrix shit.” and, “Yeah, I’m
			thinking you do have to be a genius to understand this stuff, because I have been staring at it for a month and it
			still looks like gibberish.” Then I would go continue staring at the Matrix shit more while continuing to feel like
			I would never get it and wanting to punch my computer through a wall.
		</p>
		<p>
			Hello there, future programmer / developer!! As this is my first ever, non-journal, piece of writing for
			codingko.com let me introduce myself. My name is Kenneth Olsen, I am a coder, web developer, lover of technology,
			lover of sports, lover of life, lover of learning, and I also love to help others. I believe that every single
			programmer in all of history and existence spent their first few months of learning staring at their computer
			screen, or abacus, or their holographic 3D wall (If you are reading this in the future.) and thought the same thing.
			“This all looks like crazy gibberish. How can anyone possibly understand this? Let alone learn how to use this and
			manipulate machines with it.” Well my friend, I am here to tell you that you absolutely can learn how to understand
			that gibberish and learn how to use it to make things do what you want them to do, and you don't even have to be a
			genius. All you need is Passion, Patience, Persistence, Drive, and Determination.
		</p>
		<p>
			When I was growing up in the 1980’s and 1990’s personal home computers had just become a thing. However, they were
			very expensive, and I came from the very epitome of a middle class family. We didn’t struggle by any means, but
			luxuries like that expensive computer were far out of our reach. The only piece of technology we owned in my
			household was a Nintendo Entertainment System. Me, being much younger than my sister, was barely ever able to play
			with the Nintendo as my sister or dad were always on it. My mother worked at K-Mart at the time and somehow lucked
			into a Commodore 16 from her work. This was one of the first more affordable home computers (but still too expensive
			for our family to splurge on) and you may not believe this if you are under the age of 30, but it actually took
			cartridges!! Back then there were very few programs that actually had a GUI (Graphical User Interface), so to get
			anything done with it required a whole lot of command line work. So on rainy days, or when it was too late to go
			outside and play, little child me would head on down to the basement and play around on the Commodore (Because the
			Nintendo was occupied, Always.). This is what started a passion for computers in my tiny child heart. That passion
			only grew as I got older. Instead of just computers I would take apart and fiddle with any electronics I could get
			my hands on. By the time I was 11 or 12 I was helping a real computer company build computers and set up networks
			(It may have been my friend’s parents business, but I was still helping.) I have kept that passion my entire life,
			even though it took me 30 years to finally decide to act on that passion, and try to turn it into a career. A career
			that I would absolutely love to get up and go to every morning for the rest of my life.
		</p>

		<p>
			I am guessing that you may be in the same boat I was, since you are reading this and all. You may have decided long
			ago that you were going to act on your passion for technology and you’re already a seasoned programmer who just
			stumbled into codingko.com, and are now so enthralled with the story of the little boy with a passion for tech that
			you just have to stay and read the rest. More than likely though, you are the guy from the beginning of this
			article, staring at the Matrix shit on your screen, getting ready to throw your computer at the wall. Maybe you are
			somewhere in between. I would bet though, since you are looking for information on programming online that you have,
			at least some passion for trying to learn this stuff. The hard part of it all is trying to keep that passion when
			everything starts breaking and you have no idea what to do, or how to fix it. Here is some advice for trying to keep
			that passion alive and well.
		</p>

		<p>
			First let’s talk about what passion is. Passion is defined as<i><strong> <span>a strong and barely controllable
						emotion</span></strong></i>. Wow! Those are pretty strong words there. Can anyone really feel that way towards a
			technology? I can attest to the fact that “Yes” someone can feel like that toward technology.
			I am an adult, with adult responsibilities. A career in medical maintenance, a girlfriend that I live with, bills
			that need to get paid. I can’t let learning a new skill get in the way of this stuff. I am passionate about it
			though. So, I spend every single break at work researching new ways to improve my web-site, or researching a coding
			issue I am having, or reading other programmers blogs. When I am home you can almost always find me in my office,
			hacking away at one programming task or another until my girlfriend has to come yell at me to tell me what time it
			is or to get out there and spend time with her. (Sorry, Crystal. You know I love you!) The point is though, that I
			am passionate about programming. I spend nearly all my free time trying to learn programming and improve on what I
			do know. I am lucky enough to have a girlfriend that knows I am passionate about this, and that all the work I am
			putting in will hopefully lead to us being able to have a better future.
		</p>
		<div id="her-wrap">
				
			<img id="her" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1536668459/Her2013Poster.jpg" alt="Image of the poster for the movie Her">
			Maybe a little to passionate... Let's reel it back a bit.
		</div>

		<p>
			Not everyone is as lucky as I have gotten. If your passionate about learning programming you will find a way. The
			internet is <a href="https://medium.freecodecamp.org/become-how-i-went-from-selling-food-in-the-street-to-working-for-top-firms-in-tech-6aa61a2d0629">full</a>
			of <a href="https://codeburst.io/how-i-went-from-mopping-floors-at-a-tanning-salon-to-becoming-a-software-developer-7dc4d2e8d21a">stories</a>
			of <a href="http://www.colbycheeze.com/blog/2015/10/zero-to-developer.html">people</a> that have taught themselves
			how to program and have succeeded at it. It is simply awe inspiring what some of those people had to do, or pull
			themselves out of, in order to learn how to program. They had passion though, and if you really, truly, are
			passionate about learning how to code and how to understand “The Matrix”, then I have little doubt that you can
			succeed at it as well.
		</p>
		<p>
			Ok, so you have the passion to become a programmer. You have been obsessed with computers your entire life and are
			ready to take the leap and learn how to code, but have you got the patience to not quit when thing start going bad?
			Do you also have the persistence to see your journey to learning to program all the way to the end? You might think
			patience and persistence are one and the same, but you are wrong. Patience is defined as, <i><strong><span>The
						quality of being patient, as the bearer of provocation, annoyance, misfortune, or pain. Without complaint, loss
						of temper, irritation, or the like.</span></strong></i> As a programmer, being patient is going to be an
			extremely valuable skill. You are going to end up being all of those negative things listed in the definition
			multiple times.... in just one project more than likely. You have to be patient though, and not overreact. This is
			especially important at the beginning of your journey. You are going to stare, and stare, and stare at that Matrix
			shit and figure out what it does. Your going to try to figure out code for so long your eyes might dry out and start
			cracking like its chapped lips, and you know what? You are still not going to understand it. Eventually you will,
			but at the beginning you are going to get EXTREMELY frustrated. Just have patience and be persistent and stick with
			it though.
		</p>
		<p>
			Now, you are being very patient. You are understanding that it is not all going to come to you at once, and there is
			going to be lots of pain and frustration while learning how to program and to understand all that gibberish. You
			just got a new job though and you are super tired everyday when you get home from work. You are just going to turn
			off that screen with all the Matrix writing for awhile and you'll get back to it tomorrow. Tomorrow comes and you
			think "I am tired again, I think I am just going to put off studying programming for awhile, just till I get used to
			my new job". If you happen to do something akin to the scenario I just described, you are more than likely going to
			end up either just giving up, or having to start over in learning everything when you decide to pick it back up
			again. This is because you did not have the persistence to see this journey through to the end.
		</p>
		<p>
			Persistence is extremely important at the beginning of your journey to learning programming, and stays important
			throughout. Persistence is defined as, <i><strong><span>To continue steadfastly or firmly in some state, purpose, or
						course of action, or the like. Especially in opposition, remonstrance, etc.</span></strong></i> I have spent the
			better part of an entire day trying to figure out what is wrong with my code, only to find out I had placed an
			errant quotation mark in there that broke the entire thing. Without patience and persistence I would have gave up on
			that program, probably thinking to myself that I would get back to it tomorrow, and more than likely never coming
			back to it. If you want to understand the Matrix then you had better be persistent. Programming is hard. You are
			going to be spending an awful lot of time staring at your screen trying to figure out why your program isn't
			running. You are going to fail. Then you will fail again. Then you'll fail again, and again, and again. All those
			failures are important though. Learning what doesn't work is just as important as figuring out what does work. You
			are going to have to be patient, to be able to sit there for hours staring at your code not working, and you are
			going to need the persistence to keep going afterwords no matter how frustrated and defeated you feel. You are going
			to need to be able to do all of that and then be able to say to yourself "I am going to figure this out, and after I
			do I WANT MORE. The Matrix will not defeat me!"
		</p>
		<div id="knight-wrap">
			<img id="black-knight" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1536668165/beginnerBlackKnight.png" alt="Image of the Black Knight from Monty Python except cropped to look like it's your code chopping" title="I'll cut your heart out with a spoon!!">
			"Tis but a scratch"
		</div>
		<p>
			All of that patience and persistence will pay off. After the many hour you just spent frustrated at your JavaScript
			code for not doing what you wanted it to do, and cursing the name Brendan Eich (The creator of JavaScript), you will
			finally get it to work. You will feel such a great sense of accomplishment that you are going to want to run outside
			and give hugs and high-fives to strangers. Seeing all those hour of work, all the patience you had, and the
			persistence to not give up and see it through to the end, you deserve to go get those hugs and high-fives. If no one
			is around to give them to you, just contact me. I will give you all the praise you deserve. Hell, if you live close
			enough to me I'll drive over to you and give you those hugs and high-fives myself.
		</p>
		<div id="good-job-wrap">
			<img id="good-job" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1536670572/YouMadeAProgram.gif" alt="Actor Jonah Hill acting crazy excited">
			CONGRATULATIONS!!!
		</div>
		<p>
			Ok, so we have established that you are passionate about technology and learning to program. You know that this all
			is not going to be a cakewalk, and you are ready to be patient with yourself. You are going to go line by line and
			google every single part of your code until you find an answer. You understand you are going to fail, and fail a
			lot, until you finally get it and then scream to the world "BRING ON MORE!", because you are a persistent person.
			You don't let yourself give up when the going gets tough, and you are ready to sit and figure out all the problems
			this journey has to throw at you. What else could you possibly need? You need drive and determination. These 2 are
			more or less mindsets that go along with passion, patience, and persistence, but are just as, if not more,
			important.
		</p>

		<div id="page2"><a href="/blog2">Continue on next Page<i class="fas fa-arrow-right"></i></a></div>
	</div>

</div>
