<!doctype html>

<head>
        <meta http-equiv="Cache-control" content="public" max-age="31536000">
    <% title 'K.O.s Tech Corner| Dont be intimidated by "The Matrix". How to succeed at Computer Programming and Web Development' %>
    <% description 'How to get started in Web Development, Web Development Tutorials, and opinionated articles' %>
    <% keywords 'codingko, web development, computer programming, development, programming, tutorials, web development tutorials, html, css, javascript, ruby, ruby on rails, python' %>

</head>

<div class="blog-body">
    <header>
        <h1 id="blog-head">K.O.'S TECH CORNER</h1>
    </header>

    <div class="matrix-head">
        <h1><strong>Understanding The Matrix</strong></h1>

        <h2><strong>How to not be Intimidated when First Learning to Code, and to Succeed in Your Journey to Becoming a
                Programmer</strong></h2>

        <h4>Written By: Kenneth Olsen</h4>
    </div>

    <div id="blog-content2">
        <p>
            In order to be able to understand and manipulate The Matrix, you will need drive and determination. Drive,
            other
            than being what you do with a car, is defined as <i><strong><span>an innate, biologically determined urge
                        to attain
                        a goal or satisfy a need</span>,</strong></i> and determination is defined as <i><strong><span>firmness
                        of
                        purpose; resoluteness. a tendency to move in a fixed direction.</span></strong></i> I believe
            both of these
            mindsets are actually more important the older you get. When you are young, you don't have all the
            responsibilities
            that come with being an adult. (I should say, most young people out there don't have that level of
            responsibility.
            There are also plenty of young people that are put in the same spot as adults.) Being an adult means a
            career to
            worry about to pay the bills. You have to take care of your children. You also have to make sure you have
            time for
            your significant other and keep up the house (Those tickets for your lawn being too high are costly.)<div
                id="basement-wrap">
                <img id="basement" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1536668132/nature_1.jpg" alt="House with overgrown lawn and trees growing on top of it.">How
                long have
                you been down in your basement coding anyways???</div> These are all
            things that come with being an adult and all of them take priority over anything else in your life,
            including
            learning to program. It's just so easy to say that you're tired, or that you don't have the time to devote
            to
            learning a new skill (especially such a hard and time consuming one as programming.) I know, it's rough
            having all
            these responsibilities. I am not some kid, I am a 32 year old adult myself. Although I am sure plenty of
            people
            would argue that point. When I feel like I don't have the time or energy to do something though, I think
            about this
            quote from H. Jackson Brown Jr.
        </p>
        <div id="time-quote" title="Quote by H. Jackson Brown Jr.">
            <i><strong>
                    <p>
                        " Don't say you don't have enough time. You have exactly the same number of hours per day that
                        were given to
                        Helen Keller, Pastuer, Michealangelo, Mother Teresa, Leonardo DaVinci, Thomas Jefferson, and
                        Albert Einstien. "
                    </p>
                </strong></i>
        </div>
        <p id="after-time">That is one of my very favorite quotes, and perfectly encapsulate my point as well. These
            great
            minds all had even greater drive and determination. Think about Helen Keller for a minute. She wrote a
            book,
            lectured to other great minds, and graduated from Radcliffe College. She was also FREAKING BLIND AND
            DEAF!!! Your
            long work day doesn't really compare to what she must to have gone through, but she had the drive and
            determination
            to do all these things and succeed at them.
        </p>

        <div id="rough-day-wrap">
            <img id="rough-day" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1536671585/hellenKellar.jpg" alt="Photo of Helen Keller" title="Oh, me?  I went to school then work.  Now I'm going to read Atlas Shrugged and go on a jog in Times Square.">
            "Oh? You had a rough day? I'm sooooo sorry to hear..."<br> <i>Helen Keller: not caring about your rough
                day.</i>
        </div>
        <p>
            Do you understand what I am trying to tell you here? There is really NO EXCUSE to great that you can't sit
            down to
            practice everyday. Even if you can only practice for 10 minutes, DO IT! Eventually sitting down to practice
            will
            become habit, and you will genuinely feel bad if you miss a day of practice. Especially when you are first
            starting
            out, you need to have that same drive and determination that Helen Keller had to communicate. I am in no
            way trying
            to belittle what Helen Keller did by comparing it to this, but really, you are doing the same thing.
            Learning to
            communicate. The difference being that instead of learning to communicate with people, you are learning to
            communicate with machines.
        </p>
        <p>
            Let me just tell you now. You are going to fail. You are going to fail a lot. Learning to program is going
            to get
            harder and harder as you move on to more advanced concepts. You are going to feel frustrated and defeated
            often. You
            are going to feel like you have been doing so much work, but you are getting nowhere, and you've been
            staring at
            that damn Matrix shit on your screen for 3 months and still can't write a simple program by yourself.
            You're going
            to want to just throw away all of your electronics and go move in to a shack in the woods, far away from it
            all.
            Then, right when you're about to give it all up, something will "click". Let me tell you, that moment when
            it
            finally clicks, and you are understanding that screen with the gibberish is one of the greatest feelings in
            the
            world. You're not a programmer yet, but you understand what you are looking at now, and that is half the
            battle. If
            you made it that far than go crack a beer and congratulate yourself. You're passion, drive, determination,
            patience,
            and persistence have gotten you farther than probably 90% of the people that have sat down to try to learn
            programming, and then realized "Holy crap, this is hard, I am just going to continue flipping burgers for
            the rest
            of my life because it's easy and I am comfortable."(Not that there is anything wrong with flipping burgers,
            I did it
            myself for awhile.) Just getting to the point where you can understand the code on your screen is going to
            be
            frustrating and hard. Once you do understand it though, I would bet that there is nothing that will be able
            to keep
            you away from it.
        </p>
        <p>
            Everyone that has ever learned to program has been right there in your shoes. Frustrated, the feeling that
            you will
            never understand it, and feeling totally defeated by the code. Muhammad Ali once said,<br><strong><i>
                    <p id="ali" title="Quote by Muhammed Ali">" Don't quit. Suffer now and live the rest of your life
                        as a champion. "</p>
                </i></strong><br> That quote couldn't be more true, when it comes to programming, or boxing, or any
            skill you want
            to learn. Trust me though. If you have the passion to want to learn programming. The drive to act on that
            passion
            and start on your journey. The patience to sit and stare at The Matrix until you finally understand it. The
            persistence to fail, and fail, and fail, and fail again, but keep coming back for more. As well as the
            determination
            to see your journey all the way until your a real programmer, without losing your passion, patience, or
            drive. Then
            I have faith that you will succeed. Suddenly the Matrix will look like a blonde, brunette, and a red-head.
        </p>
        <%= social_share_button_tag("How not to be Intimidated by The Matrix.") %>

    </div>
</div>
