<!doctype html>
<head>
		<meta http-equiv="Cache-control" content="public" max-age="31536000">
	<% title 'Learn Web Development and Computer Programming' %>
	<% description 'All of the best web development and computer programming tools available.  Updated Regularly.' %>
	<% keywords 'codingko, web development, computer programming, development, programming, tutorials, web development tutorials, html, css, javascript, ruby, ruby on rails, python, web development tutorials,tutorials, learn, learning' %>

</head>

<div class="tuts-body">

	<header><h1 id="tuts-head"><div id="zombie" height="300px" width="300px" title="Zombie holding a brain with a thumbs up.  Get it?"></div>Grow Your Brains With These Tutorials and other Learning Resources</h1></header>

	<div id="tuts-intro">
			<p>
				One of the most challenging aspects of deciding to teach yourself web development or computer programming is knowing where to look.  We live in an age where all the information you could ever need is right at your fingertips.  That very same advantage can also turn into a disaster if you don't know where to look.  The internet is full of thousands of tutorials and courses to help you learn to program.  The problem is that half of them are either outdated or half way finished.  Well, while I have been self-teaching myself programming, I have kept note of the truly exceptional tutorials and courses available for free (or of little cost) online.  While the authors of most of these tutorials could have charged for their content, they chose not too.  In my eyes that makes them fantastic individuals.  So please check out their tutorials and courses and appreciate all the hard work they put in so that you can learn to become a programmer or developer.
			</p>
	</div>

	<div id="tuts-info">

		<div id="tuts1">

			<div id="inttuts">

					<a href="/inttutorials">

							<h3><strong>Interactive Tutorials</strong></h3>
						<p>
							The best Interactive Web Development and Computer Programming Tutorials available online (That I have found so far).  All of them available for free, <span id="foryou">JUST FOR YOU!!</span><span id="smallprint">(and anyone else that wants to use them.)</span>From fully immersive tutorials that will take you a year to complete, to quick ones you can finish in a day.  There is something for everyone.
						</p>

					</a>

			</div>

			<div id="booktuts">

					<a href="/booktutorials">

							<h3><strong>Book Tutorials</strong></h3>
						<p>
							Actual full length books on the InterWebs!  What will they think of next?!  The authors of these books were cool enough to put them online for anyone with an internet connection and a passion for learning to program to use.  There are actually lots of books to learn programming online, but these ones are the still relevant and great for beginners.
						</p>

					</a>

				</div>

			<div id="freeCodeCamp" title="Laptop with FreeCodeCamp Logo on the back"></div>

			</div>

		<div id="tuts2">

			<div id="videotuts">

				<div id="videomooc" title="Computer monitor with the logos for 'The New Boston', 'Upskill', 'Udacity', 'Coursera', 'Edx', and 'Udemy'"></div>

				<a href="/videotutorials">

					<h3><strong>Video Tutorials</strong></h3>

                    <p>
						For all the visual learners out there.  They say a picture is worth a thousand words.  These videos are sort of composed of like 1,000,000 pictures.  That's like reading 1,000,000,000 words!! or something like that.  Also, all of those words are <span id="lottawords">(mostly)</span> FREE!! That's a whole lotta words, for notta lotta moolah.
					</p>

				</a>

			</div>

			<div id="mooctuts">

					<a href="/mooctutorials">

						<h3><strong>Massive Open Online Courses (MOOCs)</strong></h3>

						<p>
							These MOOCs are real classes from top universities!  Now your mom can tell all her friends that her child attended classes from Harvard or MIT.  They will all be so jealous.
						</p>

					</a>

			</div>

	</div>

	<div id="tuts3">

		<div id="paidandpath">

				<a href="/paidtutorialsandpath">

					<h3><strong>Paid Tutorials and Learning Pathways</strong></h3>

					<p>
						Sometimes you can feel all that cold hard cash burning a whole in your pocket and you just got to spend it.  What better way to spend it then on some quality web development or computer programming tutorials?
					</p>

				</a>

		</div>

		<div id="refandquest">

				<a href="/referanceandquestions">

					<h3><strong>Reference Materials and Questions</strong></h3>

					<p>
						What is the meaning of life?  Why are we here? I don't know, and the people on these websites probably don't know either.  They know an awful lot about programming and web development though.  So ask away!

					</p>

				</a>

		</div>

		<div id="refandpath" title="computer monitor with logos and a computer with question marks coming out."></div>

	</div>

	<div id="tuts4">

		<div id="tools-pic" title="Picture of laptop with graphs on the screen"></div>

		<div id="tools">

				<a href="/tools">

					<h2><strong>Useful Tools</strong></h2>

                    <p>
						Back in pre-historic times, the Neanderthals created the first tools such as hammers, chisels, and typewriters.  Then the homosapiens came around and killed them and stole all of it.  Then they improved upon those tools and gave us things like GitHub, CSS Gradient Generators, Color Pickers, and Integrated Development Environments (IDEs).  Us modern day homosapiens have only improved on these things our ancestors created all those years ago and created many, many more.  These tools make life much easier on computer programmers and web developers and give more control over the final product.
					</p>

				</a>

		</div>

	</div>
</div>
</div>
