<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>CSS Tutorial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>

    <div id="css-tutorial-body">

        <header>
            <h1 id="css-tutorial-head">Learning CSS</h1>
        </header>

        <div id="css-tutorial-content">

            <h2 id="css-tutorial-title">Styling with CSS</h2>

            <p class="css-tutorial-class">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae eos, explicabo voluptatum,
                voluptates recusandae fuga, doloremque ex veritatis reprehenderit placeat sint nihil perferendis animi officia
                dolorem laborum repudiandae laudantium dolore?
            </p>

            <img id="css-tutorial-image" src="https://res.cloudinary.com/dmks1qdth/image/upload/v1539357334/css-image.jpg"
                alt="An image of CSS">

            <p class="css-tutorial-class">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta saepe, error pariatur a laudantium
                facilis praesentium fuga libero quasi dicta illo quia exercitationem dignissimos placeat asperiores corporis
                ullam? Totam, tempora?
            </p>

            <p class="css-tutorial-class">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus consequuntur, quae ut natus
                facilis impedit modi eaque cupiditate corrupti pariatur non consectetur eveniet inventore culpa fugiat amet
                ipsa repudiandae velit?
            </p>

            <h2 id="second-css-title">More Styling with CSS</h2>

            <p class="css-tutorial-class">
                <span id="css-tutorial-span">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span> Maxim
                repellat ratione eveniet iure asperiores exercitationem adipisci illo molestias, pariatur est beatae
                atque iusto, labore fuga explicabo eum quidem esse officiis!
            </p>

        </div>
    </div>
</body>

</html>