

<div class="programming-body">

<header>
        <h1 id="programming-head">The Who, What, When, Where, Why, and How's of Programming</h1>
</header>

<p id="programming-intro">Welcome to the new monthly feature on codingko.com, "The Who, What, Where, When, Why, and How's of Programming".  Each month I will be covering a new language, technology, framework, or tool that has to do with computer programming or web development.  You will learn everything you ever wanted to know about these subjects as I answer many questions about each one.  You will get answers to the questions "Who created it?", "What is it used for?", "Where can I start learning it?", "When was it created?", "Why use it?" and "How does it work?".  You will also learn about if it has any alternatives, as well as some information on the alternatives, and about any tools or frameworks available for it.  Also a tutorial on the bare minimum you should know in order to get a program or webpage up and running.  Really, you will learn everything you ever wanted, or needed to learn about programming right here!</p>

<div id="programming-nav">
<ul>
<li><h2 class="w5h-links"><a href="/w5hhtml">The Who, What, Where, When, Why, and How's of HTML</a></h2></li>
<li><h2 class="w5h-links"><a href="/w5hcss">The Who, What, Where, When, Why, and How's of CSS</a></h2></li>
</ul>
</div>