#CSS-ID {
    font-size: 7vw;
    text-align: center;
    text-shadow: -3px 5px 3px #db7100;
    color: #92db00;
    font-family: "Times New Roman", Times, serif;
    font-weight: 800;
}

.CSS-class {
    font-size: 1.6vw;
    background-color: #c7d2e2;
    color: #000000;
    margin: 0 auto;
    line-height: 1.2em;
    word-spacing: 1.5em;
    letter-spacing: 1em;
}