body, html {
    position: relative;
    background-color: #e0e2db;
    height: 100%;
    width: 100%;
}

.about-title {
    font-family: "Acme", sans-serif;
    position: absolute;
    top: 115%;
    left: 10%;
}

.about-header {
    background-color: #191716;
    margin-top: -33px;
}

.about-header h1 {
    font-family: "Bungee Inline", cursive;
    color: #e0e2db;
    font-size: 5.6em;
    text-shadow: -5px -3px 5px #beb7a4;
}

.about-content {
    text-indent: 50px;
    line-height: 1.6;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    position: absolute;
    top: 130%;
    left: 13%;
}

#me {
    position: absolute;
    top: 45%;
    margin-left: auto;
    margin-right: auto;
    height: 55%;
    width: 30%;
    left: 32%;
    border: 10px solid #e6af2e;
    display: block;
}

footer {
    position: absolute;
    top: 200%
}
