.about-body {
    width: 100%;
    height: auto;
    margin: 0;
    padding-bottom: 4%;
    background-color: #e0e2db;
}

#about-head {
    font-family: 'IM Fell Great Primer SC', serif;
    width: 100%;
    height: 100%;
    background-color: #191716;
    font-size: 7vw;
    color: #e0e2db;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
    text-shadow: 3px -2px 3px #e6af2e;
}

#lotsomouths {
    z-index: 2;
    background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1535844893/lotslittlemoutheyes.png);
    width: 35%;
    height: 100%;
    background-size: 100% 100%;
    margin-top: -38%;
    position: absolute;
    display: block;
}

#lotsomouths2 {
    z-index: 2;
    background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1535844893/lotslittlemoutheyes.png);
    width: 35%;
    height: 100%;
    background-size: 100% 100%;
    margin-top: -38%;
    margin-left: 65%;
    position: absolute;
    display: block;
}

#mouth-wrapper {
    height: 450px;
    width: 100%;
}

#me {
    height: 450px;
    width: 30%;
    background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1531755040/KennethOlsenWebDeveloperDetroit.png);
    background-size: 100% 100%;
    margin: 5% auto 5% auto;
    box-shadow: -7px 9px 5px #191716;
    z-index: 4;
}

#about-content {
    text-indent: 50px;
    width: 90%;
    font-size: 1.8vw;
    letter-spacing: 0.02em;
    line-height: 1.8em;
    margin: -18% auto 0 auto;
    color: #191716;
    font-family: 'Source Serif Pro', serif;
    font-weight: 550;
    padding-left: 5%;

    h2 {
        font-size: 4.3vw;
        text-shadow: -1px 1px 1px #191716;
        color: #3d348b;
        text-align: center;
        padding-bottom: 4%;
        padding-top: 3%;
        margin-left: -4%;
        border-bottom: 10px solid #3d348b;
        border-radius: 360px;
        padding-right: 5%;
    }

    a {
        color: #3d348b;
    }

    a:hover {
        font-size: 2.5vw;
        text-shadow: -3px 3px 2px #e6af2e;
    }

    p {
        padding-bottom: 3%;
        padding-top: 2%;
    }
}

#awards {
    font-size: 2vw;
    margin-left: 0.5%;
    font-family: 'Source Serif Pro', serif;

    ul {
        padding-top: 10%;
        margin-left: -11.5%;
        list-style-position: inside;
    }

    #sax {
        font-size: 1.7vw;
    }

    h2 {
        font-size: 3.5vw;
        padding-bottom: 2%;
        margin-top: -3%;
        border-bottom: 10px solid #e6af23;
        padding-top: 15%;
        border-radius: 20%;
        text-align: center;
        margin-left: -2%;
    }

    li {
        padding-bottom: 2.5%;
        padding-top: 2.5%;
        text-align: center;
    }

    li:nth-child(odd) {
        color: #e6af23;
        background-color: #3d348b;

        span {
            color: #e0e2db;
            font-weight: 900;
        }
    }

    li:nth-child(even) {
        color: #3d348b;
        background-color: #e6af23;

        span {
            color: #191716;
            font-weight: 900;
        }
    }
}

@media all and (max-width: 1000px) {
    #lotsomouths, #lotsomouths2 {
        height: 80%;
        width: 32%;
        margin-top: -55%;
    }

    #me {
        height: 360px;
        width: 27%;
        margin-top: 25%;
    }

    #about-head {
        font-size: 7.3vw;
    }

    #about-content {
        margin-top: -28%;
        font-size: 2vw;

        h2 {
            font-size: 4.6vw;
            padding-right: 5%;
        }

        a:hover {
            font-size: 2.8vw;
        }
    }

    #awards {
        font-size: 2.2vw;

        #sax {
            font-size: 1.9vw;
        }

        h2 {
            font-size: 3.8vw;
        }
    }
}

@media all and (max-width: 800px) {
    #lotsomouths, #lotsomouths2 {
        height: 70%;
        width: 30%;
        margin-top: -55%;
    }

    #me {
        height: 310px;
        width: 31%;
        margin-top: 26%;
    }

    #about-head {
        font-size: 7.5vw;
        padding-top: 10%;
    }

    #about-content {
        margin-top: -35%;
        font-size: 2.3vw;

        h2 {
            font-size: 4.9vw;
            padding-right: 5%;
        }

        a:hover {
            font-size: 3vw;
        }
    }

    #awards {
        font-size: 2.5vw;

        #sax {
            font-size: 2.1vw;
        }

        h2 {
            font-size: 4vw;
        }
    }
}

@media all and (max-width: 650px) {
    #lotsomouths {
        background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1535844893/lotslittlemoutheyes.png);
        width: 95%;
        height: 390px;
        background-size: 100% 100%;
        margin-top: -118%;
    }

    #lotsomouths2 {
        background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1535844893/lotslittlemoutheyes.png);
        width: 95%;
        height: 400px;
        background-size: 100% 100%;
        margin-top: -2%;
        margin-left: 0%;
    }

    #me {
        height: 300px;
        width: 48%;
        background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1531755040/KennethOlsenWebDeveloperDetroit.png);
            background-size: 100% 100%;
        margin: 70% auto 5% auto;
    }

    #about-content {
        margin-top: -15%;
        font-size: 2.7vw;
        padding-left: 2%;

        h2 {
            font-size: 6vw;
            padding-right: 12%;
        }

        a:hover {
            font-size: 3.5vw;
        }
    }

    #awards {
        font-size: 2.8vw;

        #sax {
            font-size: 2.6vw;
        }

        h2 {
            font-size: 4.7vw;
        }
    }

    #about-head {
        padding-top: 15%;
    }

}

@media all and (max-width: 500px) {
    #lotsomouths {
        background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1535844893/lotslittlemoutheyes.png);
        width: 95%;
        height: 390px;
        background-size: 100% 100%;
        margin-top: -150%;
    }

    #lotsomouths2 {
        background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1535844893/lotslittlemoutheyes.png);
        width: 95%;
        height: 400px;
        background-size: 100% 100%;
        margin-top: -2%;
        margin-left: 0%;
    }

    #me {
        height: 280px;
        width: 50%;
        background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1531755040/KennethOlsenWebDeveloperDetroit.png);
            background-size: 100% 100%;
        margin: 90% auto 5% auto;
    }

    #about-content {
        margin-top: -15%;
        font-size: 3.5vw;
        padding-left: 2%;

        h2 {
            font-size: 6.5vw;
            padding-right: 12%;
        }

        a:hover {
            font-size: 3.8vw;
        }
    }

    #awards {
        font-size: 3.2vw;

        #sax {
            font-size: 3vw;
        }

        h2 {
            font-size: 5vw;
        }
    }
}

@media all and (max-width: 420px) {
    #lotsomouths {
        background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1535844893/lotslittlemoutheyes.png);
        width: 95%;
        height: 370px;
        background-size: 100% 100%;
        margin-top: -170%;
    }

    #lotsomouths2 {
        background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1535844893/lotslittlemoutheyes.png);
        width: 95%;
        height: 400px;
        background-size: 100% 100%;
        margin-top: -2%;
        margin-left: 0%;
    }

    #me {
        height: 260px;
        width: 52%;
        background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1531755040/KennethOlsenWebDeveloperDetroit.png);
        background-size: 100% 100%;
        margin: 100% auto 5% auto;
    }

    #about-content {
        margin-top: -15%;
        font-size: 4.2vw;
        padding-left: 2%;

        h2 {
            font-size: 7vw;
            padding-right: 12%;
        }

        a:hover {
            font-size: 5vw;
        }
    }

    #awards {
        font-size: 4.2vw;

        #sax {
            font-size: 4vw;
        }

        h2 {
            font-size: 5.5vw;
        }
    }
}

@media all and (max-width: 380px) {
    #lotsomouths {
        background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1535844893/lotslittlemoutheyes.png);
        width: 96%;
        height: 350px;
        background-size: 100% 100%;
        margin-top: -190%;
    }

    #me {
        height: 220px;
        width: 58%;
        background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1531755040/KennethOlsenWebDeveloperDetroit.png);
        background-size: 100% 100%;
        margin: 110% auto 5% auto;
    }
}
