/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "social-share-button";
@import "bootstrap";
@import "bootstrap-sprockets";
@import "font-awesome-sprockets";
@import "font-awesome";

/*html,
body {
  background-color: #e0e2db;
  max-width: 100%;
  overflow-x: hidden;
  margin-top: -3%;
}*/



.button_container {
  z-index: 999;
  background-color: #191716;
  padding: 1%;
  position: fixed;
  top: 5%;
  right: 2%;
  height: 33px;
  width: 70px;
  cursor: pointer;
  transition: opacity .25s ease;
  
  &:hover {
    opacity: .7;
  }
  
  &.active {
    z-index: 999;
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: #e6af2e;
    }
    .middle {
      opacity: 0;
      background: #e6af2e;
    }
    
    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: #e6af2e;
    }
  }
  
  span {
    z-index: 999;
  background: #e0e2db;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;
    
    &:nth-of-type(2) {
      top: 11px;
    }
    
    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  z-index: 998;
  position: fixed;
  background: #191716;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: visible;
  
  &.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
    
    li, #logo-nav, .social-media {
      animation: fadeInRight .8s ease forwards;
      animation-delay: .05s;
    }
  }

  nav {
    position: relative;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2vw;
    font-family: 'Special Elite', cursive;
    font-weight: 400;
    text-align: center;
  }

  #logo-nav {
    position: absolute;
    column-span: all;
    font-family: 'Share Tech Mono', monospace;
    font-size: 8vw;
    margin-top: -11.5%;
    margin-left: 15%;
    padding-bottom: 5%;
    text-align: center;
    color: black;
    text-shadow: 2px 1px 3px #e6af2e;
  
      span {
        color: #e6af2e;
        text-shadow: 2px 1px 3px #3d348b;
      }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 11% auto 0% -5%;
    display: inline-block;
    position: relative;
    height: 100%; 
    column-count: 3;
    column-width: 30%;
    column-gap: 1%;
    
    li {
      display: block;
      line-height: 1em;
      height: calc(100% / 18);
      min-height: 50px;
      position: relative;
      opacity: 0;
      margin-top: 4.5%;
      
      a {
        display: block;
        position: relative;
        color: #e0e2db;
        text-shadow: -1.5px -1.5px 1.5px #3d348b, 1.5px 1.5px 1.5px #3d348b;
        text-decoration: none;
        overflow: hidden;

          a:hover {
            color: #e6af2e;
          }
        
        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }
        
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: #3d348b;
          transition: .35s;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.social-media {
  position: absolute;
  margin-top: 3%;
  left: 1.5%;
  width: 100%;
  font-size: 2.6vw;

    span, a, i {
  color: #e0e2db;
  text-shadow: -1px 2px 2px #e6af2e;
    }
}

#social-media2, #social-media3 {
  padding-left: 5%;
}

.social-share-button {
  height: auto;
  width: 100%;
  margin-left: 2%;
}

.social-share-button-facebook,
.social-share-button-twitter,
.social-share-button-google_plus,
.social-share-button-tumbler,
.social-share-button-reddit,
.social-share-button-hacker_news,
.social-share-button-linkedin,
.social-share-button-pinterest,
.social-share-button-email {
  height: 28px;
  width: 28px;
  margin-left: 0%;
}

a.ssb-icon.ssb-email,
a.ssb-icon.ssb-facebook,
a.ssb-icon.ssb-twitter,
a.ssb-icon.ssb-google_plus,
a.ssb-icon.ssb-tumblr,
a.ssb-icon.ssb-reddit,
a.ssb-icon.ssb-hacker_news,
a.ssb-icon.ssb-linkedin,
a.ssb-icon.ssb-pinterest {
  background-size: 60px 60px;
  height: 60px;
  width: 60px;
  margin-right: 3%;
}

footer {
  background-color: #beb7a4;
  width: 100%;
  height: 15%;
  font-family: 'IM Fell Great Primer SC', serif;
  color: #191716;
  margin-top: 10%;

  #foot {
    font-size: 5.7vw;
    margin-top: -10%;
    padding: 0% 0 1% 16%;
    margin-left: -5%;
    letter-spacing: 0.7em;
    font-weight: 900;
    border-top: 10px solid #191716;
  }

  .social-media-f {
    position: relative;
    display: block;
    font-size: 2.89vw;
    margin: 0% 0 0 13%;
    width: 80%;
    height: auto;

    #social-media2-f,
    #social-media3-f {
      margin-left: 8%;
    }

    a {
      color: #191716;
    }
  }
}



@media all and (max-width: 1050px) {

  a.ssb-icon.ssb-email,
  a.ssb-icon.ssb-facebook,
  a.ssb-icon.ssb-twitter,
  a.ssb-icon.ssb-google_plus,
  a.ssb-icon.ssb-tumblr,
  a.ssb-icon.ssb-reddit,
  a.ssb-icon.ssb-hacker_news,
  a.ssb-icon.ssb-linkedin,
  a.ssb-icon.ssb-pinterest {
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
  }
}

@media all and (max-width: 700px) {
  .overlay nav {
    font-size: 3vw;
  }

  .social-media {
    font-size: 3.5vw;
    margin-top: 2%;
    margin-left: 3%;
  }

  .overlay ul {
    margin-top: 22%;

      li {
        margin-top: 4%;
      }
  }

  .overlay #logo-nav {
    margin-top: -15%;
  }
  
}

@media all and (max-width: 550px) {

  .overlay ul {
    column-count: 2;
    column-width: 50%;

    li {
      margin-top: 0%;
    }

    .social-media {
      margin-top: 0%;
      font-size: 3.8vw;
    }

    .overlay nav {
      font-size: 3.4vw;
    }
  }

  a.ssb-icon.ssb-email,
  a.ssb-icon.ssb-facebook,
  a.ssb-icon.ssb-twitter,
  a.ssb-icon.ssb-google_plus,
  a.ssb-icon.ssb-tumblr,
  a.ssb-icon.ssb-reddit,
  a.ssb-icon.ssb-hacker_news,
  a.ssb-icon.ssb-linkedin,
  a.ssb-icon.ssb-pinterest {
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
  }
}

@media all and (max-width: 450px) {

  .overlay #logo-nav {
    margin-top: -15%;
    font-size: 8.6vw;
    margin-left: 9.5%;
  }

  .overlay nav {
    font-size: 3.8vw;
  }

  .social-media {
    margin-top: 0%;
    font-size: 4vw;
  }

  .overlay ul {

    li {
      margin-top: .1%;
    }
  }
}

@media all and (max-width: 408px) {

  a.ssb-icon.ssb-email,
  a.ssb-icon.ssb-facebook,
  a.ssb-icon.ssb-twitter,
  a.ssb-icon.ssb-google_plus,
  a.ssb-icon.ssb-tumblr,
  a.ssb-icon.ssb-reddit,
  a.ssb-icon.ssb-hacker_news,
  a.ssb-icon.ssb-linkedin,
  a.ssb-icon.ssb-pinterest {
    background-size: 19px 19px;
    height: 19px;
    width: 19px;
  }
}

