

.blog-main {
    position: relative;
    top: 200px;
    background-image: url(https://lh3.googleusercontent.com/w72Y4RvcBw0hWQkx2ZL42Dyrnc6MrQ2gR-QF8EY4VDs_rGTBTN1LSVnpg3Xsa2-S6p4BYsLRQCv3EsDiOKCrDfmcCOeJRXLLxBAQU2fUmC2WxMVT1z9Sh7jwy3a0CF0mj3LlFYiEikjDhLqzlwSAqXkCdADz3a__llxtwaTygk3Yws1oOYTEfMNcKkZHNRAzFvlyLG-yPia-Kc6Svw6Oyj_DlAoMAmRhoPOOfN8oGI0qQn4-wJ6Jyx0-H-qCAlQqXGvMAQIrFGGuMvwPCOiM6cxjOvjbMIDx6V15AtjLTE44MN1vY3QMX_i5g8h_TVM0aESwNtTbZumEtEtw7Aknp769iNbQ4BNYwomwWun_lLF56tg4-DHRJ_qX7ft1gB-L6sxNWX2BXvSlND-SBdxLO98vAVw165gTgDc8Gt61kPSfS9GD-Qa7hWru4CSho4111_yLrSiViBzY76aOu6av220lQaUP04XuY8nARUne5b-Osxhv84lDfeKxG-i1V4L691n_WoUCunwiwdEJWM4Q0oCeFjnc5Y1e0V9Qo9E_aqUjx_zCW6Vs9hpjrV_dXd1hxLJ92jzKSnR0U0M7OH7qn6iQZNhOeps305TDTDw=w1388-h925-no);
    margin-top: -202px;
    padding-bottom: 30%;
}

.blog-header {
    background-color: #191716;
    height: 100%;
    margin-top: -33px;
}

.black-bg-head {
    background-color: black;
    position: relative;
    height: 30em;
    border-bottom: 4px solid #3d348b;
}

.blog-header h1 {
    font-family: 'Germania One', cursive;
    font-size: 9em;
    color: #e0e2db;
    margin-top: 12%;
}

#matrix {
    width: 650px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    z-index: 2;
    color: #e0e2db;
    top: 200px;
    font-size: 23px;
}

#matrix-header {
    position: relative;
    text-align: center;
    z-index: 2;
    font-size: 30px;
    color: #e0e2db;
    font-family: 'Prompt', sans-serif;
    top: 100px;
    margin-right: auto;
    margin-left: auto;
}

#matrix-header h1 {
    font-size: 3em;
}

#matrix-header h2 {
    position: relative;
    font-size: 1.2em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#matrix-header h4 {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.article-content p {
    justify-content: left;
    text-indent: 50px;
    position: relative;
    padding-bottom: 30px;
    line-height: 1.9;
    padding: 20px 55px 10px 55px;
}

.article-content {
    background-color: #e0e2db;
    position: relative;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    top: 15em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    border-radius: 20px;
    padding-top: 5%;
    padding-bottom: 10%;
}

.article-content span {
    text-decoration: underline;
    font-weight: 900;
}

#ali {
    position: relative;
    left: 5%;
    font-size: 1.2em;
    font-weight: 900;
    text-decoration: underline solid; 
}

#time-quote {
    position: relative;
    width: 65%;
    margin: 0 auto;
}

#time {
    position: relative;
    left: 2%;
    margin: 0;
    font-weight: 900;
    font-size: 1.2em;
    text-decoration: underline solid; 
    line-height: 1.8em;
}

footer {
    position: relative;
    top: 100%;
}

@media all and (max-device-width: 576px) {
#matrix {
    width: 50%;
}

.article-content {
    font-size: 0.9em;
    width: 100%;
    line-height: 1em;
    margin-bottom: 10%;
}

.blog-main {
    position: relative;
    margin-top: -202px;
    padding-bottom: 30%;
}

.blog-header h1 {
    font-size: 6em;
    margin-top: 12%;
}

#matrix-header h1 {
    font-size: 2em;
}
}