
.blog-body {
    width: 100%;
    height: auto;
    margin: 0;
    background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1533040995/matrix-bg.png);
    padding-bottom: 15%;
}

#blog-head {
    width: 100%;
    background-color: #191716;
    height: auto;
    font-size: 9vw;
    font-family: 'IM Fell Great Primer SC', serif;
    color: #e0e2db;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
    text-shadow: 3px -2px 3px #e6af2e;
}

.matrix-head {
    width: 95%;
    height: auto;
    color: #e0e2db;
    font-family: 'Corben', cursive;
    text-align: center;
    margin: 0 auto;
    line-height: 1.6em;
    letter-spacing: 0.3em;
    padding-top: 5%;
    text-shadow: -2px 1px 2px #3d348b;

        h1 {
          margin: 0 auto;
          color: #e6af2e;
          font-size: 5.5vw;
          border-bottom: 7px solid #3d348b;
          width: 90%;
        }

        h2 {
          color: #beb7a4;
          font-size: 3.5vw;
        }

        h4 {
          font-size: 2vw;
        }
    }

#matrix-quote {
    color: #e0e2db;
    font-size: 2vw;
    padding-top: 15%;
    padding-bottom: 9%;
    width: 60%;
    margin: 0 auto;
    justify-content: left;
    text-shadow: -2px 1px 2px #3d348b;
    font-family: 'Source Serif Pro', serif;

        span {
            color: #e6af2e;
        }
}

#blog-content {
    background-color: #e0e2db;
    color: #191716;
    width: 85%;
    height: auto;
    padding: 10% 8% 10% 8%;
    line-height: 1.8em;
    font-size: 1.6vw;
    text-indent: 50px;
    margin: 0 auto;
    font-weight: 800;
    border-radius: 40px;
    border: 5px solid #191716;
    font-family: 'Source Serif Pro', serif;

        p {
            padding-bottom: 5%;
        }

        span {
            color: #3d348b;
        }
}

#time-quote {
    border: 10px solid #3d348b;
    line-height: 1.9em;
    width: 80%;
    height: auto;
    font-size: 2.3vw;
    padding: 5%;
    text-align: center;
    margin: 0 auto;
    margin-top: -3%;
    background-color: #e6af2e;
}

#after-time {
    padding-top: 5%;
}

#ali {
    font-size: 2.2vw;
    width: 70%;
    padding: 3%;
    margin: 0 auto;
    border: 10px solid #3d348b;
    background-color: #e6af2e;
    line-height: 1.9em;
}

@media all and (max-width: 1100px) {

    #blog-content {
        font-size: 2vw;
    }

    #ali, #time-quote, #matrix-quote {
        font-size: 2.5vw;
    }

    .matrix-head {

        h1 {
            font-size: 6vw;
        }

        h2 {
            font-size: 4vw;
        }

        h4 {
            font-size: 2.4vw;
        }
    }

    #blog-head {
        font-size: 10vw;
    }
}

@media all and (max-width: 825px) {
    #blog-content {
        font-size: 2.5vw;
        width: 95%;
    }

    #ali, #time-quote, #matrix-quote {
        font-size: 2.8vw;
    }

    .matrix-head {

        h1 {
            font-size: 6.5vw;
        }

        h2 {
            font-size: 4.3vw;
        }

        h4 {
            font-size: 2.6vw;
        }
    }

    #blog-head {
        font-size: 10.5vw;
    }
}

@media all and (max-width: 600px) {
    #blog-content {
        font-size: 3vw;
        width: 100%;
        padding-left: 2%;
        padding-right: 1%;
    }

    #ali, #time-quote, #matrix-quote {
        font-size: 3vw;
    }

    #ali, #time-quote {
        width: 93%;
    }

    #matrix-quote {
        width: 80%;
    }

    .matrix-head {

        h1 {
            font-size: 6.8vw;
        }

        h2 {
            font-size: 4.5vw;
        }

        h4 {
            font-size: 2.8vw;
        }
    }

    #blog-head {
        font-size: 10.9vw;
    }
}

@media all and (max-width: 500px) {
    #blog-content {
        font-size: 3.5vw;
        width: 100%;
    }

    #ali, #time-quote, #matrix-quote {
        font-size: 4vw;
    }

    #matrix-quote {
        width: 80%;
    }

    .matrix-head {

        h1 {
            font-size: 7vw;
        }

        h2 {
            font-size: 4.8vw;
        }

        h4 {
            font-size: 3vw;
        }
    }

    #blog-head {
        font-size: 11.3vw;
    }
}

@media all and (max-width: 390px) {
    #blog-content {
        font-size: 4.4vw;
        width: 100%;
    }

    #ali, #time-quote, #matrix-quote {
        font-size: 4.9vw;
    }

    #matrix-quote {
        width: 80%;
    }

    .matrix-head {

        h1 {
            font-size: 7.2vw;
        }

        h2 {
            font-size: 5.4vw;
        }

        h4 {
            font-size: 3.1vw;
        }
    }

    #blog-head {
        font-size: 11.6vw;
    }
}
