main {
    background-image: url(http://cdn2-europe1.new2.ladmedia.fr/var/europe1/storage/images/europe1/culture/matrix-lorigine-du-code-vert-revelee-3478307/44949452-1-fre-FR/Matrix-l-origine-du-code-vert-revelee.jpg);
    margin-top: -30px;
    padding-bottom: 270px;
}

#matrix {
    width: 650px;
    position: relative;
    left: 30%;
    z-index: 2;
    color: white;
    top: 200px;
    font-size: 20px;
}

#matrix-header {
    position: relative;
    text-align: center;
    z-index: 2;
    font-size: 30px;
    color: white;
    font-family: 'Prompt', sans-serif;
    top: 100px;
}

#matrix-header h1 {
    font-size: 3em;
}

#matrix-header h2 {
    position: relative;
    font-size: 1.2em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#matrix-header h4 {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.article-content p {
    justify-content: left;
    text-indent: 50px;
    position: relative;
    top: 50px;
    padding-bottom: 30px;
    line-height: 1.9;
}

.article-content {
    background-color: white;
    position: relative;
    width: 880px;
    left: 21%;
    top: 250px;
    padding: 0px 50px 130px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    border-radius: 20px;
}

#time {
    position: absolute;
    width: 600px;
    left: 130px;
    text-align: left;
    margin: 0 auto;
}