.books-header h1 {
    font-size: 6em;
    color: #e0e2db;
    position: relative;
    margin-top: 6.8%;
    font-family: 'Graduate', cursive;
    text-shadow: -7px -5px 6px #beb7a4;
}

.rectangle {
  position: relative;
  background-color: red;
  height: 150px;
  width: 75px
  
}

.books-head-bg {
    position: absolute;
    width: 98%;
    top: 12%;
    background-color: #191716;
    height: 43%;
    margin-left: auto;
    margin-right: auto;
    right: 2%;
    z-index: 2;
}

.books-body {
    background-color: #e0e2db;
    margin-top: -33px;
}

.books-tutorials {
    position: relative;
    top: 700px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 250px;
    height: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #191716;
    left: 5%;
}

.books-tutorials ol {
    position: relative;
    left: 1%;
}

.books-tutorials ol p {
    width: 88%;
    position: relative;
    border-bottom: 7px solid #e6af2e;
    padding-bottom: 25px;
    font-weight: 800;
}

.books-tutorials h2 {
    border-bottom: 10px solid #3d348b;
    width: 45%;
    border-radius: 5%;
    padding-bottom: 15px;
}

.books-tutorials a {
    color: #3d348b;
}

.books-tutorials p {
    text-indent: 50px;
    position: relative;
    margin: 0;
    line-height: 1.8em;
}

.book-pics {
    position: relative;
    float: right;
    margin: 20px;
}

#eloquentjavascriptborder {
    border-bottom: 7px solid #e6af2e;
}

#books-intro-header {
    position: relative;
    left: 1%;
}

#books-intro {
    position: relative;
    left: 1%;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #191716; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

@media all and (max-width: 1400px) {
  .books-header h1 {
    font-size: 5em;
    margin-top: 6.8%;
}

.books-head-bg {
    width: 98%;
    height: 43%;
    right: 2%;
}

#books-intro-header {
  position: relative;
  left: 5%;
}

#books-intro {
  position: relative;
  left: 5%;
  width: 80%;
}
}

@media all and (max-width: 1178px) {
  .books-header h1 {
    font-size: 4.5em;
    margin-top: 6.8%;
}

.books-head-bg {
  width: 98%;
  height: 48%;
  right: 2%;
}

.books-tutorials ol {
  position: relative;
  left: 10%;
  width: 90%;
}

#books-intro-header {
  position: relative;
  left: 10%;
}

#books-intro {
  position: relative;
  left: 10%;
  width: 80%;
}
}

@media all and (max-width: 996px) {
  .book-pics {
    margin: 20px;
    height: 400px;
    width: 350px;
    float: right;
}

#books-intro-header {
  position: relative;
  left: 15%;
}

#books-intro {
  position: relative;
  left: 15%;
  width: 80%;
}

.books-tutorials ol {
  position: relative;
  left: 15%;
  width: 90%;
  padding: 2%;
}
}

@media all and (max-width: 840px) {
  .book-pics {
    margin: 20px;
    height: 300px;
    width: 250px;
    float: right;
}

.books-tutorials {
  position: relative;
  top: 700px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 1.1em;
  left: 5%;
}
}

@media all and (max-width: 630px) {
  .sidenav {
    display: none;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #191716; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

  .books-tutorials ol {
    position: relative;
    left: 0%;
    width: 100%;
    padding: 2%;
  }

#books-intro-header {
  position: relative;
  left: 5%;
}

#books-intro {
  position: relative;
  left: 0%;
  width: 90%;
}

.books-header h1 {
  font-size: 3.5em;
  margin-top: 6.8%;
}
}

@media all and (max-width: 490px) {
  .book-pics {
    margin: 20px;
    height: 200px;
    width: 150px;
    float: right;
}
}

@media all and (max-width: 386px) {
  .book-pics {
    margin: 20px;
    height: 125px;
    width: 75px;
    float: right;
}
}


  /*@media all and (max-width: 1398px) and (min-width: 1142px) {
    .books-head-bg {
      width: 98%;
      top: 275px;
      height: 43%;
  }

  .books-header h1 {
    font-size: 4.5em;
    top: 65px;
}
  }

  @media all and (max-width: 1142px) and (min-width: 992px) {
    .books-head-bg {
      width: 98%;
      top: 275px;
      height: 49%;
  }

  .books-header h1 {
    font-size: 4em;
    top: 65px;
}

.books-tutorials {
  top: 700px;
  width: 95%;
  padding-bottom: 250px;
  height: auto;
  font-weight: 600;
  font-size: 1.3em;
  left: 5%;
}

#books-intro {
  width: 95%;
  left: 1%;
}

  }

  @media all and (max-width: 992px) {
    .books-header h1 {
      font-size: 5em;
      top: 5%;
  }

#books-intro-header {
  position: relative;
  left: 1%;
  margin-top: -70%;
}

#books-intro {
  position: relative;
  left: 1%;
  margin-right: 1%;
}

  }

 

  @media all and (max-width: 768px) {

    .books-tutorials {
      position: relative;
      top: 700px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      padding-bottom: 250px;
      font-size: 1.3em;
  }

  .book-pics {
    position: relative;
    float: right;
    margin: 20px;
    width: 300px;
    height: 400px;
}

.books-header h1 {
  font-size: 4.2em;
  top: 5%;
}

#books-intro {
  position: relative;
  left: 1%;
  margin-right: 10%;
}
  }

  @media all and (max-width: 534px) {

  .books-tutorials {
    position: relative;
    top: 700px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 250px;
    font-size: 1.1em;
}

  .book-pics {
    position: relative;
    float: right;
    margin: 20px;
    width: 200px;
    height: 300px;
}

.books-header h1 {
  font-size: 4em;
  top: 5%;
}


#books-intro {
  position: relative;
  left: 1%;
  margin-right: 10%;
}
  }

  @media all and (max-width: 454px) {
    .books-tutorials {
      position: relative;
      top: 700px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      padding-bottom: 250px;
      font-size: 1em;
  }

  .books-header h1 {
    font-size: 3em;
    top: 5%;
  }

  .book-pics {
    position: relative;
    float: right;
    margin: 20px;
    width: 120px;
    height: 220px;
}
 
  }*/