
html, body {
    position: relative;
    height: 100%;
    width: 100%;
}
.contact-header {
  background-color: #191716;
  height: 160px;
  position: relative;
  width: 119.5%;
  margin-top: -33px;
  left: -9.8%
}

.contact-header h1 {
font-size: 6em;
font-family: 'Graduate', cursive;
text-shadow: -7px -5px 6px #beb7a4;
color:  #e0e2db;
position: relative;
top: 20%;
right: 0.5%;
}

.contact-intro {
    background-color: #beb7a4;
    color: #191716;
    position: absolute;
    width: 85%;
    padding: 59px;
    top: 35%;
    border-radius: 12%;
    box-shadow: 12px -10px 40px #e6af2e;
    border: 2px solid #3d348b;
}

.arrow {
    position: absolute;
    top: 167%;
    left: 33%;
}

#contact-me {
    position: absolute;
    font-size: 3.6em;
    font-family: 'Graduate', cursive;
    top: 90%;
    left: 37%;
    margin: 0;
    text-shadow: -2px 2px 8px #191716;
    border-bottom: 3px solid #3d348b;
}

#hire {
    position: absolute;
    font-size: 3.6em;
    font-family: 'Graduate', cursive;
    top: 128%;
    left: 45%;
    transform: rotate(17deg) rotateX(12deg) skewX(1deg);
    margin: 0;
    text-shadow: 2px -2px 8px #191716;
    border-bottom: 3px solid #3d348b;
}

#critique {
    position: absolute;
    font-size: 3.6em;
    font-family: 'Graduate', cursive;
    top: 114%;
    left: 0.5%;
    transform: rotate(-23deg) rotateX(-20deg) skewX(1deg);
    margin: 0;
    text-shadow: -2px -2px 8px #191716;
    border-bottom: 3px solid #3d348b;
}

#lunch {
    position: absolute;
    font-size: 3.6em;
    font-family: 'Graduate', cursive;
    top: 126%;
    left: 60%;
    transform: rotate(30deg) rotateX(35deg) skewX(1deg);
    margin: 0;
    text-shadow: 2px 2px 8px #191716;
    border-bottom: 3px solid #3d348b;
}

#fill-it-out {
    position: absolute;
    font-size: 3.6em;
    font-family: 'Graduate', cursive;
    top: 145%;
    left: 8%;
    transform: rotate(3deg) rotateX(5deg) skewX(1deg);
    margin: 0;
    text-shadow: -3px 4px 5px #191716;
    border-bottom: 7px solid #3d348b;
}

.contact-intro p {
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    font-size: 1.9em;
    text-indent: 50px;
}

#twitter {
    position: absolute;
    left: -20%;
    display: inline-block;
    margin: 0;
    top: 1000px;
}

.header {
    background-color: #beb7a4;
    font-family: 'Graduate', cursive;
    color: #3d348b;
    font-size: 3em;
    padding: 10px;
    text-shadow: 1px 2px 2px #191716;
   }
   
   .bigicon {
   
    font-size: 36px;
    color: #3d348b;
   }

   fieldset {
       background-color: #beb7a4;
   }

  .contact-ko .row .col-md-12 .ko-well {
       color: #beb7a4;
       background-color: #beb7a4;
   }

   .ko-row {
       position: absolute;
       width: 68%;
       top: 180%;
       left: 18%;
   }

   footer {
       position: absolute;
       top: 325%;
   }
