
.good-contact-body {
    position: relative;
}
.tear-away {
background-color: #e0e2db;
position: relative;
height: 100%;
padding-bottom: 100%;
margin-top: -2%;
}

.contact1 {
    position: relative;
    height: 120vh;
    width: 95vw;
    margin-left: 2%;
    margin-top: 5%;
    z-index: 1;
}

.email a {
    position: relative;
    height: 15%;
    width: 12%;
    display: block;
    left: 2%;
    z-index: 2;
    top: -15%;
}

.email {
    position: relative;
    height: 110em;
    z-index: 2;
}

.answering-machine {
    display: inline-block;
    position: absolute;
    top: 36%;
    left: -3.5%;
}

.github {
    position: absolute;
    height: 5.6%;
    width: 9%;
    display:  block;
    margin-left: 38%;
    margin-top: -123%;
    z-index: 2;
}

.git-at-me {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 2;
}

.connect {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 2;
}

.linkedin {
    position: absolute;
    height: 5%;
    width: 8%;
    display:  block;
    margin-left: 54%;
    margin-top: -14%;
    z-index: 2;
}

.beep-form {
    display: inline-block;
    position: absolute;
    left: 44%;
    top: 19%;
    height: 25%;
    width: 30%;
    z-index: 1;

}

fieldset {
    z-index: 2;
}

.beep {
    position: relative;
    height: 125%;
    width: 165%;
}

