.form-area {
    margin: 0;
    position: relative;
    top: 60%;
    left: 36%;
    height: 400px;
    width: 350px;
    color: black;
}

.contact-header {
  background-color: #191716;
  height: 20%;
  position: relative;
  width: 102%;
  left: -1.1%;
  margin-top: -33px;
}

.contact-header h1 {
font-size: 6em;
font-family: 'Graduate', cursive;
text-shadow: -7px -5px 6px #beb7a4;
color:  #e0e2db;
position: relative;
top: 25%;
right: 2.5%;
}

.well {
    background-color: hsla(13, 5%, 72%, 1);
    position: relative;
    top: 180%;
    left: -25%;
}

.contact-body {
    height: 1200px;
    width: 100%;
}

.contact-intro {
    background-color: #beb7a4;
    color: #191716;
    position: relative;
    width: 120%;
    padding: 59px;
    left: -9%;
    top: 43px;
    border-radius: 12%;
    box-shadow: 12px -10px 40px #e6af2e;
    border: 2px solid #3d348b;
}

.arrow {
    position: relative;
    top: 600px;
    left: 25%;
}

#contact-me {
    position: absolute;
    font-size: 3.6em;
    font-family: 'Graduate', cursive;
    top: 95%;
    left: 35%;
    margin: 0;
    text-shadow: -2px 2px 8px #191716;
    border-bottom: 3px solid #3d348b;
}

#hire {
    position: absolute;
    font-size: 3.6em;
    font-family: 'Graduate', cursive;
    top: 95%;
    left: 67%;
    transform: rotate(17deg) rotateX(12deg) skewX(1deg);
    margin: 0;
    text-shadow: 2px -2px 8px #191716;
    border-bottom: 3px solid #3d348b;
}

#critique {
    position: absolute;
    font-size: 3.6em;
    font-family: 'Graduate', cursive;
    top: 100%;
    left: 5%;
    transform: rotate(-23deg) rotateX(-20deg) skewX(1deg);
    margin: 0;
    text-shadow: -2px -2px 8px #191716;
    border-bottom: 3px solid #3d348b;
}

#lunch {
    position: absolute;
    font-size: 3.6em;
    font-family: 'Graduate', cursive;
    top: 125%;
    left: 60%;
    transform: rotate(8deg) rotateX(-10deg) skewX(1deg);
    margin: 0;
    text-shadow: 2px 2px 8px #191716;
    border-bottom: 3px solid #3d348b;
}

#fill-it-out {
    position: absolute;
    font-size: 3.6em;
    font-family: 'Graduate', cursive;
    top: 135%;
    left: 20%;
    transform: rotate(3deg) rotateX(5deg) skewX(1deg);
    margin: 0;
    text-shadow: -3px 4px 5px #191716;
    border-bottom: 7px solid #3d348b;
}

.contact-intro p {
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    font-size: 1.9em;
    text-indent: 50px;
}

#twitter {
    position: relative;
    left: -20%;
    display: inline-block;
    margin: 0;
    top: 1000px;
}

.header {

    color: #3d348b;
   
    font-size: 27px;
   
    padding: 10px;
   
   }
   
   .bigicon {
   
    font-size: 35px;
   
    color: #3d348b;
   
   }
