.grind-header h1 {
    font-family: 'Prosto One', cursive;
    color: #e0e2db;
    font-weight: 900;
    font-size: 6em;
    text-shadow: -7px -5px 7px #beb7a4;
    position: relative;
    top: 100px;
}

.grind-header h3 {
    font-family: 'Prosto One', cursive;
    color: #e0e2db;
    font-size: 3.5em;
    font-weight: 900;
    text-shadow: -4px -3px 4px #beb7a4;
    position: relative;
    top: 100px;
}

.grind-head-bg {
    position: absolute;
    width: 1520px;
    background-color: #191716;
    height: 73%;
    margin-left: auto;
    margin-right: auto;
    right: 3px;
    margin-top: -100px;
}

.grind-h2 {
    color: #191716;
    font-size: 7em;
    font-family: 'Rock Salt', cursive;
    font-weight: 900;
    position: relative;
    padding-top: 100px;
    text-shadow: -7px -5px 7px #beb7a4;
    margin-right: auto;
    margin-left: auto;
    top: 490px;
}

.grind-header {
    margin-top: -33px;
}

.grind-content {
    position: relative;
    height: 1000px;
    width: 85%;
    background-color: #beb7a4;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    padding: 0px 50px 160px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    border-radius: 20px;
    border-right: 3px solid #3d348b;
    box-shadow: -10px 10px 10px #e6af2e;
    overflow-x: auto;
    top: 500px;
}

.grind-content p {
    text-indent: 50px;
    line-height: 1.9;
}

.grind-content h4 {
    font-size: 2em;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #3d348b;
    border-radius: 5%;
    border: 3px solid #e6af2e;
    color: #e6af2e;
    text-shadow: -7px -5px 5px fbfef9;
}

.grind-main {
    margin-top: -33px;
    padding-bottom: 160px;
}

.grind-body {
    background-color: #e0e2db;
    margin-top: -30px;
    padding-top: 100px;
    padding-bottom: 500px;
}