.grind-header h1 {
    font-family: 'Special Elite', cursive;
    color: #ccef04;
    font-weight: 900;
    font-size: 6em;
    text-shadow: -3px -2px 3px #FF0000;
}

.grind-header h3 {
    font-family: "Carrois Gothic SC", sans-serif;
    color: #622e70;
    font-size: 3.3em;
    font-weight: 900;
    text-shadow: -3px -2px 3px #ccef04;
}

.grind-h2 {
    color: #ccef04;
    font-size: 7em;
    font-family: 'Shojumaru', cursive;
    font-weight: 900;
    position: relative;
    padding-top: 100px;
    text-shadow: -3px -2px 3px #FF0000;
    margin-right: auto;
    margin-left: auto;
}

.grind-header {
    margin-top: -33px;
}

.grind-content {
    position: relative;
    height: 1000px;
    width: 85%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 160px;
    overflow: scroll;
}

.grind-main {
    margin-top: -33px;
    padding-bottom: 160px;
}

.cementLights {
    background-image: url(https://lh3.googleusercontent.com/nGNiAnjT1hBirmGl8679_pme2zbEQue1XCn6H5382qy6xkMMqyTKfaTMxkizefiSZ2bKylyfjBnbtLjFuAd67DRkh_e4M1hLaWfJ1ppStxnKt4N62Qr_14y9FgfErIiTXBRqgyzqL0MX-71Qcp5jm6uy8euvhkHDJ-8rOKi9D6vJUL15KahEFMnnn36A81z1KSkM3PAEhQDSjcS3MFbqLLDD3QI7Pc9b6WzFsRCslJ7vOBVe9xiHBnlNHhMaDtNiu_EfyI0O_sVRb6Mc-l5FLxtTqAdtWZMdoEDjOjrUwGk0o39Qt-XSfzEBlGbxVWcpXFhXIqE626jS2c5B5s8HrOidz_MfZasDT8-_KHzxxFneUIy-xFYQYirGWLrEIkAuSjjwProbUyHSYalVaYU1rUDNs7KbFYS_b_lpK8P-WVN5qKmRctZnGn2Kk_xY_ck_tMB3oCE4uxbO1QKeGkuBGMbEoUGRo1vWKtm2Qh1wYNpHF3IO71HLiuqI6VDFX0Di1Nh0UAMd31tzKe8EB1oRByIqVb2y7lLtIu98hg5GHFWq17EClSal2a2hCja8vAQ4qFMUBtOuUS1OlwCeAN-qbcnwf18C_f74Nr5E6kQ=w1470-h735-no);
    max-width: 2000px;
    background-size: cover;
    margin-top: -30px;
    padding-top: 100px;
}