.grind-header h1 {
    font-family: 'Special Elite', cursive;
    color: #ccef04;
    font-weight: 900;
    font-size: 6em;
    text-shadow: -3px -2px 3px #FF0000;
}

.grind-header h3 {
    font-family: "Carrois Gothic SC", sans-serif;
    color: #622e70;
    font-size: 3.3em;
    font-weight: 900;
    text-shadow: -3px -2px 3px #ccef04;
}

.grind-h2 {
    color: #ccef04;
    font-size: 7em;
    font-family: 'Shojumaru', cursive;
    font-weight: 900;
    position: relative;
    left: 275px;
    padding-top: 100px;
    text-shadow: -3px -2px 3px #FF0000;
}

.grind-header {
    background-image: url(https://lh3.googleusercontent.com/H8j7RPS86mPZKTCyqo484u8Li35ZHHyyxQxVaRfy853M_72lLFeuLz3qtXwqrhjq9P5k3b1ax32qC1G3dlTZ3ul2XfYvD47GARW7FGnmQx2HqXbBSzgJjlJfwvNEzTdgPn6ts2N8YnIQQqeGMpqfcdk3C6GMmxwNRAls1tbW85WA4ShJfvf5SIBHRcYVPjf6K9EK31pAb08xLRu7eEVhQhlElCKJmC3O71yQoItoVYJNbgwjwVWHO--JUWmF_MkZIoREJPVTqsbKDR01jrIVVEqZeku6Yj4p23nFjMy2vcC9yaY1yh0qaPwgk8zRvF14XwjHb_6HQ40qtvkOHSUn-xhenbnfNA4vJ0YQow7HzIidCU5pKPsqhRY2p81HTi4KV1X01SI9EKxuyksCWfLMoHlhMHSC1j_GUFUE1vZOrSTFDkPj1HteVnKSqPGNEhmfmVdIBEHY6Pu8HaxOtBqO5DDCEN-YKj1i80dINv7K3lrxqJcKcbojoS4udNGzNwWsmIaBj5Hu-uY4FwxzyocX9zZxuw2-n7xBdN_0-_EmnOeAqqNm6n9G6iHsN_HhxggSGkEjChYeq0htAfEiE1SBm5UXfi7kwjeM3Y8eFJw=w604-h340-no);
    margin-top: -33px;
}

.grind-content {
    position: relative;
    height: 1000px;
    width: 780px;
    background-color: white;
    left: 370px;
    padding-bottom: 160px;
}

.grind-main {
    background-image: url(https://lh3.googleusercontent.com/H8j7RPS86mPZKTCyqo484u8Li35ZHHyyxQxVaRfy853M_72lLFeuLz3qtXwqrhjq9P5k3b1ax32qC1G3dlTZ3ul2XfYvD47GARW7FGnmQx2HqXbBSzgJjlJfwvNEzTdgPn6ts2N8YnIQQqeGMpqfcdk3C6GMmxwNRAls1tbW85WA4ShJfvf5SIBHRcYVPjf6K9EK31pAb08xLRu7eEVhQhlElCKJmC3O71yQoItoVYJNbgwjwVWHO--JUWmF_MkZIoREJPVTqsbKDR01jrIVVEqZeku6Yj4p23nFjMy2vcC9yaY1yh0qaPwgk8zRvF14XwjHb_6HQ40qtvkOHSUn-xhenbnfNA4vJ0YQow7HzIidCU5pKPsqhRY2p81HTi4KV1X01SI9EKxuyksCWfLMoHlhMHSC1j_GUFUE1vZOrSTFDkPj1HteVnKSqPGNEhmfmVdIBEHY6Pu8HaxOtBqO5DDCEN-YKj1i80dINv7K3lrxqJcKcbojoS4udNGzNwWsmIaBj5Hu-uY4FwxzyocX9zZxuw2-n7xBdN_0-_EmnOeAqqNm6n9G6iHsN_HhxggSGkEjChYeq0htAfEiE1SBm5UXfi7kwjeM3Y8eFJw=w604-h340-no);
    margin-top: -33px;
    padding-bottom: 160px;
}