.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 105%;
  height: 8em;
  margin: 13% auto auto 10%;
  position: relative;
  background-color: #e0e2db;
  z-index: 7;
  border-top: 2px solid #191716;
  border-left: 2px solid #191716;
  text-align: center;


  li {
    float: left;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-right: 2px solid #191716;
  }

  a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #191716;
    text-decoration: none;
    position: relative;
    font-size: 1.4em;
    z-index: 9;
    font-family: 'Graduate', cursive;
  }
}

.menu2 {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 105%;
  height: 8em;
  margin: 0% auto auto 0%;
  position: relative;
  background-color: #e0e2db;
  z-index: 7;
  border-top: 2px solid #191716;
  border-bottom: 2px solid #191716;
  border-left: 2px solid #191716;
  text-align: center;

  li {
    float: left;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-right: 2px solid #191716;
  }

  a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #191716;
    text-decoration: none;
    position: relative;
    font-size: 1.4em;
    z-index: 9;
    font-family: 'Graduate', cursive;
  }
}

a.active {
  background-color: #e74c3c;
  pointer-events: none;
}

li.slider {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e74c3c;
  z-index: 8;
  transition: left .4s, background-color .4s;
}

li.slider2 {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e74c3c;
  z-index: 8;
  transition: left .4s, background-color .4s;
}

.menu li:nth-child(1):hover,
.menu li:nth-child(1):focus,
.menu li:nth-child(1):active {
  & ~ .slider {
    left: 0;
    background-color: #3498db;
  }
}


.menu li:nth-child(2):hover,
.menu li:nth-child(2):focus,
.menu li:nth-child(2):active {
  & ~ .slider {
    left: 25%;
    background-color: #9b59b6;
  }
}

.menu li:nth-child(3):hover,
.menu li:nth-child(3):focus,
.menu li:nth-child(3):active {
  & ~ .slider {
    left: 50%;
    background-color: #e67e22;
  }
}

.menu li:nth-child(4):hover,
.menu li:nth-child(4):focus,
.menu li:nth-child(4):active {
  & ~ .slider {
    left: 75%;
    background-color: #16a085;
  }
}

.menu2 li:nth-child(1):hover,
.menu2 li:nth-child(1):focus,
.menu2 li:nth-child(1):active {
  & ~ .slider2 {
    left: 0%;
    background-color: #3498db;
  }
}


.menu2 li:nth-child(2):hover,
.menu2 li:nth-child(2):focus,
.menu2 li:nth-child(2):active {
  & ~ .slider2 {
    left: 25%;
    background-color: #9b59b6;
  }
}

.menu2 li:nth-child(3):hover,
.menu2 li:nth-child(3):focus,
.menu2 li:nth-child(3):active {
  & ~ .slider2 {
    left: 50%;
    background-color: #e67e22;
  }
}

.menu2 li:nth-child(4):hover,
.menu2 li:nth-child(4):focus,
.menu2 li:nth-child(4):active {
  & ~ .slider2 {
    left: 75%;
    background-color: #16a085;
  }
}

.wrapper {
width: 100%;
height: auto;
margin-left: 20%;
margin-top: -4%;
}

.interactive-header h1 {
    font-size: 5.5em;
    color: #e0e2db;
    position: relative;
    margin-top: 8.5%;
    font-family: 'Graduate', cursive;
    text-shadow: -7px -5px 6px #beb7a4;
    margin-left: 15%;
    z-index: 2;
}

.interactive-body {
  position: relative;
  height: auto;
  margin-top: -33px;
}

.int-head-bg {
    position: absolute;
    width: 100%;
    background-color: #191716;
    height: 5%;
    margin-left: auto;
    z-index: 2;
    margin-left: 5%;
}

.interactive-online-tutorials {
    position: relative;
    margin-top: 55%;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-bottom: 15%;
    height: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #191716;
}

.interactive-online-tutorials ol {
    position: relative;
    left: 5%;
}

.interactive-online-tutorials ol p {
  border-bottom: 7px solid #e6af2e;
  padding-bottom: 3%;
}

.interactive-online-tutorials p {
    text-indent: 50px;
    position: relative;
    margin: 0;
    line-height: 1.8em;
}

.interactive-online-tutorials h2 {
  border-bottom: 10px solid #3d348b;
  width: 70%;
  padding-bottom: 2%;
}

#int-intro {
    position: relative;
    left: 50px;
}

#int-intro-header {
    position: relative;
    left: 5%;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #191716; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}



  @media all and (max-width: 1372px) {

  .interactive-online-tutorials {
    position: relative;
    margin-top: 65%;
    width: 75%;
    font-size: 1.5em;
    margin-left: 5%;
}

.wrapper {
  width: 100%;
  height: auto;
  margin-left: 10%;
  margin-top: 0%;
  }

.interactive-online-tutorials ol {
  position: relative;
  left: 10%;
  margin-right: 10%;
}

.interactive-online-tutorials p {
  text-indent: 50px;
  position: relative;
  margin-right: 10%;
  line-height: 1.8em;
}

#int-intro {
  position: relative;
  left: 10%;
  margin-right: 10%
}

#int-intro-header {
  position: relative;
  left: 10%;
}

.int-head-bg {
  position: absolute;
  width: 100%;
  background-color: #191716;
  height: 5%;
  margin-left: auto;
  z-index: 2;
  margin-left: 10%;
}

.interactive-header h1 {
  font-size: 6.2em;
  color: #e0e2db;
  position: relative;
  font-family: 'Graduate', cursive;
  text-shadow: -7px -5px 6px #beb7a4;
  margin-left: 5%;
  margin-top: 11%;
  margin-right: auto;
  margin-left: auto;
}
  }

@media all and (max-width: 1196px) {
  .interactive-header h1 {
    font-size: 5em;
    color: #e0e2db;
    position: relative;
    font-family: 'Graduate', cursive;
    text-shadow: -7px -5px 6px #beb7a4;
    margin-left: 9%;
    margin-top: 12%;
    margin-right: auto;
  }

  .wrapper {
    width: 100%;
    height: auto;
    margin-left: 20%;
    margin-top: 0%;
    }
    
.int-head-bg {
  position: absolute;
  width: 100%;
  background-color: #191716;
  height: 5%;
  z-index: 2;
  margin-left: 4%;
  margin-top: 2%;
}

.interactive-online-tutorials {
  position: relative;
  margin-top: 67%;
  width: 75%;
  font-size: 1.5em;
  margin-left: 5%;
  margin-right: 10%;
}

}

@media all and (max-width: 1176px) {
  .interactive-body {
    background-color: #e0e2db;
    margin-top: -33px;
}

.interactive-online-tutorials {
  width: 70%;
  padding-bottom: 15%;
  height: auto;
  font-size: 1.5em;
  left: 10%;
}

#int-intro {
  position: relative;
  left: 15%;
  width: 75%
}

#int-intro-header {
  position: relative;
  left: 15%;
}

.interactive-header h1 {
  font-size: 4.5em;
  color: #e0e2db;
  position: relative;
  font-family: 'Graduate', cursive;
  text-shadow: -7px -5px 6px #beb7a4;
  margin-left: 11%;
  margin-top: 15%;
}

.wrapper {
  width: 10%;
  height: auto;
  margin-left: 10%;
  margin-top: 0%;
  }

  .menu {
    margin-top: 28%;
  }
  
  .menu, .menu2 {
    margin-left: 0%;
    width: 70%;
  
    a {
      font-size: 1em;
    }
  }

 
  
.int-head-bg {
position: absolute;
width: 100%;
background-color: #191716;
height: 5%;
z-index: 2;
margin-left: 10%;
margin-top: 2%;
}
}

@media all and (max-width: 1050px) {
  .interactive-header h1 {
    font-size: 5em;
    color: #e0e2db;
    position: relative;
    font-family: 'Graduate', cursive;
    text-shadow: -7px -5px 6px #beb7a4;
    margin-left: 7%;
    margin-top: 11%;
    margin-right: auto;
  }

  .menu {
    margin-top: 28%;
  }
  
  .menu, .menu2 {
    margin-left: 0%;
    width: 100%;
  
    a {
      font-size: 1em;
    }
  }
  
  .wrapper {
    width: 50%;
    height: auto;
    margin-left: 0%;
    margin-top: 0%;
    }
    
  .int-head-bg {
  position: absolute;
  width: 110%;
  background-color: #191716;
  height: 5%;
  z-index: 2;
  margin-left: 3%;
  margin-top: 2%;
  }

  .interactive-online-tutorials {
    width: 70%;
    padding-bottom: 15%;
    height: auto;
    font-size: 1.5em;
    left: 10%;
    margin-top: 68%;
  }
}

@media all and (max-width: 900px) {
  .interactive-online-tutorials {
    width: 70%;
    padding-bottom: 15%;
    height: auto;
    font-size: 1.5em;
    left: 10%;
    margin-top: 78%;
  }

  .interactive-header h1 {
    font-size: 4em;
    color: #e0e2db;
    position: relative;
    font-family: 'Graduate', cursive;
    text-shadow: -7px -5px 6px #beb7a4;
    margin-left: 10%;
    margin-top: 15%;
    margin-right: auto;
  }
}

@media all and (max-width: 800px) {
  .interactive-online-tutorials {
    position: relative;
    margin-top: 110%;
    margin-left: -25%;
    margin-right: auto;
    width: 99%;
    padding-bottom: 15%;
    height: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: #191716;
}

.interactive-header h1 {
  font-size: 3em;
  color: #e0e2db;
  position: relative;
  margin-top: 18%;
  font-family: 'Graduate', cursive;
  text-shadow: -7px -5px 6px #beb7a4;
  margin-left: 4%;
  z-index: 2;
}

.int-head-bg {
  position: absolute;
  width: 110%;
  background-color: #191716;
  height: 5%;
  z-index: 2;
  margin-left: -5%;
  margin-top: 2%;
  }

  .interactive-body {
    position: relative;
    height: auto;
    margin-top: -33px;
    width: 100%;
  }

  .interactive-online-tutorials ol {
    position: relative;
    margin-left: -25%;
}

#int-intro {
  position: relative;
  margin-left: -20%;
}

#int-intro-header {
  position: relative;
  margin-left: -25%;
}
}

@media all and (max-width: 555px) {

  .interactive-online-tutorials {
    position: relative;
    margin-top: 145%;
    margin-left: -25%;
    margin-right: auto;
    width: 99%;
    padding-bottom: 15%;
    height: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: #191716;
}

.interactive-header h1 {
  font-size: 2.5em;
  color: #e0e2db;
  position: relative;
  margin-top: 22%;
  font-family: 'Graduate', cursive;
  text-shadow: -7px -5px 6px #beb7a4;
  margin-left: 9%;
  z-index: 2;
}
}
@media all and (max-width: 440px) {
  .interactive-header h1 {
    font-size: 1.7em;
    left: 0%;
    margin-top: 30%;
  }

  .int-head-bg {
    position: absolute;
    width: 110%;
    background-color: #191716;
    height: 3%;
    z-index: 2;
    margin-left: 0%;
    margin-top: 2%;
    }

    .interactive-online-tutorials {
      position: relative;
      margin-top: 185%;
      margin-left: -25%;
      margin-right: auto;
      width: 99%;
      padding-bottom: 15%;
      height: auto;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 600;
      font-size: 1.2em;
      color: #191716;
  }
}