.interactive-header h1 {
    font-size: 6em;
    color: #e0e2db;
    position: relative;
    top: 78px;
    font-family: 'Graduate', cursive;
    text-shadow: -7px -5px 6px #beb7a4;
    position: relative;
    left: 60px;
    margin-right: auto;
    margin-left: auto;
}

.int-head-bg {
    position: absolute;
    width: 1500px;
    top: 275px;
    background-color: #191716;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    right: 15px;
}

.interactive-body {
    background-color: #e0e2db;
    padding-bottom: 650px;
    margin-top: -33px;
}

.interactive-online-tutorials {
    position: relative;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-bottom: 174px;
}

#int-intro {
    position: relative;
    left: 50px;
}

#int-intro-header {
    position: relative;
    left: 55px;
}

.sidebar {
    position: absolute;
    width: 200px;
    height: 4700px;
    background-color: #191716;
    left: -195px;
    top: -83px;
}