.int-menu {
  list-style: none;
  padding: 0;
  width: 105%;
  height: 8em;
  margin: 13% auto auto 10%;
  position: relative;
  background-color: #e0e2db;
  z-index: 7;
  border-top: 2px solid #191716;
  border-left: 2px solid #191716;
  text-align: center;


  li {
    float: left;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-right: 2px solid #191716;
  }

  a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #191716;
    text-decoration: none;
    position: relative;
    font-size: 2vw;
    z-index: 9;
    font-family: 'Graduate', cursive;
  }
}

.int-menu2 {
  list-style: none;
  padding: 0;
  width: 105%;
  height: 8em;
  margin: 0% auto auto 0%;
  position: relative;
  background-color: #e0e2db;
  z-index: 7;
  border-top: 2px solid #191716;
  border-bottom: 2px solid #191716;
  border-left: 2px solid #191716;
  text-align: center;

  li {
    float: left;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-right: 2px solid #191716;
  }

  a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #191716;
    text-decoration: none;
    position: relative;
    font-size: 2vw;
    z-index: 9;
    font-family: 'Graduate', cursive;
  }
}

a.active {
  background-color: #e74c3c;
  pointer-events: none;
}

li.slider {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e74c3c;
  z-index: 8;
  transition: left .4s, background-color .4s;
}

li.slider2 {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e74c3c;
  z-index: 8;
  transition: left .4s, background-color .4s;
}

.int-menu li:nth-child(1):hover,
.int-menu li:nth-child(1):focus,
.int-menu li:nth-child(1):active {
  & ~ .slider {
    left: 0;
    background-color: #3498db;
  }
}


.int-menu li:nth-child(2):hover,
.int-menu li:nth-child(2):focus,
.int-menu li:nth-child(2):active {
  & ~ .slider {
    left: 25%;
    background-color: #9b59b6;
  }
}

.int-menu li:nth-child(3):hover,
.int-menu li:nth-child(3):focus,
.int-menu li:nth-child(3):active {
  & ~ .slider {
    left: 50%;
    background-color: #e67e22;
  }
}

.int-menu li:nth-child(4):hover,
.int-menu li:nth-child(4):focus,
.int-menu li:nth-child(4):active {
  & ~ .slider {
    left: 75%;
    background-color: #16a085;
  }
}

.int-menu2 li:nth-child(1):hover,
.int-menu2 li:nth-child(1):focus,
.int-menu2 li:nth-child(1):active {
  & ~ .slider2 {
    left: 0%;
    background-color: #3498db;
  }
}


.int-menu2 li:nth-child(2):hover,
.int-menu2 li:nth-child(2):focus,
.int-menu2 li:nth-child(2):active {
  & ~ .slider2 {
    left: 25%;
    background-color: #9b59b6;
  }
}

.int-menu2 li:nth-child(3):hover,
.int-menu2 li:nth-child(3):focus,
.int-menu2 li:nth-child(3):active {
  & ~ .slider2 {
    left: 50%;
    background-color: #e67e22;
  }
}

.int-menu2 li:nth-child(4):hover,
.int-menu2 li:nth-child(4):focus,
.int-menu2 li:nth-child(4):active {
  & ~ .slider2 {
    left: 75%;
    background-color: #16a085;
  }
}

ul.int-menu {
  width: 95%;
  margin: 10% auto 0 auto;
}

ul.int-menu2 {
  width: 95%;
  margin: 0 auto 10% auto;
}

.int-body {
  width: 100%;
  height: auto;
  margin: 0;
  padding-bottom: 15%;
  background-color: #191716;
}

#int-head {
  width: 100%;
  background-color: #191716;
  height: auto;
  font-size: 9vw;
  color: #e0e2db;
  text-align: center;
  padding-top: 5%;
}

#int-online-tuts {
  width: 80%;
  margin: 0 auto;
  background-color: #e0e2db;
  border-radius: 50px;
  padding-top: 3%;
}

#int-intro {
  margin: 15% auto 0% auto;
  font-size: 1.8vw;
  text-indent: 50px;
  color: #191716;
  background-color: #e6af2e;
  padding: 7% 5% 7% 5%;
  border-radius: 35px;
  width: 80%;
  border: 10px solid #3d348b;
  box-shadow: -12px 15px 30px #beb7a4;
  font-weight: 500;
  line-height: 1.7em;
}

#int-content {
  margin: 0 auto;
  font-size: 1.8vw;
  text-indent: 50px;
  font-weight: 500;
  line-height: 1.7em;
  letter-spacing: 0.01em;

    h2 {
      font-size: 2.5vw;
      margin: 0 auto;
    }

    ol {
      margin-top: 5%;
      padding: 0 5% 15% 5%;
    }

    li {
      margin-top: 15%;
    }

    img {
      margin-bottom: 8%;
      margin-left: 10%;
      height: 69%;
      width: 69%;
    }

    #tutspoint, #dash {
      padding-left: 9%;
    }
}

@media all and (max-width: 800px) {

  #int-content {
    font-size: 2.2vw;

      h2 {
        font-size: 2.9vw;
      }
  }

  #int-intro {
    font-size: 2.2vw;
  }

  #int-head {
    font-size: 10vw;
  }

  #pointh2, #dashh2 {
    width: 90%;
    padding-right: 20%;
  }
}

@media all and (max-width: 650px) {
  #int-content {
    font-size: 2.75vw;

      h2 {
        font-size: 3.3vw;
      }

      img {
        margin-left: 5%;
      }
  }

  #int-intro {
    font-size: 2.75vw;
  }

  #int-head {
    font-size: 11vw;
  }
}

@media all and (max-width: 500px) {
  #int-content {
    font-size: 3.25vw;

      h2 {
        font-size: 3.6vw;
      }

      img {
        margin-left: 0%;
      }
  }

  #int-intro {
    font-size: 3.25vw;
  }

  #int-head {
    font-size: 12vw;
  }

  #int-online-tuts {
    width: 97%;
  }

  #pointh2, #dashh2 {
    width: 90%;
    padding-right: 30%;
  }

  ul.int-menu {

      a {
    font-size: 2.4vw;
      }
  }

  ul.int-menu2 {

      a {
    font-size: 2.4vw;
      }
  }
}

@media all and (max-width: 400px) {
  #int-content {
    font-size: 3.75vw;

      h2 {
        font-size: 4vw;
      }
  }

  #int-intro {
    font-size: 3.75vw;
  }

  #int-head {
    font-size: 12.5vw;
  }
}
