.moocs-header h1 {
    font-size: 6em;
    color: #e0e2db;
    position: relative;
    top: 45px;
    font-family: 'Graduate', cursive;
    text-shadow: -7px -5px 6px #beb7a4;
    position: relative;
}

.moocs-head-bg {
    position: absolute;
    width: 98%;
    top: 275px;
    background-color: #191716;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

.moocs-body {
    background-color: #e0e2db;
    padding-bottom: 650px;
    margin-top: -33px;
    padding-bottom: 700px;
}

.moocs-tutorials {
    position: relative;
    top: 700px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 250px;
    height: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #191716;
}

.moocs-tutorials ul {
    position: relative;
    left: 5%;
}

.moocs-tutorials p {
    text-indent: 50px;
    position: relative;
    margin: 0;
    line-height: 1.8em;
}

.moocs-tutorials ul p {
    width: 88%;
    position: relative;
    border-bottom: 7px solid #e6af2e;
    padding-bottom: 25px;
    font-weight: 800;
}

.moocs-tutorials h2 {
    border-bottom: 10px solid #3d348b;
    width: 45%;
    border-radius: 5%;
    padding-bottom: 15px;
}

.moocs-tutorials a {
    color: #3d348b;
}

.moocs-pics {
    position: relative;
    float: right;
    margin: 20px;
    bottom: 25px;
}

#moocs-intro {
    position: relative;
    left: 5%;
}

#moocs-intro-header {
    position: relative;
    left: 5%;
}

.moocs-sidebar {
    position: absolute;
    width: 15%;
    height: 113.2%;
    background-color: #191716;
    left: -10%;
    top: -13.25%;
}