.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 8em;
    margin: 15% auto auto 0%;
    position: relative;
    background-color: #e0e2db;
    z-index: 7;
    border-top: 2px solid #191716;
    border-left: 2px solid #191716;
    text-align: center;


    li {
      float: left;
      width: 25%;
      height: 100%;
      margin: 0;
      padding: 0;
      border-right: 2px solid #191716;
    }

    a {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      color: #191716;
      text-decoration: none;
      position: relative;
      font-size: 2.3vw;
      z-index: 9;
      font-family: 'Graduate', cursive;
    }
  }

  .menu2 {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 8em;
    margin: 0% auto auto 0%;
    position: relative;
    background-color: #e0e2db;
    z-index: 7;
    border-top: 2px solid #191716;
    border-bottom: 2px solid #191716;
    border-left: 2px solid #191716;
    text-align: center;

    li {
      float: left;
      width: 25%;
      height: 100%;
      margin: 0;
      padding: 0;
      border-right: 2px solid #191716;
    }

    a {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      color: #191716;
      text-decoration: none;
      position: relative;
      font-size: 2.3vw;
      z-index: 9;
      font-family: 'Graduate', cursive;
    }
  }

  a.active {
    background-color: #e74c3c;
    pointer-events: none;
  }

  li.slider {
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e74c3c;
    z-index: 8;
    transition: left .4s, background-color .4s;
  }

  li.slider2 {
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e74c3c;
    z-index: 8;
    transition: left .4s, background-color .4s;
  }

  .menu li:nth-child(1):hover,
  .menu li:nth-child(1):focus,
  .menu li:nth-child(1):active {
    & ~ .slider {
      left: 0;
      background-color: #3498db;
    }
  }


  .menu li:nth-child(2):hover,
  .menu li:nth-child(2):focus,
  .menu li:nth-child(2):active {
    & ~ .slider {
      left: 25%;
      background-color: #9b59b6;
    }
  }

  .menu li:nth-child(3):hover,
  .menu li:nth-child(3):focus,
  .menu li:nth-child(3):active {
    & ~ .slider {
      left: 50%;
      background-color: #e67e22;
    }
  }

  .menu li:nth-child(4):hover,
  .menu li:nth-child(4):focus,
  .menu li:nth-child(4):active {
    & ~ .slider {
      left: 75%;
      background-color: #16a085;
    }
  }

  .menu2 li:nth-child(1):hover,
  .menu2 li:nth-child(1):focus,
  .menu2 li:nth-child(1):active {
    & ~ .slider2 {
      left: 0%;
      background-color: #3498db;
    }
  }


  .menu2 li:nth-child(2):hover,
  .menu2 li:nth-child(2):focus,
  .menu2 li:nth-child(2):active {
    & ~ .slider2 {
      left: 25%;
      background-color: #9b59b6;
    }
  }

  .menu2 li:nth-child(3):hover,
  .menu2 li:nth-child(3):focus,
  .menu2 li:nth-child(3):active {
    & ~ .slider2 {
      left: 50%;
      background-color: #e67e22;
    }
  }

  .menu2 li:nth-child(4):hover,
  .menu2 li:nth-child(4):focus,
  .menu2 li:nth-child(4):active {
    & ~ .slider2 {
      left: 75%;
      background-color: #16a085;
    }
  }

.wrapper {
  width: 99%;
  height: auto;
}


.moocs-header h1 {
    font-size: 6vw;
    color: #e0e2db;
    position: relative;
    margin-top: 10.8%;
    font-family: 'Graduate', cursive;
    text-shadow: -7px -5px 6px #beb7a4;
    z-index: 9;
    margin-left: -5%;
    text-align: center;
    width: 98%;
    padding-bottom: 10%;
}

.moocs-head-bg {
    position: absolute;
    width: 98%;
    background-color: #191716;
    height: 70%;
    margin-left: 9.5%;
    margin-right: auto;
    z-index: 8;
}


.moocs-body {
    background-color: #e0e2db;
    margin-top: -33px;
    padding-bottom: 3%;
}

.moocs-tutorials {
    position: relative;
    margin-top: 75%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 250px;
    height: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.6vw;
    color: #191716;
}

.moocs-tutorials ul {
    position: relative;
    left: 5%;
}

.moocs-tutorials p {
    text-indent: 50px;
    position: relative;
    margin: 0;
    line-height: 1.8em;
}

.moocs-tutorials ul p {
    width: 88%;
    position: relative;
    border-bottom: 7px solid #e6af2e;
    padding-bottom: 25px;
    font-weight: 800;
}

.moocs-tutorials h2 {
    border-bottom: 10px solid #3d348b;
    width: 45%;
    border-radius: 5%;
    padding-bottom: 15px;
    font-size: 2vw;
}

.moocs-tutorials a {
    color: #3d348b;
}

.moocs-pics {
    position: relative;
    float: right;
    margin: 20px;
    bottom: 25px;
    height: 40%;
    width: 40%;
}

#moocs-intro {
    position: relative;
    margin-left: 15%;
    width: 95%;
    padding-bottom: 10%;
}

#moocs-intro-header {
    position: relative;
    margin-left: 20%;
}

.sidenav {
    display: block;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 1%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 7; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #191716; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }


  @media all and (max-width: 1125px) {
    .moocs-tutorials ul {
      position: relative;
      margin-left: 10%;
  }

  .moocs-header h1 {
    font-size: 6vw;
    margin-top: 16.8%;
    margin-left: -8%;
}

.moocs-head-bg {
  width: 100%;
  margin-left: 13.7%;
}

.moocs-tutorials {
  margin-top: 125%;
  font-size: 2vw;
}

.moocs-tutorials h2 {
  font-size: 2.6vw;
}

#moocs-intro {
  position: relative;
  margin-left: 20%;
  width: 91%;
  padding-bottom: 10%;
}

#moocs-intro-header {
  position: relative;
  margin-left: 25%;
}
  }

  @media all and (max-width: 800px) {
    .moocs-header h1 {
      font-size: 6.8vw;
      margin-top: 18.8%;
      margin-left: -7%;
  }
  }

  @media all and (max-width: 635px) {
    .sidenav {
      display: none;
    }

    .moocs-header h1 {
      font-size: 7vw;
      margin-top: 25.8%;
      margin-left: 0%;
  }
  
  .moocs-head-bg {
    width: 105%;
    margin-left: -2.6%;
  }

  .moocs-tutorials {
    margin-top: 125%;
    font-size: 2.4vw;
  }

  .moocs-tutorials h2 {
    font-size: 2.9vw;
  }

  #moocs-intro {
    position: relative;
    margin-left: 7%;
    width: 97%;
    padding-bottom: 10%;
  }
  
  #moocs-intro-header {
    position: relative;
    margin-left: 5%;
  }

  .moocs-tutorials ul {
    margin-left: -5%;
    width: 98%;
}
  }

  @media all and (max-width: 515px) {
    .moocs-tutorials {
      margin-top: 165%;
      font-size: 2.7vw;
    }
  
    .moocs-tutorials h2 {
      font-size: 3.1vw;
    }

    .moocs-header h1 {
      font-size: 7.5vw;
      margin-top: 34.8%;
      margin-left: 0%;
  }
  }

  @media all and (max-width: 440px) {
    .moocs-header h1 {
      font-size: 7.5vw;
      margin-top: 49.8%;
      margin-left: 0%;
  }

  .moocs-tutorials {
    margin-top: 195%;
    font-size: 2.7vw;
  }
  }

  @media all and (max-width: 370px) {
    .moocs-header h1 {
      font-size: 7.5vw;
      margin-top: 42%;
      margin-left: 0%;
  }

  .moocs-head-bg {
    height: 50%;
  }
  }