
.paid-path-menu {
  list-style: none;
  padding: 0;
  width: 105%;
  height: 8em;
  margin: 13% auto auto 10%;
  position: relative;
  background-color: #e0e2db;
  z-index: 7;
  border-top: 2px solid #191716;
  border-left: 2px solid #191716;
  text-align: center;


  li {
    float: left;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-right: 2px solid #191716;
  }

  a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #191716;
    text-decoration: none;
    position: relative;
    font-size: 2vw;
    z-index: 9;
    font-family: 'Graduate', cursive;
  }
}

.paid-path-menu2 {
  list-style: none;
  padding: 0;
  width: 105%;
  height: 8em;
  margin: 0% auto auto 0%;
  position: relative;
  background-color: #e0e2db;
  z-index: 7;
  border-top: 2px solid #191716;
  border-bottom: 2px solid #191716;
  border-left: 2px solid #191716;
  text-align: center;

  li {
    float: left;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-right: 2px solid #191716;
  }

  a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #191716;
    text-decoration: none;
    position: relative;
    font-size: 2vw;
    z-index: 9;
    font-family: 'Graduate', cursive;
  }
}

a.active {
  background-color: #e74c3c;
  pointer-events: none;
}

li.slider {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e74c3c;
  z-index: 8;
  transition: left .4s, background-color .4s;
}

li.slider2 {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e74c3c;
  z-index: 8;
  transition: left .4s, background-color .4s;
}

.paid-path-menu li:nth-child(1):hover,
.paid-path-menu li:nth-child(1):focus,
.paid-path-menu li:nth-child(1):active {
  & ~ .slider {
    left: 0;
    background-color: #3498db;
  }
}


.paid-path-menu li:nth-child(2):hover,
.paid-path-menu li:nth-child(2):focus,
.paid-path-menu li:nth-child(2):active {
  & ~ .slider {
    left: 25%;
    background-color: #9b59b6;
  }
}

.paid-path-menu li:nth-child(3):hover,
.paid-path-menu li:nth-child(3):focus,
.paid-path-menu li:nth-child(3):active {
  & ~ .slider {
    left: 50%;
    background-color: #e67e22;
  }
}

.paid-path-menu li:nth-child(4):hover,
.paid-path-menu li:nth-child(4):focus,
.paid-path-menu li:nth-child(4):active {
  & ~ .slider {
    left: 75%;
    background-color: #16a085;
  }
}

.paid-path-menu2 li:nth-child(1):hover,
.paid-path-menu2 li:nth-child(1):focus,
.paid-path-menu2 li:nth-child(1):active {
  & ~ .slider2 {
    left: 0%;
    background-color: #3498db;
  }
}


.paid-path-menu2 li:nth-child(2):hover,
.paid-path-menu2 li:nth-child(2):focus,
.paid-path-menu2 li:nth-child(2):active {
  & ~ .slider2 {
    left: 25%;
    background-color: #9b59b6;
  }
}

.paid-path-menu2 li:nth-child(3):hover,
.paid-path-menu2 li:nth-child(3):focus,
.paid-path-menu2 li:nth-child(3):active {
  & ~ .slider2 {
    left: 50%;
    background-color: #e67e22;
  }
}

.paid-path-menu2 li:nth-child(4):hover,
.paid-path-menu2 li:nth-child(4):focus,
.paid-path-menu2 li:nth-child(4):active {
  & ~ .slider2 {
    left: 75%;
    background-color: #16a085;
  }
}

ul.paid-path-menu {
  width: 95%;
  margin: 10% auto 0 auto;
}

ul.paid-path-menu2 {
  width: 95%;
  margin: 0 auto 10% auto;
}

.paid-path-body {
  width: 100%;
  height: auto;
  margin: 0;
  padding-bottom: 15%;
  background-color: #1950a8;
}

#paid-path-head {
  width: 100%;
  background-color: #191716;
  height: auto;
  font-size: 9.5vw;
  color: #ea4c09;
  text-align: center;
  padding-top: 8%;
  padding-bottom: 4%;
  font-family: 'IM Fell Great Primer SC', serif;
  text-shadow: -3px 5px 4px #1950a8, -3.3px 5.5px 4.5px #92db00;
}

#paid-path-tuts {
  width: 80%;
  margin: 0 auto;
  background-color: #e0e2db;
  border-radius: 50px;
  padding-top: 3%;
  border: 2px outset #150c30;
  box-shadow: 1.5px 1.5px 3px #92db00, -1.5px -1.5px 3px #92db00;
}

#paid-intro-header, #path-intro-header {
  font-size: 3.5vw;
  text-align: center;
  padding-top: 5%;
  text-shadow: -2px 2px 1px #ea4c09;
  font-family: 'Alfa Slab One', cursive;
}

#paid-intro, #path-intro {
  margin: 15% auto 0% auto;
  font-size: 2vw;
  text-indent: 50px;
  color: #191716;
  background-color: #ea4c09;
  padding: 7% 5% 7% 5%;
  border-radius: 35px;
  width: 80%;
  border: 10px solid #150c30;
  box-shadow: -12px 15px 30px #191716;
  font-weight: 650;
  line-height: 1.7em;
  font-family: 'Source Serif Pro', serif;
  letter-spacing: 0.02em;
}

#path-content {
  margin: 0 auto;
  font-size: 2vw;
  text-indent: 50px;
  font-weight: 650;
  line-height: 1.7em;
  letter-spacing: 0.02em;
  font-family: 'Source Serif Pro', serif;

    a {
      font-size: 3.3vw;
      margin: 0 auto 0 -15%;
      color: #191716;
    }

    a:hover {
      color: #1950a8;
      text-shadow: -3px 3px 2px #92db00;
    }

    h2 {
      border-bottom: 10px solid #1950a8;
      padding-bottom: 1%;
      border-radius: 45px;
      font-family: 'Alfa Slab One', cursive;
      text-align: center;
    }

    ul {
      margin-top: 5%;
      padding: 0 5% 15% 5%;
    }

    li {
      margin-top: 15%;
    }

    img {
      margin-bottom: 8%;
      float: right;
      height: 39%;
      width: 39%;
      margin-top: 5%;
      margin-left: 2%;
    }

    p {
      padding-top: 5%;
      border-bottom: 15px solid #150c30;
      padding-bottom: 4%;
      width: 95%;
      border-radius: 20px;
    }

    p#bento {
      padding-bottom: 10%;
    }
  }

  #paid-content {
    margin: 0 auto;
    font-family: 'Source Serif Pro', serif;
    font-weight: 650;
    line-height: 1.7em;
    letter-spacing: 0.02em;
    font-size: 2vw;

    a {
      font-size: 3.3vw;
      margin: 0 auto;
      color: #191716;
      text-align: center;
    }

    a:hover {
      color: #1950a8;
      text-shadow: -3px 3px 2px #92db00;
    }

    h2 {
      border-bottom: 10px solid #1950a8;
      padding-bottom: 1%;
      border-radius: 45px;
      font-family: 'Alfa Slab One', cursive;
      text-align: center;
    }

    ul {
      margin-top: 5%;
      padding: 0 5% 15% 5%;
    }

    li {
      margin-top: 15%;
    }
    img {
      margin: 10% 0 0 30%;
      height: 39%;
      width: 39%;
      border-bottom: 10px solid #1950a8;
      border-radius: 20px;
    }
  }

  @media all and (max-width: 800px) {
    #paid-path-head {
      font-size: 9.5vw;
    }

    #paid-intro, #path-intro {
      font-size: 2.5vw;
    }

    #path-content {
      font-size: 2.5vw;

        a {
          font-size: 3.6vw;
        }
    }

    #paid-content {

        a {
          font-size: 3.6vw;
        }
    }

    #paid-intro-header, #path-intro-header {
      font-size: 3.8vw;
    }
  }

  @media all and (max-width: 550px) {
    #paid-path-head {
      font-size: 10.5vw;
      padding-top: 17%;
    }

    #paid-intro, #path-intro {
      font-size: 3.6vw;
      width: 100%;
      border-right-style: none;
      border-left-style: none;
      border-top-style: 20px solid #3d348b;
      border-bottom-style: 20px solid #3d348b;
    }

    #path-content {
      font-size: 3.6vw;

        a {
          font-size: 4vw;
        }
    }

    #paid-content {

        a {
          font-size: 4vw;
        }
    }

    #paid-path-tuts {
      width: 100%;
    }

    #paid-intro-header, #path-intro-header {
      font-size: 4.5vw;
    }
  }

  @media all and (max-width: 400px) {
    #paid-intro-header, #path-intro-header {
      font-size: 4.9vw;
    }

    #paid-path-head {
      font-size: 11vw;
    }

    #paid-intro, #path-intro {
      font-size: 4.4vw;
    }

    #path-content {
      font-size: 4.4vw;

        a {
          font-size: 4.9vw;
        }
    }

    #paid-content {

        a {
          font-size: 4.9vw;
        }
    }

    ul.paid-path-menu {

        a{
      font-size: 2.5vw;
        }
    }

    ul.paid-path-menu2 {

        a {
      font-size: 2.5vw;
        }
    }
  }
