.paid-path-header h1 {
    font-size: 6em;
    color: #e0e2db;
    position: relative;
    top: -11.5%;
    margin-top: 6.5%;
    font-family: 'Graduate', cursive;
    text-shadow: -7px -5px 6px #beb7a4;
}

.paid-path-head-bg {
    position: absolute;
    width: 98%;
    top: -13.7%;
    background-color: #191716;
    height: 7.5%;
    margin-left: auto;
    margin-right: auto;
}

.paid-path-tutorials {
    position: relative;
    margin-top: 56%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 50px;
    height: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #191716;
}

.paid-path-body {
    position: relative;
    height: auto;
}

.paid-path-tutorials p {
    text-indent: 50px;
    position: relative;
    margin: 0;
    line-height: 1.8em;
}

.paid-path-tutorials ul p {
    width: 88%;
    position: relative;
    border-bottom: 7px solid #e6af2e;
    padding-bottom: 25px;
    font-weight: 800;
}

.paid-path-tutorials a {
    color: #3d348b;
}

.paid-path-tutorials .path-head {
    border-bottom: 10px solid #3d348b;
    width: 45%;
    border-radius: 5%;
    padding-bottom: 15px;
}

.paid-path-tutorials a {
    color: #3d348b;
}

.paid-pics {
    position: relative;
    margin: 20px;
    bottom: 25px;
    left: 25%;
}

.path-pics {
    float: right;
    position: relative;
    margin: 20px;
    bottom: 25px;
}

#paid-intro, #paid-intro-header, #path-intro, #path-intro-header, .paid-path-tutorials ul {
position: relative;
left: 5%;
top: 30%;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #191716; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

