.referance-header h1 {
    font-size: 6em;
    color: #e0e2db;
    position: relative;
    top: 5%;
    font-family: 'Graduate', cursive;
    text-shadow: -7px -5px 6px #beb7a4;
    left: 2%;
    margin-right: auto;
    margin-left: auto;
    z-index: 2;
}

.referance-head-bg {
    position: absolute;
    width: 98%;
    top: 10.6%;
    background-color: #191716;
    height: 48%;
    margin-left: auto;
    margin-right: auto;
}

.referance-body {
    background-color: #e0e2db;
    padding-bottom: 740px;
    margin-top: -33px;
}

.referance {
    position: relative;
    top: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-bottom: 174px;
    height: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #191716;
}

.referance p {
    text-indent: 50px;
    position: relative;
    margin: 0;
    line-height: 1.8em;
}

.referance ul p {
    width: 88%;
    position: relative;
    border-bottom: 7px solid #e6af2e;
    padding-bottom: 25px;
    font-weight: 800;
}

.referance h2 {
    border-bottom: 10px solid #3d348b;
    width: 45%;
    border-radius: 5%;
    padding-bottom: 15px;
}

.referance a {
    color: #3d348b;
}

.questions a {
    color: #e6af2e;
}

.referance-pics {
    position: relative;
    float: right;
    margin: 20px;
}

.referance-pics-google {
    position: relative;
    float: right;
    margin: 20px;
    bottom: 70px;
}

.referance-pics-mozilla {
    position: relative;
    float: right;
    margin: 20px;
    bottom: 70px;
}

#referance-intro, #referance-intro-header, #questions-intro, #questions-intro-header, .referance ul {
    position: relative;
    left: 5%;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #191716; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
