.referance-header h1 {
    font-size: 6em;
    color: #e0e2db;
    position: relative;
    top: 78px;
    font-family: 'Graduate', cursive;
    text-shadow: -7px -5px 6px #beb7a4;
    position: relative;
    left: 45px;
    margin-right: auto;
    margin-left: auto;
}

.referance-head-bg {
    position: absolute;
    width: 1500px;
    top: 275px;
    background-color: #191716;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    right: 20px;
}

.referance-body {
    background-color: #e0e2db;
    padding-bottom: 650px;
    margin-top: -33px;
}

.referance {
    position: relative;
    top: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-bottom: 174px;
    height: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #191716;
}

.referance p {
    text-indent: 50px;
    position: relative;
    margin: 0;
    line-height: 1.8em;
}

.referance ul p {
    width: 88%;
    position: relative;
    border-bottom: 7px solid #e6af2e;
    padding-bottom: 25px;
    font-weight: 800;
}

.referance h2 {
    border-bottom: 10px solid #3d348b;
    width: 45%;
    border-radius: 5%;
    padding-bottom: 15px;
}

.referance a {
    color: #3d348b;
}

.questions a {
    color: #e6af2e;
}

.referance-pics {
    position: relative;
    float: right;
    /*width: 500px;*/
    margin: 20px;
}

.referance-pics-google {
    position: relative;
    float: right;
    /*width: 500px;*/
    margin: 20px;
    bottom: 70px;
}

.referance-pics-mozilla {
    position: relative;
    float: right;
    /*width: 500px;*/
    margin: 20px;
    bottom: 70px;
}


.referance-sidebar {
    position: absolute;
    width: 200px;
    height: 190.5%;
    background-color: #191716;
    left: -210px;
    top: -83px;
}