#tech-body {
    background-color: #191716;
    margin: 0;
    width: 100%;
    height: auto;
    padding-bottom: 15%;
}

#get-news {
    font-size: 4vw;
    text-shadow: 1px -2px 2px #191716;
    background-color: #e6af2e;
    color: #3d348b;
    margin-left: 7%;
    border: 8px solid #3d348b;
    box-shadow: 2px -5px 4px #e0e2db;
    padding: 1%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.feedgrabbr_widget {
  margin-top: 10%;
  padding-top: 5%;
}

#tech-head {
    font-size: 13vw;
    background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/b_rgb:1b0d0d,o_56/v1538436299/news.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #3d348b;
    padding: 5%;
    font-weight: 900;
    text-shadow: 0px 9px 8px #e6af2e;
    font-family: 'K2D', sans-serif;

        #t {
            display: block;
            margin-left: -4%;
        }

        #n {
            display: block;
            margin-left: 68%;
            margin-top: -18%;
        }
}

#tech-intro {
    font-size: 2.5vw;
    color: #e0e2db;
    text-align: center;
    margin-top: 5%;
    padding-bottom: 5%;
}

.rss-item a {
    font-size: 2vw;
    border: none;
    color: #e6af2e;
}

.rss-item a:hover {
    color: #beb7a4;
}

.rss-item {
    font-size: 1.6vw;
    background-color: #3d348b;
    color: #beb7a4;
    font-family: 'Source Serif Pro', serif;
    border: 8px solid #e6af2e;
    margin-top: 5%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 3%;
    width: 100%;
}

.rss-box {
    color: #3d348b;
    width: 95%;
    margin-top: 10%;
}

ul.rss-items {
    margin-left: 3%;
}

span.rss-item {
    margin-left: 22.5%;
    font-size: 4vw;
}

a.rss-title {
    display: none;
}



.rss-box-hn {
    margin-top: 10%;
    width: 95%;

    a.rss-title {
        display: none;
    }

    span.rss-item {
        margin-left: 30%;
        font-size: 4.2vw;
        margin-top: 10%;
    }

    ul.rss-items {
        margin-left: 3%;
    }

    .rss-item p {
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

}

@media all and (max-width: 800px) {
    #tech-intro {
        font-size: 2.8vw;
    }

    .rss-item {
        font-size: 2vw;
    }

    .rss-item a {
        font-size: 2.3vw;
    }

    span.rss-item {
        font-size: 4.3vw;
        margin-left: 20.5%;
    }

    .rss-box-hn {
        span.rss-item {
            font-size: 4.5vw;
        }
    }
}

@media all and (max-width: 600px) {
    #tech-intro {
        font-size: 3.2vw;
    }

    .rss-item {
        font-size: 2.4vw;
    }

    .rss-item a {
        font-size: 2.7vw;
    }

    span.rss-item {
        font-size: 4.7vw;
        margin-left: 20.5%;
    }

    .rss-box-hn {
        span.rss-item {
            font-size: 4.9vw;
        }
    }
}

@media all and (max-width: 500px) {
    #tech-intro {
        font-size: 3.5vw;
    }

    .rss-item {
        font-size: 2.7vw;
    }

    .rss-item a {
        font-size: 3vw;
    }

    span.rss-item {
        font-size: 5vw;
        margin-left: 17.5%;
    }

    .rss-box-hn {
        span.rss-item {
            font-size: 5.2vw;
        }
    }
}

@media all and (max-width: 400px) {

    .rss-box {
        width: 100%;
    }

    #tech-intro {
        font-size: 4vw;
    }

    .rss-item {
        font-size: 3.3vw;
    }

    .rss-item a {
        font-size: 3.6vw;
    }

    span.rss-item {
        font-size: 5.6vw;
        margin-left: 10.5%;
    }

    .rss-box-hn {
        width: 100%;
        span.rss-item {
            font-size: 5.8vw;
            margin-left: 21%;
        }

        ul.rss-items {
            margin-left: -10%;
            list-style: none;
        }
    }

    ul.rss-items {
        margin-left: -10%;
        list-style: none;
    }
}
