.tools-menu {
    list-style: none;
    padding: 0;
    width: 105%;
    height: 8em;
    margin: 13% auto auto 10%;
    position: relative;
    background-color: #e0e2db;
    z-index: 7;
    border-top: 2px solid #191716;
    border-left: 2px solid #191716;
    text-align: center;


    li {
      float: left;
      width: 25%;
      height: 100%;
      margin: 0;
      padding: 0;
      border-right: 2px solid #191716;
    }

    a {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      color: #191716;
      text-decoration: none;
      position: relative;
      font-size: 2vw;
      z-index: 9;
      font-family: 'Graduate', cursive;
    }

    a:hover {
      color: #e0e2db;
    }

  }

  .tools-menu2 {
    list-style: none;
    padding: 0;
    width: 105%;
    height: 8em;
    margin: 0% auto auto 0%;
    position: relative;
    background-color: #e0e2db;
    z-index: 7;
    border-top: 2px solid #191716;
    border-bottom: 2px solid #191716;
    border-left: 2px solid #191716;
    text-align: center;

    li {
      float: left;
      width: 25%;
      height: 100%;
      margin: 0;
      padding: 0;
      border-right: 2px solid #191716;
    }

    a {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      color: #191716;
      text-decoration: none;
      position: relative;
      font-size: 2vw;
      z-index: 9;
      font-family: 'Graduate', cursive;
    }

    a:hover {
      color: #e0e2db;
    }
  }

  a.active {
    background-color: #e74c3c;
    pointer-events: none;
  }

  li.slider {
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e74c3c;
    z-index: 8;
    transition: left .4s, background-color .4s;
  }

  li.slider2 {
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e74c3c;
    z-index: 8;
    transition: left .4s, background-color .4s;
  }

  .tools-menu li:nth-child(1):hover,
  .tools-menu li:nth-child(1):focus,
  .tools-menu li:nth-child(1):active {
    & ~ .slider {
      left: 0;
      background-color: #3d348b;
    }
  }


  .tools-menu li:nth-child(2):hover,
  .tools-menu li:nth-child(2):focus,
  .tools-menu li:nth-child(2):active {
    & ~ .slider {
      left: 25%;
      background-color: #27748b;
    }
  }

  .tools-menu li:nth-child(3):hover,
  .tools-menu li:nth-child(3):focus,
  .tools-menu li:nth-child(3):active {
    & ~ .slider {
      left: 50%;
      background-color: #fd5000;
    }
  }

  .tools-menu li:nth-child(4):hover,
  .tools-menu li:nth-child(4):focus,
  .tools-menu li:nth-child(4):active {
    & ~ .slider {
      left: 75%;
      background-color: #04f110;
    }
  }

  .tools-menu2 li:nth-child(1):hover,
  .tools-menu2 li:nth-child(1):focus,
  .tools-menu2 li:nth-child(1):active {
    & ~ .slider2 {
      left: 0%;
      background-color: #3d348b;
    }
  }


  .tools-menu2 li:nth-child(2):hover,
  .tools-menu2 li:nth-child(2):focus,
  .tools-menu2 li:nth-child(2):active {
    & ~ .slider2 {
      left: 25%;
      background-color: #27748b;
    }
  }

  .tools-menu2 li:nth-child(3):hover,
  .tools-menu2 li:nth-child(3):focus,
  .tools-menu2 li:nth-child(3):active {
    & ~ .slider2 {
      left: 50%;
      background-color: #fd5000;
    }
  }

  .tools-menu2 li:nth-child(4):hover,
  .tools-menu2 li:nth-child(4):focus,
  .tools-menu2 li:nth-child(4):active {
    & ~ .slider2 {
      left: 75%;
      background-color: #04f110;
    }
  }

  ul.tools-menu {
    width: 95%;
    margin: 10% auto 0 auto;
  }

  ul.tools-menu2 {
    width: 95%;
    margin: 0 auto 10% auto;
  }

  .tools-body {
    width: 100%;
    height: auto;
    margin: 0;
    padding-bottom: 15%;
    background-color: #191716;
  }

  #tools-head, #csshead, #html-head {
    width: 100%;
    background-color: #191716;
    height: auto;
    font-size: 8.5vw;
    color: #e6af2e;
    text-align: center;
    padding-top: 11%;
    font-family: 'IM Fell Great Primer SC', serif;
    text-shadow: -3px 5px 4px #3d348b, -3.3px 5.2px 4.2px #e6af2e;
  }

  #css-head, #html-head {
    padding-top: 7%;
    padding-bottom: 5%;
  }

  #tools-page {
    width: 80%;
    margin: 0 auto;
    background-color: #e0e2db;
    border-radius: 50px;
    padding-top: 3%;
  }

  #tools-intro-header {
    font-size: 4.5vw;
    text-align: center;
    padding-top: 10%;
    text-shadow: -2px 2px 1px #e6af2e;
    font-family: 'Alfa Slab One', cursive;
  }

  #tools-intro, #html-tools-intro, #css-tools-intro, #color-picker-intro, #gradient-intro, #color-palette-intro, #color-theory-intro, #minifiers-intro, .framework-intro {
    margin: 15% auto 0% auto;
    font-size: 2vw;
    text-indent: 50px;
    color: #191716;
    background-color: #e6af2e;
    padding: 7% 5% 7% 5%;
    border-radius: 35px;
    width: 80%;
    border: 10px solid #3d348b;
    box-shadow: -12px 15px 30px #beb7a4, -13px 15.5px 10px #191716;
    font-weight: 650;
    line-height: 1.7em;
    font-family: 'Source Serif Pro', serif;
    letter-spacing: 0.02em;
  }

  #check-out {
    font-size: 2.4vw;
    color: #3d348b;
    text-shadow: 2px -4px 3px #e6af2e;
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    font-weight: 900;
  }



#all-tools, #all-tools-html, #all-tools-css {
  height: 15%;
  width: 100%;
  background-color: #e6af2e;


  #all-tools-menu, #all-tools-menu-html, #all-tools-menu-css {
    font-size: 2.6vw;
    text-align: center;
    color: #3d348b;
    font-family: 'Carter One', cursive;
    font-weight: 900;
    margin-top: 10%;
  }
}

  #tools-intro-header1 {
    font-size: 4.5vw;
    padding-top: 20%;
    text-shadow: -2px 2px 1px #e6af2e;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    margin-left: 5%;
  }

  #tools-intro1 {
    margin: 15% auto 0% auto;
    font-size: 2vw;
    color: #191716;
    background-color: #e6af2e;
    padding: 7% 5% 7% 5%;
    border-radius: 35px;
    width: 93%;
    border: 10px solid #3d348b;
    box-shadow: -12px 15px 30px #beb7a4;
    font-weight: 650;
    line-height: 1.7em;
    font-family: 'Source Serif Pro', serif;
    letter-spacing: 0.02em;
    box-shadow: -12px 15px 30px #beb7a4, -13px 15.5px 10px #191716;

        p#editor-intro {
            border-style: none;
            text-indent: 50px;
        }

        span {
            color: #43036b;
        }
  }

  #tools-content {
    margin: 0 auto;
    font-size: 2vw;
    text-indent: 50px;
    font-weight: 650;
    line-height: 1.7em;
    letter-spacing: 0.02em;
    font-family: 'Source Serif Pro', serif;

    #color-theory-infographic {
      height: auto;
      width: 60%;
      border-bottom-style: none;
      margin-left: 20%;
      padding-bottom: 5%;
    }

      a {
        font-size: 3.3vw;
        margin: 0 auto;
        color: #191716;
      }

      a:hover {
        color: #3d348b;
        text-shadow: -3px 3px 2px #e6af2e;
      }

      h2, h3 {
        text-align: center;
        border-bottom: 10px solid #e6af2e;
        padding-bottom: 1%;
        border-radius: 45px;
        font-family: 'Alfa Slab One', cursive;
        padding-right: 5%;
      }

      h4 {
        font-family: 'Alfa Slab One', cursive;
        font-size: 2.5vw;
      }

      ul {
        margin-top: 5%;
        padding: 0 5% 15% 5%;
      }

      li {
        margin-top: 15%;
      }

      img {
        margin: 5% 0 1% 30%;
        height: 39%;
        width: 39%;
        padding-bottom: 10%;
        border-bottom: 15px solid #3d348b;
        border-radius: 20px;
      }

      img.floated {
          float: right;
          margin: 5% auto 8% auto;
          border-bottom: none;
      }

      img.floater {
        float: right;
        margin: 5% auto 0.5% auto;
        border-bottom: none;
    }

      p {
        padding-top: 5%;
        border-bottom: 15px solid #3d348b;
        padding-bottom: 14%;
        width: 95%;
        border-radius: 20px;
      }

      #wysiwyg {
        font-size: 3vw;
        margin-top: 10%;
      }

      #html-tools, #css-tools {

          h2, #color-pickers {
            font-size: 3.3vw;
            padding-top: 10%;
          }

          p {
            padding-bottom: 5%;
            margin: 0 auto 10% auto;
          }

          #wysiwyg {
            padding: 0% 0% 1% 5%;
            border-bottom: 15px solid #3d348b;
            border-radius: 20px;

              li {
                margin-top: 5%;
              }
          }
      }

      #tools-frameworks {

        .framework-head {
          font-size: 3.6vw;
        }

        .framework-head2 {
          font-size: 3.3vw;
          margin: 7% auto 0% auto;
          padding-right: 15%;
        }

        .p1 {
          border-bottom: none;
        }

        .list-nest {
          width: 110%;
          margin-left: -5%;
          padding-top: 5%;
          background-color: #beb7a4;
          border-radius: 50px;
          border: 2px solid #e6af2e;

            h3 {
              text-shadow: -2px 3px 2px #e0e2db;
            }

            #semantic-wrap {
              width: 100%;
              height: auto;
              font-size: 1.3vw;
              text-align: center;
              padding: 0;
              

              #semantic-menu {
                width: 62%;
                margin-left: 20%;
                height: auto;
                display: block;
                border-bottom: none;
                border: 3px solid #3d348b;
                padding: 0;
                box-shadow: -3.5px -5px 3px #191716;
            }
            }

        #bootstrap-wrap {
          width: 100%;
          height: auto;
          font-size: 1.3vw;
          text-align: center;
          padding: 0;
          

          #BS-menu {
            width: 110%;
            margin-left: -5%;
            height: auto;
            display: block;
            border-bottom: none;
            border: 2px solid #3d348b;
            padding: 0;
            box-shadow: 1.5px -2px 2px #191716;
        }
        }
      }

        a {
          font-size: 4vw;
        }

        p {
          padding-bottom: 2%;
        }

        #more-frame {
          margin: 0 auto;
          border-top: 15px solid #e6af2e;
          border-top-left-radius: -20px;
          border-top-right-radius: -20px;
          padding-top: 2%;
        }

        #more-frame-list {

          li {
            margin-top: 4%;
          }

            li ul li {
              margin-top: 3.5%;
              font-size: 2vw;
              border-bottom: 1px solid #191716;
            }

            li a {
              border-bottom: 3px solid #3d348b;
            }
        }

        .frame-img {
          width: 110%;
          border-bottom-style: none;
          padding: 0%;
          margin: 0 auto 0 -5%;
          max-height: 450px;
          box-shadow: 5px 5px 3px #191716;
        }
    }
    }



    @media all and (max-width: 800px) {
        #tools-head {
            font-size: 12.5vw;
            padding-top: 14%;
        }

        #tools-intro-header, #tools-intro-header1 {
            font-size: 5vw;
        }

        #tools-intro, #tools-intro1, #html-tools-intro, #css-tools-intro, #color-picker-intro, #gradient-intro, #color-palette-intro, #color-theory-intro {
            font-size: 2.5vw;
        }

        #tools-content {
            font-size: 2.5vw;

                a {
                    font-size: 3.8vw;
                }

                h2 {
                  padding-right: 10%;
                }
        }
    }

    @media all and (max-width: 500px) {
        #tools-head {
            font-size: 13.5vw;
            padding-top: 17%;
        }

        #check-out {
          font-size: 3.2vw;
        }

        #all-tools, #all-tools-html, #all-tools-css {

        #all-tools-menu, #all-tools-menu-html, #all-tools-menu-css {
          font-size: 4vw;
        }
      }

        #tools-intro-header, #tools-intro-header1 {
            font-size: 5.5vw;
        }

        #tools-intro, #tools-intro1, #html-tools-intro, #css-tools-intro, #color-picker-intro, #gradient-intro, #color-palette-intro, #color-theory-intro {
            width: 100%;
            border-right-style: none;
            border-left-style: none;
            border-top-style: 20px solid #3d348b;
            border-bottom-style: 20px solid #3d348b;
            font-size: 3.5vw;
        }

        #tools-content {
            font-size: 3.5vw;

                a {
                    font-size: 4.4vw;
                }

                h2 {
                    margin-left: -1%;
                    padding-right: 10%;
                }
        }

        #tools-page {
            width: 100%;
        }

        ul.tools-menu {

          a {
            font-size: 2.5vw;
          }
        }

        ul.tools-menu2 {

          a {
            font-size: 2.5vw;
          }
        }
    }

    @media all and (max-width: 380px) {
        #tools-head {
            font-size: 14.5vw;
        }

        #tools-intro-header {
            font-size: 6vw;
        }

        #tools-intro-header1 {
          font-size: 5vw;
        }

        #tools-intro, #tools-intro1, #html-tools-intro, #css-tools-intro, #color-picker-intro, #gradient-intro, #color-palette-intro, #color-theory-intro {
            font-size: 4.4vw;
        }

        #tools-intro1 {
          padding-right: 0%;
        }

        #tools-content {
            font-size: 4.4vw;

                a {
                    font-size: 4.9vw;
                }
        }
    }
