.tools-header h1 {
    font-size: 6em;
    color: #e0e2db;
    position: relative;
    margin-top: 6.8%;
    font-family: 'Graduate', cursive;
    text-shadow: -7px -5px 6px #beb7a4;
}

.tools-head-bg {
    position: absolute;
    width: 98%;
    top: 12%;
    background-color: #191716;
    height: 43%;
    margin-left: auto;
    margin-right: auto;
}

.tools-body {
    background-color: #e0e2db;
    padding-bottom: 650px;
    margin-top: -33px;
    padding-bottom: 700px;
}

.tools-page {
    position: relative;
    top: 700px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 250px;
    height: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #191716;
}

.tools-page p {
    text-indent: 50px;
    position: relative;
    margin: 0;
    line-height: 1.8em;
}

.tools-page ul p {
    width: 88%;
    position: relative;
    border-bottom: 7px solid #e6af2e;
    padding-bottom: 25px;
    font-weight: 800;
}

.tools-page h2 {
    border-bottom: 10px solid #3d348b;
    width: 45%;
    border-radius: 5%;
    padding-bottom: 15px;
}

.tools a {
    color: #3d348b;
}

.tools-pics {
    position: relative;
    float: right;
    margin: 20px;
    bottom: 25px;
}

.free-editor {
    margin-left: 5%;
}

#free-edit-intro, #free-edit-header-intro, #online-edit-intro, #online-edit-intro-header, .tools-page ul {
    position: relative;
    left: 5%;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #191716; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }