.tuts-body {
    height: auto;
    margin: 0;
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: #beb7a4;
    width: 100%;
}

#tuts-head {
    width: 100%;
    background-color: #191716;
    height: auto;
    color: #e0e2db;
    text-align: center;
    font-size: 8vw;
    font-family: 'IM Fell Great Primer SC', serif;
    z-index: 1;
    padding-top: 1%;
    margin-top: -25%;
    text-shadow: -3px 5px 4px #3d348b;
}

#zombie {
    background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1535502983/Zombie2-min.png);
    background-size: 100% 100%;
    z-index: 5;
    margin: 25% auto 0 auto;
    width: 33%;
    height: 470px;
    border-radius: 25% 25% 5% 5%;
    box-shadow: -3px 5px 4px #3d348b;
}

#tuts-intro {
    margin: 5% auto 0% auto;
    font-size: 1.9vw;
    text-indent: 50px;
    color: #191716;
    background-color: #e6af2e;
    padding: 7% 7% 7% 7%;
    border-radius: 250px;
    width: 80%;
    border: 10px solid #3d348b;
    box-shadow: -12px 15px 30px #191716;
    font-weight: 650;
    font-family: 'Source Serif Pro', serif;
}

#tuts-info {
    width: 100%;
}

#tuts1 {
    width: 100%;
    height: 600px;
    font-size: 1.6vw;
    background-color: #3d348b;
    font-family: 'Ubuntu Mono', monospace;
    margin-top: 10%;
    background: linear-gradient(0deg, #3d348b, #e6af2e);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 37s ease infinite;
    -moz-animation: AnimationName 37s ease infinite;
    animation: AnimationName 37s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:50% 0%}
        50%{background-position:51% 100%}
        100%{background-position:50% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:50% 0%}
        50%{background-position:51% 100%}
        100%{background-position:50% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:50% 0%}
        50%{background-position:51% 100%}
        100%{background-position:50% 0%}
    }
}

#inttuts {
    position: relative;
    margin-left: 1%;
    top: 5%;
    display: block;
    height: 90%;
    width: 30%;
    background-color: #beb7a4;
    color: #3d348b;
    border: 5px solid #191716;
    border-right-width: 0px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 40px;


        a {
            color: #191716;
        }

        a:hover {
            color: #3d348b;
        }

        p:hover {
            color:#191716;
            text-shadow: 2px -1px 3px #e6af2e;
        }

        h3 {
            font-family: 'Holtwood One SC', serif;
            font-size: 1.85vw;
            border-bottom: 2px solid #3d348b;
            text-align: center;
            padding-bottom: 2%;
            padding-top: 4%;
            text-shadow: -2px -1px 2px #e6af2e;
        }

        p {
            padding-top: 2%;
            text-indent: 50px;
        }

        #foryou {
            color: rgb(40, 161, 18);
            font-size: 1.6vw;
        }

        #smallprint {
            color: rgb(214, 68, 0);
            font-size: 1.2vw;
        }
}

#booktuts {
    position: relative;
    top: 5%;
    margin-left: 31%;
    margin-top: -540px;
    display: block;
    height: 90%;
    width: 30%;
    background-color: #beb7a4;
    color: #3d348b;
    border: 5px solid #191716;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 40px;

        a {
            color: #191716;
        }

        a:hover {
            color: #3d348b;
        }

        p:hover {
            color:#191716;
            text-shadow: 2px -1px 3px #e6af2e;
        }

        h3 {
            font-family: 'Holtwood One SC', serif;
            font-size: 1.85vw;
            border-bottom: 2px solid #3d348b;
            text-align: center;
            padding-bottom: 2%;
            padding-top: 4%;
            text-shadow: -2px -1px 2px #e6af2e;
        }

        p {
            padding-top: 2%;
            text-indent: 50px;
        }
}

#freeCodeCamp {
    position: relative;
    margin-left: 63%;
    margin-top: -450px;
    display: block;
    background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1531579245/freecodecamp_1.png);
    background-size: 100% 100%;
    height: 454.72px;
    width: 35%;
}

#tuts2 {
    width: 100%;
    height: 600px;
    font-size: 1.6vw;
    background-color: #e6af2e;
    font-family: 'Ubuntu Mono', monospace;
    background: linear-gradient(181deg, #e6af2e, #3d348b);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 37s ease infinite;
    -moz-animation: AnimationName 37s ease infinite;
    animation: AnimationName 37s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:50% 0%}
        50%{background-position:51% 100%}
        100%{background-position:50% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:50% 0%}
        50%{background-position:51% 100%}
        100%{background-position:50% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:50% 0%}
        50%{background-position:51% 100%}
        100%{background-position:50% 0%}
    }
}

#videotuts {
    position: relative;
    margin-left: 69%;
    top: 5%;
    display: block;
    height: 90%;
    width: 30%;
    background-color: #beb7a4;
    color: #3d348b;
    border: 5px solid #191716;
    border-left-width: 0px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 40px;

        a {
            color: #191716;
        }

        a:hover {
            color: #3d348b;
        }

        p:hover {
            color:#191716;
            text-shadow: 2px -1px 3px #e6af2e;
        }

        h3 {
            font-family: 'Holtwood One SC', serif;
            font-size: 1.85vw;
            border-bottom: 2px solid #3d348b;
            text-align: center;
            padding-bottom: 2%;
            padding-top: 4%;
            text-shadow: -2px -1px 2px #e6af2e;
            margin-top: -468px;
        }

        p {
            padding-top: 2%;
            text-indent: 50px;
        }

        #lottawords {
            color: rgb(214, 68, 0);
            font-size:1.2vw;
        }
}

#mooctuts {
    position: relative;
    top: 5%;
    margin-left: 39%;
    margin-top: -540px;
    display: block;
    height: 90%;
    width: 30%;
    background-color: #beb7a4;
    color: #3d348b;
    border: 5px solid #191716;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 40px;

        a {
            color: #191716;
        }

        a:hover {
            color: #3d348b;
        }

        p:hover {
            color:#191716;
            text-shadow: 2px -1px 3px #e6af2e;
        }

        h3 {
            font-family: 'Holtwood One SC', serif;
            font-size: 1.85vw;
            border-bottom: 2px solid #3d348b;
            text-align: center;
            padding-bottom: 2%;
            padding-top: 4%;
            text-shadow: -2px -1px 2px #e6af2e;
        }

        p {
            padding-top: 2%;
            text-indent: 50px;
        }
}

#videomooc {
    margin-left: -268%;
    margin-top: 9%;
    display: block;
    background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1531579224/videomooc-min.png);
    background-size: 100% 100%;
    height: 454.72px;
    width: 135%;
}

#tuts3 {
    width: 100%;
    height: 600px;
    font-size: 1.6vw;
    background-color: #3d348b;
    font-family: 'Ubuntu Mono', monospace;
    background: linear-gradient(0deg, #3d348b, #e6af2e);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 37s ease infinite;
    -moz-animation: AnimationName 37s ease infinite;
    animation: AnimationName 37s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:50% 0%}
        50%{background-position:51% 100%}
        100%{background-position:50% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:50% 0%}
        50%{background-position:51% 100%}
        100%{background-position:50% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:50% 0%}
        50%{background-position:51% 100%}
        100%{background-position:50% 0%}
    }
}

#paidandpath {
    position: relative;
    margin-left: 1%;
    top: 5%;
    display: block;
    height: 90%;
    width: 30%;
    background-color: #beb7a4;
    color: #3d348b;
    border: 5px solid #191716;
    border-left-width: 0px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 40px;

        a {
            color: #191716;
        }

        a:hover {
            color: #3d348b;
        }

        p:hover {
            color:#191716;
            text-shadow: 2px -1px 3px #e6af2e;
        }

        h3 {
            font-family: 'Holtwood One SC', serif;
            font-size: 1.85vw;
            border-bottom: 2px solid #3d348b;
            text-align: center;
            padding-bottom: 2%;
            padding-top: 4%;
            text-shadow: -2px -1px 2px #e6af2e;
        }

        p {
            padding-top: 2%;
            text-indent: 50px;
        }
}

#refandquest {
    position: relative;
    top: 5%;
    margin-left: 31%;
    margin-top: -540px;
    display: block;
    height: 90%;
    width: 30%;
    background-color: #beb7a4;
    color: #3d348b;
    border: 5px solid #191716;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 40px;

        a {
            color: #191716;
        }

        a:hover {
            color: #3d348b;
        }

        p:hover {
            color:#191716;
            text-shadow: 2px -1px 3px #e6af2e;
        }

        h3 {
            font-family: 'Holtwood One SC', serif;
            font-size: 1.85vw;
            border-bottom: 2px solid #3d348b;
            text-align: center;
            padding-bottom: 2%;
            padding-top: 4%;
            text-shadow: -2px -1px 2px #e6af2e;
        }

        p {
            padding-top: 2%;
            text-indent: 50px;
        }
}

#refandpath {
    margin-left: 63%;
    margin-top: -450px;
    display: block;
    background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1531579221/refandpath.png);
    background-size: 100% 100%;
    height: 454.72px;
    width: 35%;
}

#tuts4 {
    width: 100%;
    height: 600px;
    font-size: 1.75vw;
    background-color: #e6af2e;
    font-family: 'Ubuntu Mono', monospace;
    margin-top: -8%;
    background: linear-gradient(181deg, #e6af2e, #3d348b);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 37s ease infinite;
    -moz-animation: AnimationName 37s ease infinite;
    animation: AnimationName 37s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:50% 0%}
        50%{background-position:51% 100%}
        100%{background-position:50% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:50% 0%}
        50%{background-position:51% 100%}
        100%{background-position:50% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:50% 0%}
        50%{background-position:51% 100%}
        100%{background-position:50% 0%}
    }
}

#tools  {
    position: relative;
    margin-left: 39%;
    top: -70.5%;
    display: block;
    height: 90%;
    width: 60%;
    background-color: #beb7a4;
    color: #3d348b;
    border: 5px solid #191716;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 40px;

        a {
            color: #191716;
        }

        a:hover {
            color: #3d348b;
        }

        p:hover {
            color:#191716;
            text-shadow: 2px -1px 3px #e6af2e;
        }

        h2 {
            font-family: 'Holtwood One SC', serif;
            font-size: 2.5vw;
            border-bottom: 2px solid #3d348b;
            text-align: center;
            padding-bottom: 2%;
            padding-top: 4%;
            text-shadow: -2px -1px 2px #e6af2e;
        }

        p {
            padding-top: 2%;
            text-indent: 50px;
        }
    }

#tools-pic {
    position: relative;
    top: 13%;
    margin-top: 8%;
    margin-left: 1%;
    padding-top: 4%;
    display: block;
    background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1531579247/tools-min.png);
    background-size: 100% 100%;
    height: 454.72px;
    width: 38%;
}

@media all and (max-width: 1150px) {
    #zombie {
        background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1535502983/Zombie2-min.png);
        background-size: 100% 100%;
        z-index: 5;
        margin: 25% auto 0 auto;
        width: 33%;
        height: 380px;
    }

}

@media all and (max-width: 950px) {
    #zombie {
        background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1535502983/Zombie2-min.png);
        background-size: 100% 100%;
        z-index: 5;
        margin: 25% auto 0 auto;
        width: 33%;
        height: 340px;
    }

    #tuts1, #tuts2, #tuts3 {
        font-size: 2vw;

            h3 {
                font-size: 2.3vw;
            }
    }

    #tuts4 {
        font-size: 2.4vw;

            h2 {
                font-size: 2.8vw;
            }
    }

    #tuts-head {
        font-size: 8vw;
    }

#tuts-intro {
    font-size: 1.9vw;
    padding: 8% 8% 10% 8%;
}
}

@media all and (max-width: 750px) {
    #zombie {
        background-image: url(https://res.cloudinary.com/dmks1qdth/image/upload/v1535502983/Zombie2-min.png);
        background-size: 100% 100%;
        z-index: 5;
        margin: 25% auto 0 auto;
        width: 33%;
        height: 250px;
    }

    #tuts1, #tuts2, #tuts3 {
        font-size: 2.2vw;

            h3 {
                font-size: 2.6vw;
            }
    }

    #tuts4 {
        font-size: 2.6vw;

            h2 {
                font-size: 3.3vw;
            }
    }

    #tuts-head {
        font-size: 8.05vw;
    }

#tuts-intro {
    font-size: 2.7vw;
    padding: 9.5%;
    border-radius: 150px;
}
}

@media all and (max-width: 600px) {

    #tuts-head {
        font-size: 8.1vw;
    }

    #zombie {
        height: 200px;
    }

    #tuts-intro {
        margin: 5% auto 0% auto;
        font-size: 3.2vw;
        padding: 7% 5% 7% 5%;
        border-radius: 0%;
        width: 100%;
        border: 10px solid #3d348b;
    }

    #tuts1 {
        font-size: 3vw;
    }

    #inttuts {
        margin-left: 0%;
        top: 5%;
        width: 50%;
        border-right-width: 0px;

            h3 {
                font-size: 3.5vw;
            }


            #foryou {
                font-size: 3vw;
            }

            #smallprint {
                font-size: 2.1vw;
            }
    }

    #booktuts {
        top: 5%;
        width: 50%;
        margin-left: 50%;

            h3 {
                font-size: 3.5vw;
            }

    }

    #tuts2 {
        font-size: 3vw;
    }

    #videotuts {
        top: 5%;
        width: 50%;
        margin-left: 0%;
        border-left-width: 5px;

            h3 {
                font-size: 3.5vw;
                margin-top: 0px;
            }

            #lottawords {
                font-size: 2.2vw;
            }
    }

    #mooctuts {
        border-left-width: 0px;
        top: 5%;
        width: 50%;
        margin-left: 50%;

            h3 {
                font-size: 3.5vw;
            }
    }

    #tuts3 {
        font-size: 3vw;
    }

    #paidandpath {
        top: 5%;
        width: 51%;
        margin-left: -0.25%;
        border-left-width: 5px;

            h3 {
                font-size: 3.5vw;
            }
    }

    #refandquest {
        top: 5%;
        margin-top: -540px;
        width: 50%;
        margin-left: 50%;


            h3 {
                font-size: 3.5vw;
            }
    }

    #tuts4 {
        font-size: 3.25vw;
        margin-top: -5%;
    }

    #tools  {
        top: 5%;
        width: 98%;
        margin: 5% auto 0 auto;

            h2 {
                font-size: 3.75vw;
        }
    }

    #tools-pic, #refandpath, #videomooc, #freeCodeCamp {
        display: none;
    }
}

@media all and (max-width: 550px) {

    #tuts1, #tuts2, #tuts3 {
        font-size: 3.5vw;

            h3 {
                font-size: 3.8vw;
            }
    }

    #tuts4 {
        font-size: 3.8vw;

            h2 {
                font-size: 4vw;
            }
    }

    #tuts-head {
        font-size: 8.1vw;
    }

#tuts-intro {
    font-size: 3.6vw;
}
}

@media all and (max-width: 400px) {
    #tuts1, #tuts2, #tuts3 {
        font-size: 4.2vw;

            h3 {
                font-size: 4.5vw;
            }

            p {
                text-indent: 10px;
                padding-left: 1%;
            }

            #smallprint {
                font-size: 2.5vw;
            }
    }

    #tuts4 {
        font-size: 4.7vw;

            h2 {
                font-size: 5vw;
            }
    }

    #tuts-head {
        font-size: 8vw;
    }

#tuts-intro {
    font-size: 4.4vw;
    padding-left: 3%;
    padding-right:1%;
}

#zombie {
    height: 125px;
}
}
