.tutorials-body {
    position: relative;
}


/*.zombie {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 100px;
    border-radius: 50%;
    z-index: 1;
}*/

.tutorials-header {
    position: relative;
    top: 100px;
}

.tutorials-header h1 {
    top: 100px;
    font-size: 5em;
    font-family: "Bungee Inline", cursive;
    color: #d1670a;
    z-index: 2;
    position: relative;
    background-color: black;
}

.tutorial-content,
.tools-content {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    top: 400px;
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #cccccc;
}

.tutorial-content p,
.tools-content p {
    text-indent: 50px;
    position: relative;
    margin: 0;
    line-height: 1.8em;
    width: 690px;
}

.tutorials-info {
    position: relative;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 800px;
}

.monitor {
    background-image: url(https://lh3.googleusercontent.com/7OMEI6K02_qP6IwhsA4SDDVVtvFVQExYcUDpntW9PkNh16yHTBmmvcMPzPU5pQJxh6r1C-S6pxbVZBp-8VTLdSGXyEx7ywpZ1qh0iGLgM9_ap2zfXQZF6kWmDwaf1UeAyk1vjDv-vJHXIlDhAFkZbovZ1RKjY5c3FBsVc8g195GDOcLzCDcToJPqalopMIAJP31TP-tMb8crrTBbb1Ic5dU179HeWUexaPZ6zgNoBV37PgoMrvcvOKBoFxQyCEHR70qrErO0HKzGnPWLgpkY5WRqMDrfQfTtFmeiEVLTsph-4U2CQX_iq6U0rWADDsQ-mHOnqMxGi55qqxWAtfCtcHZ-zusYVgKgrcCMiTP0VRQf0juErsQqd5OssbRmo_N0Y37FRNZAeKfyduU6WNabUwX-0YYt44TjT79E2ekAgeoAUnLP-3Asa7T6UFzS7ir3UKIrmTPBNlkDnPbjzE3-8UoUg2Ow4W1cUj65Q29gS_DeXJBP5BuDkdcgKR8c0XdG_TxEiN89eP5WcWEWjbcUTMSLj7OWnZXmiLuyjEi2yn1Hd5KKRTZyojpfygQCu2EboqbyT8VmsC9eQxXC5PyV145xvYhG0wCBnW9TwwI=w1075-h900-no);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 650px;
    height: 740px;
    padding-left: 5px;
    padding-right: 5px;
}

.inttutorials {
    position: relative;
    top: 700px;
    height: 500px;
    background-color: blue;
    border: 10px solid red;
    color: white;
}

.booktutorials {
    position: relative;
    top: 700px;
    height: 500px;
    background-color: blue;
    border: 10px solid red;
    color: white;
}

.videotutorials {
    position: relative;
    top: 700px;
    height: 500px;
    background-color: blue;
    border: 10px solid red;
    color: white;
}

.mooctutorials {
    position: relative;
    top: 700px;
    height: 500px;
    background-color: blue;
    border: 10px solid red;
    color: white;
}

.paidtutorialsandpath {
    position: relative;
    top: 700px;
    height: 500px;
    background-color: blue;
    border: 10px solid red;
    color: white;
}

.referanceandquestions {
    position: relative;
    top: 700px;
    height: 500px;
    background-color: blue;
    border: 10px solid red;
    color: white;
}

.tools {
    position: relative;
    top: 700px;
    height: 500px;
    background-color: blue;
    border: 10px solid red;
    color: white;
}