.video-menu {
    list-style: none;
    padding: 0;
    width: 105%;
    height: 8em;
    margin: 13% auto auto 10%;
    position: relative;
    background-color: #e0e2db;
    z-index: 7;
    border-top: 2px solid #191716;
    border-left: 2px solid #191716;
    text-align: center;


    li {
      float: left;
      width: 25%;
      height: 100%;
      margin: 0;
      padding: 0;
      border-right: 2px solid #191716;
    }

    a {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      color: #191716;
      text-decoration: none;
      position: relative;
      font-size: 2vw;
      z-index: 9;
      font-family: 'Graduate', cursive;
    }
  }

  .video-menu2 {
    list-style: none;
    padding: 0;
    width: 105%;
    height: 8em;
    margin: 0% auto auto 0%;
    position: relative;
    background-color: #e0e2db;
    z-index: 7;
    border-top: 2px solid #191716;
    border-bottom: 2px solid #191716;
    border-left: 2px solid #191716;
    text-align: center;

    li {
      float: left;
      width: 25%;
      height: 100%;
      margin: 0;
      padding: 0;
      border-right: 2px solid #191716;
    }

    a {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      color: #191716;
      text-decoration: none;
      position: relative;
      font-size: 2vw;
      z-index: 9;
      font-family: 'Graduate', cursive;
    }
  }

  a.active {
    background-color: #e74c3c;
    pointer-events: none;
  }

  li.slider {
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e74c3c;
    z-index: 8;
    transition: left .4s, background-color .4s;
  }

  li.slider2 {
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e74c3c;
    z-index: 8;
    transition: left .4s, background-color .4s;
  }

  .video-menu li:nth-child(1):hover,
  .video-menu li:nth-child(1):focus,
  .video-menu li:nth-child(1):active {
    & ~ .slider {
      left: 0;
      background-color: #3498db;
    }
  }


  .video-menu li:nth-child(2):hover,
  .video-menu li:nth-child(2):focus,
  .video-menu li:nth-child(2):active {
    & ~ .slider {
      left: 25%;
      background-color: #9b59b6;
    }
  }

  .video-menu li:nth-child(3):hover,
  .video-menu li:nth-child(3):focus,
  .video-menu li:nth-child(3):active {
    & ~ .slider {
      left: 50%;
      background-color: #e67e22;
    }
  }

  .video-menu li:nth-child(4):hover,
  .video-menu li:nth-child(4):focus,
  .video-menu li:nth-child(4):active {
    & ~ .slider {
      left: 75%;
      background-color: #16a085;
    }
  }

  .video-menu2 li:nth-child(1):hover,
  .video-menu2 li:nth-child(1):focus,
  .video-menu2 li:nth-child(1):active {
    & ~ .slider2 {
      left: 0%;
      background-color: #3498db;
    }
  }


  .video-menu2 li:nth-child(2):hover,
  .video-menu2 li:nth-child(2):focus,
  .video-menu2 li:nth-child(2):active {
    & ~ .slider2 {
      left: 25%;
      background-color: #9b59b6;
    }
  }

  .video-menu2 li:nth-child(3):hover,
  .video-menu2 li:nth-child(3):focus,
  .video-menu2 li:nth-child(3):active {
    & ~ .slider2 {
      left: 50%;
      background-color: #e67e22;
    }
  }

  .video-menu2 li:nth-child(4):hover,
  .video-menu2 li:nth-child(4):focus,
  .video-menu2 li:nth-child(4):active {
    & ~ .slider2 {
      left: 75%;
      background-color: #16a085;
    }
  }

  ul.video-menu {
    width: 95%;
    margin: 10% auto 0 auto;
  }

  ul.video-menu2 {
    width: 95%;
    margin: 0 auto 10% auto;
  }

  .video-body {
    width: 100%;
    height: auto;
    margin: 0;
    padding-bottom: 15%;
    background-color: #191716;
  }

  #video-head {
    width: 100%;
    background-color: #191716;
    height: auto;
    font-size: 10.5vw;
    color: #e0e2db;
    text-align: center;
    padding-top: 8%;
    font-family: 'Special Elite', cursive;
    text-shadow: -3px 5px 4px #3d348b;
  }

  #video-tuts {
    width: 80%;
    margin: 0 auto;
    background-color: #e0e2db;
    border-radius: 50px;
    padding-top: 3%;
  }

  #video-intro {
    margin: 15% auto 0% auto;
    font-size: 1.8vw;
    text-indent: 50px;
    color: #191716;
    background-color: #e6af2e;
    padding: 7% 5% 7% 5%;
    border-radius: 35px;
    width: 80%;
    border: 10px solid #3d348b;
    box-shadow: -12px 15px 30px #beb7a4;
    font-weight: 500;
    line-height: 1.7em;
    font-family: 'Crete Round', serif;
    letter-spacing: 0.02em;
  }

  #video-content {
    margin: 0 auto;
    font-size: 1.8vw;
    text-indent: 50px;
    font-weight: 500;
    line-height: 1.7em;
    letter-spacing: 0.02em;
    font-family: 'Crete Round', serif;

      a {
        font-size: 2.8vw;
        margin: 0 auto 0 -3%;
        color: #191716;
      }

      a:hover {
        color: #3d348b;
        text-shadow: -3px 3px 2px #e6af2e;
      }

      h2 {
        border-bottom: 10px solid #e6af2e;
        padding-bottom: 1%;
        border-radius: 45px;
        font-family: 'Alfa Slab One', cursive;
      }

      ol {
        margin-top: 5%;
        padding: 0 5% 15% 5%;
      }

      li {
        margin-top: 15%;
      }

      img {
        margin-bottom: 8%;
        float: right;
        height: 39%;
        width: 39%;
        margin-top: 5%;
        margin-left: 2%;
        padding-bottom: 1%;
      }

      p#rfz {
          padding-bottom: 15%;
      }

      p {
        padding-top: 5%;
        border-bottom: 15px solid #3d348b;
        padding-bottom: 4%;
        width: 95%;
        border-radius: 20px;
      }

      span {
          font-size: 2vw;
          margin-left: 5%;
      }
    }

    @media all and (max-width: 800px) {
        #video-head {
            font-size: 11.5vw;
        }

        #video-intro {
            font-size: 2.2vw;
        }

        #video-content {
            font-size: 2.2vw;

                a {
                  font-size: 3.1vw;
                }

                a#upskill {
                    margin-left: -8%;
                    padding-left: 1%;
                    font-size: 2.9vw;
                }

                span {
                  font-size: 2.4vw;
                }
        }
    }

    @media all and (max-width: 600px) {
        #video-head {
            font-size: 12.5vw;
        }

        #video-intro {
            font-size: 3vw;
            width: 100%;
            border-right-style: none;
            border-left-style: none;
            border-top-style: 20px solid #3d348b;
            border-bottom-style: 20px solid #3d348b;
        }

        #video-content {
            font-size: 3vw;

                a {
                  font-size: 3.5vw;
                }

                a#upskill {
                    margin-left: -13%;
                    padding-left: 0.1%;
                    font-size: 3.2vw;
                }

                span {
                  font-size: 3vw;
                }
        }
    }

    @media all and (max-width: 485px) {
        #video-tuts {
            width: 100%;
        }

        #video-head {
            font-size: 13vw;
        }

        #video-intro {
            font-size: 3.5vw;
        }

        #video-content {
            font-size: 3.5vw;

                a {
                  font-size: 3.8vw;
                }

                a#upskill {
                    margin-left: -5%;
                    padding-left: 0.1%;
                    font-size: 3.7vw;
                }

                span {
                  font-size: 3.5vw;
                }
        }

          ul.video-menu {
              a {
            font-size: 2.5vw;
              }
          }

          ul.video-menu2 {
              a {
            font-size: 2.5vw
              }
          }
    }

    @media all and (max-width: 395px) {

        #video-head {
            font-size: 13.5vw;
        }

        #video-intro {
            font-size: 4.2vw;
        }

        #video-content {
            font-size: 4.2vw;

                a {
                    margin-left: -9%;
                  font-size: 4.5vw;
                }

                a#upskill {
                    margin-left: -15%;
                    padding-left: 0.1%;
                    font-size: 3.8vw;
                }

                span {
                  font-size: 4.3vw;
                }
        }
    }
