.css-body {
    width: 100%;
    height: auto;
    margin: 0;
    padding-bottom: 4%;
    background-color: #e0e2db;
}

#css-head {
    font-family: 'IM Fell Great Primer SC', serif;
    width: 100%;
    height: 100%;
    background-color: #e0e2db;
    font-size: 6vw;
    color: #191716;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
    text-shadow: 3px -2px 3px #e6af2e;
}

#html-by {
    font-size: 2vw;
    text-align: center;
    color: #191716;
    margin-top: -5%;
}

#html-intro {
    margin: 5% auto 6% auto;
    font-size: 1.6vw;
    text-indent: 50px;
    color: #191716;
    background-color: #e6af2e;
    padding: 7% 5% 7% 5%;
    border-radius: 125px;
    width: 80%;
    border: 10px solid #3d348b;
    box-shadow: -12px 15px 30px #beb7a4;
    font-weight: 800;
    font-family: 'Source Serif Pro', serif;
}

#css-content {
    background-color: #e0e2db;
    width: 100%;
    color: #191716;
    margin: 0 auto;
    padding: 2% 5% 5% 5%;
    border-radius: 100px;
    line-height: 1.47;
    font-family: 'Source Serif Pro', serif;
    word-spacing: 0.15em;
    font-weight: 550;

    #mob-res-ex {
        display: none;
    }

    h2 {
        font-size: 2.7vw;
        text-align: center;
        color: #191716;
        padding-bottom: 2.5%;
        padding-top: 3%;
        margin-top: 2%;
        border-top: 3px solid #191716;
        border-bottom: 15px solid #191716;
        border-radius: 50px 50px 150px 150px;
        font-family: 'IM Fell Great Primer SC', serif;
        background-color: #beb7a4;
        text-shadow: -2px -2px 1px #e0e2db;
        font-weight: 600;
    }

    h3, h4 {
        font-family: 'IM Fell Great Primer SC', serif;
        border-bottom: 9px solid #191716;
        font-size: 2.1vw;
        padding-top: 8%;
        text-shadow: -1px -1.25px 1.5px #3d348b;
    }

    .prepro {
        font-family: 'IM Fell Great Primer SC', serif;
        border-bottom: 9px solid #191716;
        font-size: 1.9vw;
        padding-top: 8%;
        text-shadow: -1px -1.25px 1.5px #3d348b;
    }

    p {
        color: #191716;
        font-size: 1.75vw;
        width: 92%;
        margin-left: 5%;
        margin-top: 5%;
        padding-top: 1%;
        text-indent: 50px;
        padding-bottom: 5%;
    }

    #drag {
        margin-left: 43%;
    }

    .fa-arrow-left {
        margin-left: 95%;
        margin-top: -25%;
        display: block;
        font-size: 2vw;
    }

    #animation {
        margin-top: 15%;
    }

    a {
        color: #3d348b;
    }

    a:hover {
        color: #e6af2e;
        font-size: 3.5vw;
        text-shadow: 0px 0px 7px #3d348b;
    }

    .highlight {
        background-color: yellow;
    }

    iframe {
        margin-left: 7%;
        margin-top: 5%;
    }

    #resizable-ex {
        resize: horizontal;
        overflow: scroll;
        height: 95vh;
        width: 80vw;
        min-width: 480px;
        max-width: 1106.240px;
    }

    #ext-stylesheet {
        width: 70%;
        padding-top: 3%;
        margin: 5% auto 5% 15%;
    }

    #refresher-css {
        font-size: 2.2vw;
        margin-left: 7%;
    }

    #css-tuts-img {
        width: 50%;
        float: left;
        padding-right: 3%;
    }

    #css-tuts-selectors {
        margin-top: 8%;
        border-bottom: 3px dashed #e6af2e;
        padding-bottom: 5%;

        #more-col {
            column-count: 2;
            column-width: 40%;
            margin-top: 17%;
            margin-bottom: 5%;
        }
        
            li {
                font-size: 1.25vw;

                h5{
                    font-size: 1.8vw;
                    font-weight: 900;
                    text-shadow: 0px 0px 2px #e6af2e, 0px 0px 3px #191716;
                    color: #3d348b;
                }
            }
    }

    .common-selectors, #media-query-ex, .css-measure {

        margin-top: 8%;
        border-bottom: 3px dashed #e6af2e;
        padding-bottom: 5%;

            li {
                font-size: 1.7vw;

                h5{
                    font-size: 1.8vw;
                    font-weight: 900;
                    text-shadow: 0px 0px 2px #e6af2e, 0px 0px 3px #191716;
                    color: #3d348b;
                }

                    p {
                        font-size: 1.4vw;
                        margin-top: 0.5%;
                    }
            }
    }

    #media-query-ex {

            li {
                margin-top: 3%;
            }
    }

    #box-m {
        width: 50%;
        margin-left: 24%;
        box-shadow: -4px 4.5px 9px #191716;
        margin-top: 5%;
    }

    .black-bg {
        background-color: #191716;
        box-shadow: -4px 8px 7px #3d348b;
        border-radius: 25px;
        padding: 5% 0%;

            a, h3 {
                color: #e6af2e;
                text-shadow: -4px -5px 3px #3d348b;
                font-size: 4vw;
                text-align: center;
            }

            p, li {
                color: #e0e2db;
            }

            li {
                margin-left: 22%;
            }
    }

    #css-html-class-ex {
        height: auto;
        width: 100%;
        margin: 0 auto;
    }

    #css-class-ex {
        height: auto;
        width: 44%;
        margin: 0 auto;
        float: left;
        padding-right: 1%;
    }

    figcaption {
        font-size: 1.89vw;
    }

    #fig-cap {
        text-align: center;
    } 

    #css-end {
        text-align: center;
        font-size: 2.5vw;
        text-shadow: 2.5px -2.5px 3px #191716;
    }
}

@media all and (max-width: 1000px) {

    #css-content {

    iframe {
        margin-left: -5%;
        margin-top: 5%;
    }

    #resizable-ex {
        resize: horizontal;
        overflow: scroll;
        height: 70vh;
        width: 84vw;
        min-width: 580px;
        max-width: 1106.240px;
    }

    .fa-arrow-left {
        margin-left: 98%;
    }
}
}

@media all and (max-width: 900px) {

    #css-content {
        padding: 2% 0.5% 5% 0.5%;

        iframe {
            margin-left: -5%;
            margin-top: 5%;
        }
    
        #resizable-ex {
            resize: horizontal;
            overflow: scroll;
            height: 44vh;
            width: 96vw;
            min-width: 580px;
            max-width: 1106.240px;
        }

        #drag {
            margin-left: 38%;
        }
    
        .fa-arrow-left {
            margin-left: 98%;
        }

        #ext-stylesheet {
            width: 90%;
            margin-left: 5%;
        }

        h2 {
            font-size: 3.1vw
        }

        h3, h4 {
            font-size: 2.4vw;
        }

        .prepro {
            font-size: 2.15vw;
        }

        p {
            font-size: 2.05vw;
        }

        .fa-arrow-left {
            font-size: 2.2vw;
        }

        a:hover {
            font-size: 3.7vw;
        }

        #refresher-css {
            font-size: 2.25vw;
        }

        .black-bg {

            a, h3 {
                font-size: 4.3vw;
            }
        }

        figcaption {
            font-size: 2.1vw;
        }

        #css-end {
            font-size: 3vw;
        }

        #css-tuts-img {
            width: 70%;
        }

    #css-tuts-selectors, .common-selectors, #media-query-ex, .css-measure {

        #more-col {
            column-count: 1;
            column-width: 100%;
            margin-top: 3%;
            margin-bottom: 5%;
        }

            li {
                font-size: 2.25vw;
                margin-top: 3%;

                    h5 {
                        font-size: 3vw;
                    }

                    p {
                        font-size: 2vw;
                    }
            }
    }

    #media-query-ex {

        li {
        margin-left: 9%;
        }
    }
}
}

@media all and (max-width: 700px) {
    #css-head {
        font-size: 7vw;
    }

    #html-intro {
        font-size: 2.6vw;
    }

    #css-content {

        iframe {
            margin-left: -5%;
            margin-top: 5%;
        }
    
        #resizable-ex {
            resize: horizontal;
            overflow: scroll;
            height: 44vh;
            width: 96vw;
            min-width: 480px;
            max-width: 1106.240px;
        }

        #drag {
            margin-left: 0%;
        }
    
        .fa-arrow-left {
            margin-left: 80%;
        }

            h2 {
                font-size: 3.3vw
            }

            h3, h4 {
                font-size: 2.6vw;
            }

            .prepro {
                font-size: 2.35vw;
            }

            p {
                font-size: 2.25vw;
            }

            .fa-arrow-left {
                font-size: 2.4vw;
            }

            a:hover {
                font-size: 4vw;
            }

            #refresher-css {
                font-size: 2.55vw;
            }

            .black-bg {

                a, h3 {
                    font-size: 4.5vw;
                }
            }

            figcaption {
                font-size: 2.3vw;
            }

            #css-end {
                font-size: 3.2vw;
            }

            #css-html-class-ex {
                height: 275px;
            }

            #css-class-ex {
                width: 58%;
            }

            #media-query-ex {

                li {
                margin-left: 3%;
                }
            }

            #css-tuts-selectors, .common-selectors, #media-query-ex, .css-measure {
        
                    li {
                        font-size: 2.65vw;
                        margin-top: 3%;
        
                            h5 {
                                font-size: 3.3vw;
                            }
        
                            p {
                                font-size: 2.25vw;
                            }
                    }
            }
        }
        }

        @media all and (max-width: 550px) {
            #css-head {
                font-size: 7.1vw;
            }
        
            #html-intro {
                font-size: 3vw;
            }
        
            #css-content {

                #mob-res-ex {
                    padding-top: 3%;
                    display: inline;

                        a:hover {
                            color: #3d348b;
                        }
                }

                iframe {
                    display: none;
                    margin-left: -5%;
                    margin-top: 5%;
                }
            
                #resizable-ex {
                    display: none;
                    resize: horizontal;
                    overflow: scroll;
                    height: 44vh;
                    width: 96vw;
                    min-width: 480px;
                    max-width: 1106.240px;
                }
        
                #drag {
                    display: none;
                    margin-left: 0%;
                }
            
                .fa-arrow-left {
                    display: none;
                    margin-left: 80%;
                }

                    #box-m {
                        width: 60%;
                    }
        
                    h2 {
                        font-size: 3.6vw
                    }
        
                    h3, h4 {
                        font-size: 3.7vw;
                    }
        
                    .prepro {
                        font-size: 3.5vw;
                    }
        
                    p {
                        font-size: 2.6vw;
                    }
        
                    .fa-arrow-left {
                        font-size: 2.7vw;
                    }
        
                    a:hover {
                        font-size: 4.5vw;
                    }
        
                    #refresher-css {
                        font-size: 2.85vw;
                    }
        
                    .black-bg {
        
                        a, h3 {
                            font-size: 4.8vw;
                        }
                    }
        
                    figcaption {
                        font-size: 2.6vw;
                    }
        
                    #css-end {
                        font-size: 4vw;
                    }
        
                    #css-html-class-ex {
                        height: 275px;
                    }
        
                    #css-class-ex {
                        width: 58%;
                    }
        
                    #media-query-ex {
        
                        li {
                        margin-left: 3%;
                        }
                    }
        
                    #css-tuts-selectors, .common-selectors, #media-query-ex, .css-measure {
                
                            li {
                                font-size: 4vw;
                                margin-top: 3%;
                
                                    h5 {
                                        font-size: 3.7vw;
                                    }
                
                                    p {
                                        font-size: 2.55vw;
                                    }
                            }
                    }
                }
        }

        @media all and (max-width: 450px) {
            #css-head {
                font-size: 7.5vw;
            }
        
            #html-intro {
                font-size: 3.6vw;
            }
        
            #css-content {

                #ext-stylesheet {
                    height: 160px;
                    width: 100%;
                    margin-left: 0%;
                }

                #css-tuts-img {
                    width: 100%;
                    float: none;
                }

                    #box-m {
                        width: 90%;
                        margin-left: 2.5%;
                    }
        
                    h2 {
                        font-size: 4.3vw
                    }
        
                    h3, h4 {
                        font-size: 4.1vw;
                    }
        
                    .prepro {
                        font-size: 3.8vw;
                    }
        
                    p {
                        font-size: 3.7vw;
                    }
        
                    .fa-arrow-left {
                        font-size: 3.4vw;
                    }
        
                    a:hover {
                        font-size: 4.9vw;
                    }
        
                    #refresher-css {
                        font-size: 3.8vw;
                    }
        
                    .black-bg {
        
                        a, h3 {
                            font-size: 5vw;
                        }
                    }
        
                    figcaption {
                        font-size: 3.7vw;
                    }
        
                    #css-end {
                        font-size: 4.5vw;
                    }
        
                    #css-html-class-ex {
                        height: 275px;
                    }
        
                    #css-class-ex {
                        float: none;
                        width: 100%;
                    }
        
                    #media-query-ex {
        
                        li {
                        margin-left: 3%;
                        }
                    }
        
                    #css-tuts-selectors, .common-selectors, #media-query-ex, .css-measure {
                
                            li {
                                font-size: 4.2vw;
                                margin-top: 3%;
                
                                    h5 {
                                        font-size: 4vw;
                                    }
                
                                    p {
                                        font-size: 3.6vw;
                                    }
                            }
                    }
                }
        }